[class=""]::before,
[id=""]::before,
main:not(:first-of-type)::before,
figcaption:not(:only-of-type)::before,
figcaption:not(:last-child):not(:first-child)::before,
[href^="mailto"]::before,
[href^="tel"]::before,
a[role="button"]::before,
[target$="blank"]::before,
[download]::before,
[href$=".pdf"]::before,
[href$=".doc"]::before,
[href$=".png"]::before,
[href$=".jpg"]::before,
[href$=".gif"]::before,
[href$=".mp3"]::before,
[href$=".mp4"]::before,
[href$=".mov"]::before,
[href$=".ogg"]::before,
[href$=".xls"]::before,
[href$=".txt"]::before,
[href$=".zip"]::before,
[href$=".rar"]::before,
[href$=".docx"]::before,
[role="main"] ~ [role="main"]::before,
[role="search"] ~ [role="search"]::before,
[role="banner"] ~ [role="banner"]::before,
[role="contentinfo"] ~ [role="contentinfo"]::before,
[id*="search"]:not([role="search"])::before,
[class*="search"]:not([role="search"])::before,
[hidden]:not(:empty)::before,
[aria-hidden="true"]:not(:empty)::before,
time::before,
[datetime]::before,
th[scope]::before,
table[role="presentation"]::before,
area[class=""] ~ ::after,
base[class=""] ~ ::after,
br[class=""] ~ ::after,
col[class=""] ~ ::after,
command[class=""] ~ ::after,
embed[class=""] ~ ::after,
hr[class=""] ~ ::after,
img[class=""] ~ ::after,
input[class=""] ~ ::after,
keygen[class=""] ~ ::after,
link[class=""] ~ ::after,
meta[class=""] ~ ::after,
param[class=""] ~ ::after,
source[class=""] ~ ::after,
track[class=""] ~ ::after,
wbr[class=""] ~ ::after,
textarea[class=""] ~ ::after,
select[class=""] ~ ::after,
svg[class=""] ~ ::after,
audio[class=""] ~ ::after,
video[class=""] ~ ::after,
iframe[class=""] ~ ::after,
area[id=""] ~ ::after,
base[id=""] ~ ::after,
br[id=""] ~ ::after,
col[id=""] ~ ::after,
command[id=""] ~ ::after,
embed[id=""] ~ ::after,
hr[id=""] ~ ::after,
img[id=""] ~ ::after,
input[id=""] ~ ::after,
keygen[id=""] ~ ::after,
link[id=""] ~ ::after,
meta[id=""] ~ ::after,
param[id=""] ~ ::after,
source[id=""] ~ ::after,
track[id=""] ~ ::after,
wbr[id=""] ~ ::after,
textarea[id=""] ~ ::after,
select[id=""] ~ ::after,
svg[id=""] ~ ::after,
audio[id=""] ~ ::after,
video[id=""] ~ ::after,
iframe[id=""] ~ ::after,
input[id*="search"]:not([role="search"]) ~ ::after,
input[class*="search"]:not([role="search"]) ~ ::after,
[required] ~ ::after,
[aria-required] ~ ::after,
input[required] ~ ::after,
input[aria-required] ~ ::after,
select[required] ~ ::after,
select[aria-required] ~ ::after,
textarea[required] ~ ::after,
textarea[aria-required] ~ ::after,
area[hidden]:not(:empty) ~ ::after,
area[aria-hidden="true"]:not(:empty) ~ ::after,
base[hidden]:not(:empty) ~ ::after,
base[aria-hidden="true"]:not(:empty) ~ ::after,
br[hidden]:not(:empty) ~ ::after,
br[aria-hidden="true"]:not(:empty) ~ ::after,
col[hidden]:not(:empty) ~ ::after,
col[aria-hidden="true"]:not(:empty) ~ ::after,
command[hidden]:not(:empty) ~ ::after,
command[aria-hidden="true"]:not(:empty) ~ ::after,
embed[hidden]:not(:empty) ~ ::after,
embed[aria-hidden="true"]:not(:empty) ~ ::after,
hr[hidden]:not(:empty) ~ ::after,
hr[aria-hidden="true"]:not(:empty) ~ ::after,
img[hidden]:not(:empty) ~ ::after,
img[aria-hidden="true"]:not(:empty) ~ ::after,
input[hidden]:not(:empty) ~ ::after,
input[aria-hidden="true"]:not(:empty) ~ ::after,
keygen[hidden]:not(:empty) ~ ::after,
keygen[aria-hidden="true"]:not(:empty) ~ ::after,
link[hidden]:not(:empty) ~ ::after,
link[aria-hidden="true"]:not(:empty) ~ ::after,
meta[hidden]:not(:empty) ~ ::after,
meta[aria-hidden="true"]:not(:empty) ~ ::after,
param[hidden]:not(:empty) ~ ::after,
param[aria-hidden="true"]:not(:empty) ~ ::after,
source[hidden]:not(:empty) ~ ::after,
source[aria-hidden="true"]:not(:empty) ~ ::after,
track[hidden]:not(:empty) ~ ::after,
track[aria-hidden="true"]:not(:empty) ~ ::after,
wbr[hidden]:not(:empty) ~ ::after,
wbr[aria-hidden="true"]:not(:empty) ~ ::after,
textarea[hidden]:not(:empty) ~ ::after,
textarea[aria-hidden="true"]:not(:empty) ~ ::after,
select[hidden]:not(:empty) ~ ::after,
select[aria-hidden="true"]:not(:empty) ~ ::after,
svg[hidden]:not(:empty) ~ ::after,
svg[aria-hidden="true"]:not(:empty) ~ ::after,
audio[hidden]:not(:empty) ~ ::after,
audio[aria-hidden="true"]:not(:empty) ~ ::after,
video[hidden]:not(:empty) ~ ::after,
video[aria-hidden="true"]:not(:empty) ~ ::after,
iframe[hidden]:not(:empty) ~ ::after,
iframe[aria-hidden="true"]:not(:empty) ~ ::after,
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) ~ ::after,
video ~ ::after,
audio ~ ::after,
img[alt][title] ~ ::after,
area[alt][title] ~ ::after,
svg[aria-label][title] ~ ::after {
  border-radius: 0                                                      !important;
  border-style: solid                                                   !important;
  border-width: 0 0 1px                                                 !important;
  bottom: auto                                                          !important;
  display: block                                                        !important;
  font: 400 normal 1rem/1.5 "Source Code Pro", "SourceCodePro-Medium", "Fira Mono", "Droid Sans Mono", "Ubuntu Mono", "Consolas", "Monaco", "Andale Mono", monospace                                                       !important;
  height: auto                                                          !important;
  left: 0                                                               !important;
  opacity: 0;
  padding: 1em 0;
  pointer-events: none                                                  !important;
  position: fixed                                                       !important;
  right: 0                                                              !important;
  text-align: center                                                    !important;
  text-decoration: none                                                 !important;
  text-shadow: 0 1px 0 rgba(255,255,255,.2) !important;
  text-transform: none                                                  !important;
  top: 0                                                                !important;
  -webkit-transform: translateY(-100%) translateZ(0) !important;
          transform: translateY(-100%) translateZ(0) !important;
  transition: -webkit-transform .3s ease-in                             !important;
  transition:         transform .3s ease-in                             !important;
  transition:         transform .3s ease-in, -webkit-transform .3s ease-in                             !important;
  white-space: pre;
  width: 100%                                                           !important;
}[class=""]:hover::before,
[id=""]:hover::before,
main:not(:first-of-type):hover::before,
figcaption:not(:only-of-type):hover::before,
figcaption:not(:last-child):not(:first-child):hover::before,
[href^="mailto"]:hover::before,
[href^="tel"]:hover::before,
a[role="button"]:hover::before,
[target$="blank"]:hover::before,
[download]:hover::before,
[href$=".pdf"]:hover::before,
[href$=".doc"]:hover::before,
[href$=".png"]:hover::before,
[href$=".jpg"]:hover::before,
[href$=".gif"]:hover::before,
[href$=".mp3"]:hover::before,
[href$=".mp4"]:hover::before,
[href$=".mov"]:hover::before,
[href$=".ogg"]:hover::before,
[href$=".xls"]:hover::before,
[href$=".txt"]:hover::before,
[href$=".zip"]:hover::before,
[href$=".rar"]:hover::before,
[href$=".docx"]:hover::before,
[role="main"] ~ [role="main"]:hover::before,
[role="search"] ~ [role="search"]:hover::before,
[role="banner"] ~ [role="banner"]:hover::before,
[role="contentinfo"] ~ [role="contentinfo"]:hover::before,
[id*="search"]:not([role="search"]):hover::before,
[class*="search"]:not([role="search"]):hover::before,
[hidden]:not(:empty):hover::before,
[aria-hidden="true"]:not(:empty):hover::before,
time:hover::before,
[datetime]:hover::before,
th[scope]:hover::before,
table[role="presentation"]:hover::before,
[class=""]:focus::before,
[id=""]:focus::before,
main:not(:first-of-type):focus::before,
figcaption:not(:only-of-type):focus::before,
figcaption:not(:last-child):not(:first-child):focus::before,
[href^="mailto"]:focus::before,
[href^="tel"]:focus::before,
a[role="button"]:focus::before,
[target$="blank"]:focus::before,
[download]:focus::before,
[href$=".pdf"]:focus::before,
[href$=".doc"]:focus::before,
[href$=".png"]:focus::before,
[href$=".jpg"]:focus::before,
[href$=".gif"]:focus::before,
[href$=".mp3"]:focus::before,
[href$=".mp4"]:focus::before,
[href$=".mov"]:focus::before,
[href$=".ogg"]:focus::before,
[href$=".xls"]:focus::before,
[href$=".txt"]:focus::before,
[href$=".zip"]:focus::before,
[href$=".rar"]:focus::before,
[href$=".docx"]:focus::before,
[role="main"] ~ [role="main"]:focus::before,
[role="search"] ~ [role="search"]:focus::before,
[role="banner"] ~ [role="banner"]:focus::before,
[role="contentinfo"] ~ [role="contentinfo"]:focus::before,
[id*="search"]:not([role="search"]):focus::before,
[class*="search"]:not([role="search"]):focus::before,
[hidden]:not(:empty):focus::before,
[aria-hidden="true"]:not(:empty):focus::before,
time:focus::before,
[datetime]:focus::before,
th[scope]:focus::before,
table[role="presentation"]:focus::before,
area[class=""]:hover ~ ::after,
base[class=""]:hover ~ ::after,
br[class=""]:hover ~ ::after,
col[class=""]:hover ~ ::after,
command[class=""]:hover ~ ::after,
embed[class=""]:hover ~ ::after,
hr[class=""]:hover ~ ::after,
img[class=""]:hover ~ ::after,
input[class=""]:hover ~ ::after,
keygen[class=""]:hover ~ ::after,
link[class=""]:hover ~ ::after,
meta[class=""]:hover ~ ::after,
param[class=""]:hover ~ ::after,
source[class=""]:hover ~ ::after,
track[class=""]:hover ~ ::after,
wbr[class=""]:hover ~ ::after,
textarea[class=""]:hover ~ ::after,
select[class=""]:hover ~ ::after,
svg[class=""]:hover ~ ::after,
audio[class=""]:hover ~ ::after,
video[class=""]:hover ~ ::after,
iframe[class=""]:hover ~ ::after,
area[id=""]:hover ~ ::after,
base[id=""]:hover ~ ::after,
br[id=""]:hover ~ ::after,
col[id=""]:hover ~ ::after,
command[id=""]:hover ~ ::after,
embed[id=""]:hover ~ ::after,
hr[id=""]:hover ~ ::after,
img[id=""]:hover ~ ::after,
input[id=""]:hover ~ ::after,
keygen[id=""]:hover ~ ::after,
link[id=""]:hover ~ ::after,
meta[id=""]:hover ~ ::after,
param[id=""]:hover ~ ::after,
source[id=""]:hover ~ ::after,
track[id=""]:hover ~ ::after,
wbr[id=""]:hover ~ ::after,
textarea[id=""]:hover ~ ::after,
select[id=""]:hover ~ ::after,
svg[id=""]:hover ~ ::after,
audio[id=""]:hover ~ ::after,
video[id=""]:hover ~ ::after,
iframe[id=""]:hover ~ ::after,
input[id*="search"]:hover:not([role="search"]) ~ ::after,
input[class*="search"]:hover:not([role="search"]) ~ ::after,
[required]:hover ~ ::after,
[aria-required]:hover ~ ::after,
input[required]:hover ~ ::after,
input[aria-required]:hover ~ ::after,
select[required]:hover ~ ::after,
select[aria-required]:hover ~ ::after,
textarea[required]:hover ~ ::after,
textarea[aria-required]:hover ~ ::after,
area[hidden]:hover:not(:empty) ~ ::after,
area[aria-hidden="true"]:hover:not(:empty) ~ ::after,
base[hidden]:hover:not(:empty) ~ ::after,
base[aria-hidden="true"]:hover:not(:empty) ~ ::after,
br[hidden]:hover:not(:empty) ~ ::after,
br[aria-hidden="true"]:hover:not(:empty) ~ ::after,
col[hidden]:hover:not(:empty) ~ ::after,
col[aria-hidden="true"]:hover:not(:empty) ~ ::after,
command[hidden]:hover:not(:empty) ~ ::after,
command[aria-hidden="true"]:hover:not(:empty) ~ ::after,
embed[hidden]:hover:not(:empty) ~ ::after,
embed[aria-hidden="true"]:hover:not(:empty) ~ ::after,
hr[hidden]:hover:not(:empty) ~ ::after,
hr[aria-hidden="true"]:hover:not(:empty) ~ ::after,
img[hidden]:hover:not(:empty) ~ ::after,
img[aria-hidden="true"]:hover:not(:empty) ~ ::after,
input[hidden]:hover:not(:empty) ~ ::after,
input[aria-hidden="true"]:hover:not(:empty) ~ ::after,
keygen[hidden]:hover:not(:empty) ~ ::after,
keygen[aria-hidden="true"]:hover:not(:empty) ~ ::after,
link[hidden]:hover:not(:empty) ~ ::after,
link[aria-hidden="true"]:hover:not(:empty) ~ ::after,
meta[hidden]:hover:not(:empty) ~ ::after,
meta[aria-hidden="true"]:hover:not(:empty) ~ ::after,
param[hidden]:hover:not(:empty) ~ ::after,
param[aria-hidden="true"]:hover:not(:empty) ~ ::after,
source[hidden]:hover:not(:empty) ~ ::after,
source[aria-hidden="true"]:hover:not(:empty) ~ ::after,
track[hidden]:hover:not(:empty) ~ ::after,
track[aria-hidden="true"]:hover:not(:empty) ~ ::after,
wbr[hidden]:hover:not(:empty) ~ ::after,
wbr[aria-hidden="true"]:hover:not(:empty) ~ ::after,
textarea[hidden]:hover:not(:empty) ~ ::after,
textarea[aria-hidden="true"]:hover:not(:empty) ~ ::after,
select[hidden]:hover:not(:empty) ~ ::after,
select[aria-hidden="true"]:hover:not(:empty) ~ ::after,
svg[hidden]:hover:not(:empty) ~ ::after,
svg[aria-hidden="true"]:hover:not(:empty) ~ ::after,
audio[hidden]:hover:not(:empty) ~ ::after,
audio[aria-hidden="true"]:hover:not(:empty) ~ ::after,
video[hidden]:hover:not(:empty) ~ ::after,
video[aria-hidden="true"]:hover:not(:empty) ~ ::after,
iframe[hidden]:hover:not(:empty) ~ ::after,
iframe[aria-hidden="true"]:hover:not(:empty) ~ ::after,
[placeholder]:hover:not([title]):not([aria-label]):not([aria-labelledby]) ~ ::after,
video:hover ~ ::after,
audio:hover ~ ::after,
img[alt][title]:hover ~ ::after,
area[alt][title]:hover ~ ::after,
svg[aria-label][title]:hover ~ ::after,
area[class=""]:focus ~ ::after,
base[class=""]:focus ~ ::after,
br[class=""]:focus ~ ::after,
col[class=""]:focus ~ ::after,
command[class=""]:focus ~ ::after,
embed[class=""]:focus ~ ::after,
hr[class=""]:focus ~ ::after,
img[class=""]:focus ~ ::after,
input[class=""]:focus ~ ::after,
keygen[class=""]:focus ~ ::after,
link[class=""]:focus ~ ::after,
meta[class=""]:focus ~ ::after,
param[class=""]:focus ~ ::after,
source[class=""]:focus ~ ::after,
track[class=""]:focus ~ ::after,
wbr[class=""]:focus ~ ::after,
textarea[class=""]:focus ~ ::after,
select[class=""]:focus ~ ::after,
svg[class=""]:focus ~ ::after,
audio[class=""]:focus ~ ::after,
video[class=""]:focus ~ ::after,
iframe[class=""]:focus ~ ::after,
area[id=""]:focus ~ ::after,
base[id=""]:focus ~ ::after,
br[id=""]:focus ~ ::after,
col[id=""]:focus ~ ::after,
command[id=""]:focus ~ ::after,
embed[id=""]:focus ~ ::after,
hr[id=""]:focus ~ ::after,
img[id=""]:focus ~ ::after,
input[id=""]:focus ~ ::after,
keygen[id=""]:focus ~ ::after,
link[id=""]:focus ~ ::after,
meta[id=""]:focus ~ ::after,
param[id=""]:focus ~ ::after,
source[id=""]:focus ~ ::after,
track[id=""]:focus ~ ::after,
wbr[id=""]:focus ~ ::after,
textarea[id=""]:focus ~ ::after,
select[id=""]:focus ~ ::after,
svg[id=""]:focus ~ ::after,
audio[id=""]:focus ~ ::after,
video[id=""]:focus ~ ::after,
iframe[id=""]:focus ~ ::after,
input[id*="search"]:focus:not([role="search"]) ~ ::after,
input[class*="search"]:focus:not([role="search"]) ~ ::after,
[required]:focus ~ ::after,
[aria-required]:focus ~ ::after,
input[required]:focus ~ ::after,
input[aria-required]:focus ~ ::after,
select[required]:focus ~ ::after,
select[aria-required]:focus ~ ::after,
textarea[required]:focus ~ ::after,
textarea[aria-required]:focus ~ ::after,
area[hidden]:focus:not(:empty) ~ ::after,
area[aria-hidden="true"]:focus:not(:empty) ~ ::after,
base[hidden]:focus:not(:empty) ~ ::after,
base[aria-hidden="true"]:focus:not(:empty) ~ ::after,
br[hidden]:focus:not(:empty) ~ ::after,
br[aria-hidden="true"]:focus:not(:empty) ~ ::after,
col[hidden]:focus:not(:empty) ~ ::after,
col[aria-hidden="true"]:focus:not(:empty) ~ ::after,
command[hidden]:focus:not(:empty) ~ ::after,
command[aria-hidden="true"]:focus:not(:empty) ~ ::after,
embed[hidden]:focus:not(:empty) ~ ::after,
embed[aria-hidden="true"]:focus:not(:empty) ~ ::after,
hr[hidden]:focus:not(:empty) ~ ::after,
hr[aria-hidden="true"]:focus:not(:empty) ~ ::after,
img[hidden]:focus:not(:empty) ~ ::after,
img[aria-hidden="true"]:focus:not(:empty) ~ ::after,
input[hidden]:focus:not(:empty) ~ ::after,
input[aria-hidden="true"]:focus:not(:empty) ~ ::after,
keygen[hidden]:focus:not(:empty) ~ ::after,
keygen[aria-hidden="true"]:focus:not(:empty) ~ ::after,
link[hidden]:focus:not(:empty) ~ ::after,
link[aria-hidden="true"]:focus:not(:empty) ~ ::after,
meta[hidden]:focus:not(:empty) ~ ::after,
meta[aria-hidden="true"]:focus:not(:empty) ~ ::after,
param[hidden]:focus:not(:empty) ~ ::after,
param[aria-hidden="true"]:focus:not(:empty) ~ ::after,
source[hidden]:focus:not(:empty) ~ ::after,
source[aria-hidden="true"]:focus:not(:empty) ~ ::after,
track[hidden]:focus:not(:empty) ~ ::after,
track[aria-hidden="true"]:focus:not(:empty) ~ ::after,
wbr[hidden]:focus:not(:empty) ~ ::after,
wbr[aria-hidden="true"]:focus:not(:empty) ~ ::after,
textarea[hidden]:focus:not(:empty) ~ ::after,
textarea[aria-hidden="true"]:focus:not(:empty) ~ ::after,
select[hidden]:focus:not(:empty) ~ ::after,
select[aria-hidden="true"]:focus:not(:empty) ~ ::after,
svg[hidden]:focus:not(:empty) ~ ::after,
svg[aria-hidden="true"]:focus:not(:empty) ~ ::after,
audio[hidden]:focus:not(:empty) ~ ::after,
audio[aria-hidden="true"]:focus:not(:empty) ~ ::after,
video[hidden]:focus:not(:empty) ~ ::after,
video[aria-hidden="true"]:focus:not(:empty) ~ ::after,
iframe[hidden]:focus:not(:empty) ~ ::after,
iframe[aria-hidden="true"]:focus:not(:empty) ~ ::after,
[placeholder]:focus:not([title]):not([aria-label]):not([aria-labelledby]) ~ ::after,
video:focus ~ ::after,
audio:focus ~ ::after,
img[alt][title]:focus ~ ::after,
area[alt][title]:focus ~ ::after,
svg[aria-label][title]:focus ~ ::after {
  opacity: 1;
  -webkit-transform: translateY(0) translateZ(0) !important;
          transform: translateY(0) translateZ(0) !important;
  transition: -webkit-transform .3s ease-in                             !important;
  transition:         transform .3s ease-in                             !important;
  transition:         transform .3s ease-in, -webkit-transform .3s ease-in                             !important;
}[class=""],
[id=""],
main:not(:first-of-type),
figcaption:not(:only-of-type),
figcaption:not(:first-child):not(:last-child),
[href^="mailto"],
[href^="tel"],
a[role="button"],
[target$="blank"],
[download],
[href$=".pdf"],
[href$=".doc"],
[href$=".png"],
[href$=".jpg"],
[href$=".gif"],
[href$=".mp3"],
[href$=".mp4"],
[href$=".mov"],
[href$=".ogg"],
[href$=".xls"],
[href$=".txt"],
[href$=".zip"],
[href$=".rar"],
[href$=".docx"],
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"],
[id*="search"]:not([role="search"]),
[class*="search"]:not([role="search"]),
[hidden]:not(:empty),
[aria-hidden="true"]:not(:empty),
time,
[datetime],
th[scope],
table[role="presentation"] {
  counter-increment: advice;
  outline: 4px solid #6b8e23 !important;
  outline-offset: -4px;
}[class=""]::before,
[id=""]::before,
main:not(:first-of-type)::before,
figcaption:not(:only-of-type)::before,
figcaption:not(:last-child):not(:first-child)::before,
[href^="mailto"]::before,
[href^="tel"]::before,
a[role="button"]::before,
[target$="blank"]::before,
[download]::before,
[href$=".pdf"]::before,
[href$=".doc"]::before,
[href$=".png"]::before,
[href$=".jpg"]::before,
[href$=".gif"]::before,
[href$=".mp3"]::before,
[href$=".mp4"]::before,
[href$=".mov"]::before,
[href$=".ogg"]::before,
[href$=".xls"]::before,
[href$=".txt"]::before,
[href$=".zip"]::before,
[href$=".rar"]::before,
[href$=".docx"]::before,
[role="main"] ~ [role="main"]::before,
[role="search"] ~ [role="search"]::before,
[role="banner"] ~ [role="banner"]::before,
[role="contentinfo"] ~ [role="contentinfo"]::before,
[id*="search"]:not([role="search"])::before,
[class*="search"]:not([role="search"])::before,
[hidden]:not(:empty)::before,
[aria-hidden="true"]:not(:empty)::before,
time::before,
[datetime]::before,
th[scope]::before,
table[role="presentation"]::before {
  background: #f6fce9 !important;
  border-color: #96bf40 !important;
  color: #4b6020 !important;
  z-index: 2147483644 !important;
}area[class=""],
base[class=""],
br[class=""],
col[class=""],
command[class=""],
embed[class=""],
hr[class=""],
img[class=""],
input[class=""],
keygen[class=""],
link[class=""],
meta[class=""],
param[class=""],
source[class=""],
track[class=""],
wbr[class=""],
textarea[class=""],
select[class=""],
svg[class=""],
audio[class=""],
video[class=""],
iframe[class=""],
area[id=""],
base[id=""],
br[id=""],
col[id=""],
command[id=""],
embed[id=""],
hr[id=""],
img[id=""],
input[id=""],
keygen[id=""],
link[id=""],
meta[id=""],
param[id=""],
source[id=""],
track[id=""],
wbr[id=""],
textarea[id=""],
select[id=""],
svg[id=""],
audio[id=""],
video[id=""],
iframe[id=""],
input[id*="search"]:not([role="search"]),
input[class*="search"]:not([role="search"]),
[required],
[aria-required],
input[required],
input[aria-required],
select[required],
select[aria-required],
textarea[required],
textarea[aria-required],
area[hidden]:not(:empty),
area[aria-hidden="true"]:not(:empty),
base[hidden]:not(:empty),
base[aria-hidden="true"]:not(:empty),
br[hidden]:not(:empty),
br[aria-hidden="true"]:not(:empty),
col[hidden]:not(:empty),
col[aria-hidden="true"]:not(:empty),
command[hidden]:not(:empty),
command[aria-hidden="true"]:not(:empty),
embed[hidden]:not(:empty),
embed[aria-hidden="true"]:not(:empty),
hr[hidden]:not(:empty),
hr[aria-hidden="true"]:not(:empty),
img[hidden]:not(:empty),
img[aria-hidden="true"]:not(:empty),
input[hidden]:not(:empty),
input[aria-hidden="true"]:not(:empty),
keygen[hidden]:not(:empty),
keygen[aria-hidden="true"]:not(:empty),
link[hidden]:not(:empty),
link[aria-hidden="true"]:not(:empty),
meta[hidden]:not(:empty),
meta[aria-hidden="true"]:not(:empty),
param[hidden]:not(:empty),
param[aria-hidden="true"]:not(:empty),
source[hidden]:not(:empty),
source[aria-hidden="true"]:not(:empty),
track[hidden]:not(:empty),
track[aria-hidden="true"]:not(:empty),
wbr[hidden]:not(:empty),
wbr[aria-hidden="true"]:not(:empty),
textarea[hidden]:not(:empty),
textarea[aria-hidden="true"]:not(:empty),
select[hidden]:not(:empty),
select[aria-hidden="true"]:not(:empty),
svg[hidden]:not(:empty),
svg[aria-hidden="true"]:not(:empty),
audio[hidden]:not(:empty),
audio[aria-hidden="true"]:not(:empty),
video[hidden]:not(:empty),
video[aria-hidden="true"]:not(:empty),
iframe[hidden]:not(:empty),
iframe[aria-hidden="true"]:not(:empty),
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]),
video,
audio,
img[alt][title],
area[alt][title],
svg[aria-label][title] {
  background-color: rgba(107,142,35,.25) !important;
  counter-increment: advice;
  outline: 4px solid #6b8e23 !important;
  outline-offset: -4px;
}area[class=""] ~ ::after,
base[class=""] ~ ::after,
br[class=""] ~ ::after,
col[class=""] ~ ::after,
command[class=""] ~ ::after,
embed[class=""] ~ ::after,
hr[class=""] ~ ::after,
img[class=""] ~ ::after,
input[class=""] ~ ::after,
keygen[class=""] ~ ::after,
link[class=""] ~ ::after,
meta[class=""] ~ ::after,
param[class=""] ~ ::after,
source[class=""] ~ ::after,
track[class=""] ~ ::after,
wbr[class=""] ~ ::after,
textarea[class=""] ~ ::after,
select[class=""] ~ ::after,
svg[class=""] ~ ::after,
audio[class=""] ~ ::after,
video[class=""] ~ ::after,
iframe[class=""] ~ ::after,
area[id=""] ~ ::after,
base[id=""] ~ ::after,
br[id=""] ~ ::after,
col[id=""] ~ ::after,
command[id=""] ~ ::after,
embed[id=""] ~ ::after,
hr[id=""] ~ ::after,
img[id=""] ~ ::after,
input[id=""] ~ ::after,
keygen[id=""] ~ ::after,
link[id=""] ~ ::after,
meta[id=""] ~ ::after,
param[id=""] ~ ::after,
source[id=""] ~ ::after,
track[id=""] ~ ::after,
wbr[id=""] ~ ::after,
textarea[id=""] ~ ::after,
select[id=""] ~ ::after,
svg[id=""] ~ ::after,
audio[id=""] ~ ::after,
video[id=""] ~ ::after,
iframe[id=""] ~ ::after,
input[id*="search"]:not([role="search"]) ~ ::after,
input[class*="search"]:not([role="search"]) ~ ::after,
[required] ~ ::after,
[aria-required] ~ ::after,
input[required] ~ ::after,
input[aria-required] ~ ::after,
select[required] ~ ::after,
select[aria-required] ~ ::after,
textarea[required] ~ ::after,
textarea[aria-required] ~ ::after,
area[hidden]:not(:empty) ~ ::after,
area[aria-hidden="true"]:not(:empty) ~ ::after,
base[hidden]:not(:empty) ~ ::after,
base[aria-hidden="true"]:not(:empty) ~ ::after,
br[hidden]:not(:empty) ~ ::after,
br[aria-hidden="true"]:not(:empty) ~ ::after,
col[hidden]:not(:empty) ~ ::after,
col[aria-hidden="true"]:not(:empty) ~ ::after,
command[hidden]:not(:empty) ~ ::after,
command[aria-hidden="true"]:not(:empty) ~ ::after,
embed[hidden]:not(:empty) ~ ::after,
embed[aria-hidden="true"]:not(:empty) ~ ::after,
hr[hidden]:not(:empty) ~ ::after,
hr[aria-hidden="true"]:not(:empty) ~ ::after,
img[hidden]:not(:empty) ~ ::after,
img[aria-hidden="true"]:not(:empty) ~ ::after,
input[hidden]:not(:empty) ~ ::after,
input[aria-hidden="true"]:not(:empty) ~ ::after,
keygen[hidden]:not(:empty) ~ ::after,
keygen[aria-hidden="true"]:not(:empty) ~ ::after,
link[hidden]:not(:empty) ~ ::after,
link[aria-hidden="true"]:not(:empty) ~ ::after,
meta[hidden]:not(:empty) ~ ::after,
meta[aria-hidden="true"]:not(:empty) ~ ::after,
param[hidden]:not(:empty) ~ ::after,
param[aria-hidden="true"]:not(:empty) ~ ::after,
source[hidden]:not(:empty) ~ ::after,
source[aria-hidden="true"]:not(:empty) ~ ::after,
track[hidden]:not(:empty) ~ ::after,
track[aria-hidden="true"]:not(:empty) ~ ::after,
wbr[hidden]:not(:empty) ~ ::after,
wbr[aria-hidden="true"]:not(:empty) ~ ::after,
textarea[hidden]:not(:empty) ~ ::after,
textarea[aria-hidden="true"]:not(:empty) ~ ::after,
select[hidden]:not(:empty) ~ ::after,
select[aria-hidden="true"]:not(:empty) ~ ::after,
svg[hidden]:not(:empty) ~ ::after,
svg[aria-hidden="true"]:not(:empty) ~ ::after,
audio[hidden]:not(:empty) ~ ::after,
audio[aria-hidden="true"]:not(:empty) ~ ::after,
video[hidden]:not(:empty) ~ ::after,
video[aria-hidden="true"]:not(:empty) ~ ::after,
iframe[hidden]:not(:empty) ~ ::after,
iframe[aria-hidden="true"]:not(:empty) ~ ::after,
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) ~ ::after,
video ~ ::after,
audio ~ ::after,
img[alt][title] ~ ::after,
area[alt][title] ~ ::after,
svg[aria-label][title] ~ ::after {
  background: #f6fce9 !important;
  border-color: #96bf40 !important;
  color: #4b6020 !important;
  z-index: 2147483644 !important;
}html {
  counter-reset: error warning obsolete advice;
}html::after {
  background: rgba(0,0,0,.8);
  background-image: linear-gradient(to bottom, transparent, transparent 1.4em,#911 1.4em,#911 1.6em,transparent 1.6em,transparent 2.9em,gold 2.9em,gold 3.1em,transparent 3.1em,transparent 4.4em,#4169e1 4.4em,#4169e1 4.6em,transparent 4.6em,transparent 5.9em,#6b8e23 5.9em,#6b8e23 6.1em,transparent 6.1em, transparent 100%);
  background-position: .5em 0;
  background-repeat: no-repeat;
  background-size: .5em 100%;
  border: 1px solid #000;
  border-radius: 3px;
  bottom: 1em;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,.3);
  color: #fff;
  content: Erreurs ": " counter(error) "\a" Avertissements ": " counter(error) "\a" Obsolètes ": " counter(error) "\a" Conseils ": " counter(error) "\a";
  font: 700 1.2rem/1.5 "Arial", "Nimbus Sans L", sans-serif;
  left: 1em;
  padding: .75em 1em .75em 1.5em;
  position: fixed;
  right: auto;
  text-shadow: 1px 1px #000;
  top: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  white-space: pre;
  z-index: 2147483647;
}head {
  display: block;
}head * {
  display: none;
}[class=""]::before {
  content: "♥  Sacrebleu ! Attribut [class] vide." !important;
}area[class=""]::before,
area[class=""] ~ ::after,
base[class=""]::before,
base[class=""] ~ ::after,
br[class=""]::before,
br[class=""] ~ ::after,
col[class=""]::before,
col[class=""] ~ ::after,
command[class=""]::before,
command[class=""] ~ ::after,
embed[class=""]::before,
embed[class=""] ~ ::after,
hr[class=""]::before,
hr[class=""] ~ ::after,
img[class=""]::before,
img[class=""] ~ ::after,
input[class=""]::before,
input[class=""] ~ ::after,
keygen[class=""]::before,
keygen[class=""] ~ ::after,
link[class=""]::before,
link[class=""] ~ ::after,
meta[class=""]::before,
meta[class=""] ~ ::after,
param[class=""]::before,
param[class=""] ~ ::after,
source[class=""]::before,
source[class=""] ~ ::after,
track[class=""]::before,
track[class=""] ~ ::after,
wbr[class=""]::before,
wbr[class=""] ~ ::after,
textarea[class=""]::before,
textarea[class=""] ~ ::after,
select[class=""]::before,
select[class=""] ~ ::after,
svg[class=""]::before,
svg[class=""] ~ ::after,
audio[class=""]::before,
audio[class=""] ~ ::after,
video[class=""]::before,
video[class=""] ~ ::after,
iframe[class=""]::before,
iframe[class=""] ~ ::after {
  content: "♥  Sacrebleu ! Attribut [class] vide." !important;
}[id=""]::before {
  content: "♥  Tiens ? Un attribut [id] vide ?" !important;
}area[id=""]::before,
area[id=""] ~ ::after,
base[id=""]::before,
base[id=""] ~ ::after,
br[id=""]::before,
br[id=""] ~ ::after,
col[id=""]::before,
col[id=""] ~ ::after,
command[id=""]::before,
command[id=""] ~ ::after,
embed[id=""]::before,
embed[id=""] ~ ::after,
hr[id=""]::before,
hr[id=""] ~ ::after,
img[id=""]::before,
img[id=""] ~ ::after,
input[id=""]::before,
input[id=""] ~ ::after,
keygen[id=""]::before,
keygen[id=""] ~ ::after,
link[id=""]::before,
link[id=""] ~ ::after,
meta[id=""]::before,
meta[id=""] ~ ::after,
param[id=""]::before,
param[id=""] ~ ::after,
source[id=""]::before,
source[id=""] ~ ::after,
track[id=""]::before,
track[id=""] ~ ::after,
wbr[id=""]::before,
wbr[id=""] ~ ::after,
textarea[id=""]::before,
textarea[id=""] ~ ::after,
select[id=""]::before,
select[id=""] ~ ::after,
svg[id=""]::before,
svg[id=""] ~ ::after,
audio[id=""]::before,
audio[id=""] ~ ::after,
video[id=""]::before,
video[id=""] ~ ::after,
iframe[id=""]::before,
iframe[id=""] ~ ::after {
  content: "♥  Tiens ? Un attribut [id] vide ?" !important;
}main:not(:first-of-type)::before {
  content: "♥  <main> est réservée à la zone de contenu principal, et doit donc être unique :) ." !important;
}figcaption:not(:only-of-type)::before {
  content: "♥  <figcaption> décrit le contenu d’une <figure> et doit donc être unique dans cette <figure>.\aOups :) ." !important;
}figcaption:not(:first-child):not(:last-child)::before {
  content: "♥  <figcaption> est censé être le premier ou le dernier enfant d’une <figure>.\aOn en apprend tous les jours !" !important;
}[href^="mailto"]::before {
  content: "♥  L’adresse mail est valide, pas vrai ?" !important;
}[href^="tel"]::before {
  content: "♥  Vais-je appeler un vrai numéro de téléphone ?" !important;
}a[role="button"]::before {
  content: "♥  Ce lien est déguisé en bouton. Un vrai <button> serait probablement mieux :)" !important;
}[target$="blank"]::before {
  content: "♥  L’utilisateur doit être averti si un lien ouvre une nouvelle fenêtre.\aMais vous y avez pensé, non :) ?" !important;
}[download]::before,
[href$=".pdf"]::before,
[href$=".doc"]::before,
[href$=".png"]::before,
[href$=".jpg"]::before,
[href$=".gif"]::before,
[href$=".mp3"]::before,
[href$=".mp4"]::before,
[href$=".mov"]::before,
[href$=".ogg"]::before,
[href$=".xls"]::before,
[href$=".txt"]::before,
[href$=".zip"]::before,
[href$=".rar"]::before,
[href$=".docx"]::before {
  content: "♥  Le format et le poids d’un fichier téléchargeable devraient être indiqués — et il devrait être accessible." !important;
}[role="main"] ~ [role="main"]::before,
[role="search"] ~ [role="search"]::before,
[role="banner"] ~ [role="banner"]::before,
[role="contentinfo"] ~ [role="contentinfo"]::before {
  content: "♥  Le rôle ARIA " attr(role) " devrait être uniques, mais celui-ci est le deuxième dans la page !" !important;
}[id*="search"]:not([role="search"])::before,
[class*="search"]:not([role="search"])::before {
  content: "♥  Vu ! Cet élément semble être la recherche.\aMais alors, le rôle ARIA est là, non ?" !important;
}input[id*="search"]:not([role="search"])::before,
input[id*="search"]:not([role="search"]) ~ ::after,
input[class*="search"]:not([role="search"])::before,
input[class*="search"]:not([role="search"]) ~ ::after {
  content: "♥  Vu ! Cet élément semble être la recherche.\aMais alors, le rôle ARIA est là, non ?" !important;
}[required]::before,
[required] ~ ::after,
[aria-required]::before,
[aria-required] ~ ::after {
  content: "♥  Le caractère obligatoire d’un champ doit être indiqué intelligiblement (en texte) et pas seulement par la couleur." !important;
}input[required]::before,
input[required] ~ ::after,
input[aria-required]::before,
input[aria-required] ~ ::after,
select[required]::before,
select[required] ~ ::after,
select[aria-required]::before,
select[aria-required] ~ ::after,
textarea[required]::before,
textarea[required] ~ ::after,
textarea[aria-required]::before,
textarea[aria-required] ~ ::after {
  content: "♥  Le caractère obligatoire d’un champ doit être indiqué intelligiblement (en texte) et pas seulement par la couleur." !important;
}[hidden]:not(:empty)::before,
[aria-hidden="true"]:not(:empty)::before {
  content: "♥  Cet élément — masqué aux technologies d’assistance — ne porte aucune information, vous en êtes bien sûr ?" !important;
}area[hidden]:not(:empty)::before,
area[hidden]:not(:empty) ~ ::after,
area[aria-hidden="true"]:not(:empty)::before,
area[aria-hidden="true"]:not(:empty) ~ ::after,
base[hidden]:not(:empty)::before,
base[hidden]:not(:empty) ~ ::after,
base[aria-hidden="true"]:not(:empty)::before,
base[aria-hidden="true"]:not(:empty) ~ ::after,
br[hidden]:not(:empty)::before,
br[hidden]:not(:empty) ~ ::after,
br[aria-hidden="true"]:not(:empty)::before,
br[aria-hidden="true"]:not(:empty) ~ ::after,
col[hidden]:not(:empty)::before,
col[hidden]:not(:empty) ~ ::after,
col[aria-hidden="true"]:not(:empty)::before,
col[aria-hidden="true"]:not(:empty) ~ ::after,
command[hidden]:not(:empty)::before,
command[hidden]:not(:empty) ~ ::after,
command[aria-hidden="true"]:not(:empty)::before,
command[aria-hidden="true"]:not(:empty) ~ ::after,
embed[hidden]:not(:empty)::before,
embed[hidden]:not(:empty) ~ ::after,
embed[aria-hidden="true"]:not(:empty)::before,
embed[aria-hidden="true"]:not(:empty) ~ ::after,
hr[hidden]:not(:empty)::before,
hr[hidden]:not(:empty) ~ ::after,
hr[aria-hidden="true"]:not(:empty)::before,
hr[aria-hidden="true"]:not(:empty) ~ ::after,
img[hidden]:not(:empty)::before,
img[hidden]:not(:empty) ~ ::after,
img[aria-hidden="true"]:not(:empty)::before,
img[aria-hidden="true"]:not(:empty) ~ ::after,
input[hidden]:not(:empty)::before,
input[hidden]:not(:empty) ~ ::after,
input[aria-hidden="true"]:not(:empty)::before,
input[aria-hidden="true"]:not(:empty) ~ ::after,
keygen[hidden]:not(:empty)::before,
keygen[hidden]:not(:empty) ~ ::after,
keygen[aria-hidden="true"]:not(:empty)::before,
keygen[aria-hidden="true"]:not(:empty) ~ ::after,
link[hidden]:not(:empty)::before,
link[hidden]:not(:empty) ~ ::after,
link[aria-hidden="true"]:not(:empty)::before,
link[aria-hidden="true"]:not(:empty) ~ ::after,
meta[hidden]:not(:empty)::before,
meta[hidden]:not(:empty) ~ ::after,
meta[aria-hidden="true"]:not(:empty)::before,
meta[aria-hidden="true"]:not(:empty) ~ ::after,
param[hidden]:not(:empty)::before,
param[hidden]:not(:empty) ~ ::after,
param[aria-hidden="true"]:not(:empty)::before,
param[aria-hidden="true"]:not(:empty) ~ ::after,
source[hidden]:not(:empty)::before,
source[hidden]:not(:empty) ~ ::after,
source[aria-hidden="true"]:not(:empty)::before,
source[aria-hidden="true"]:not(:empty) ~ ::after,
track[hidden]:not(:empty)::before,
track[hidden]:not(:empty) ~ ::after,
track[aria-hidden="true"]:not(:empty)::before,
track[aria-hidden="true"]:not(:empty) ~ ::after,
wbr[hidden]:not(:empty)::before,
wbr[hidden]:not(:empty) ~ ::after,
wbr[aria-hidden="true"]:not(:empty)::before,
wbr[aria-hidden="true"]:not(:empty) ~ ::after,
textarea[hidden]:not(:empty)::before,
textarea[hidden]:not(:empty) ~ ::after,
textarea[aria-hidden="true"]:not(:empty)::before,
textarea[aria-hidden="true"]:not(:empty) ~ ::after,
select[hidden]:not(:empty)::before,
select[hidden]:not(:empty) ~ ::after,
select[aria-hidden="true"]:not(:empty)::before,
select[aria-hidden="true"]:not(:empty) ~ ::after,
svg[hidden]:not(:empty)::before,
svg[hidden]:not(:empty) ~ ::after,
svg[aria-hidden="true"]:not(:empty)::before,
svg[aria-hidden="true"]:not(:empty) ~ ::after,
audio[hidden]:not(:empty)::before,
audio[hidden]:not(:empty) ~ ::after,
audio[aria-hidden="true"]:not(:empty)::before,
audio[aria-hidden="true"]:not(:empty) ~ ::after,
video[hidden]:not(:empty)::before,
video[hidden]:not(:empty) ~ ::after,
video[aria-hidden="true"]:not(:empty)::before,
video[aria-hidden="true"]:not(:empty) ~ ::after,
iframe[hidden]:not(:empty)::before,
iframe[hidden]:not(:empty) ~ ::after,
iframe[aria-hidden="true"]:not(:empty)::before,
iframe[aria-hidden="true"]:not(:empty) ~ ::after {
  content: "♥  Cet élément — masqué aux technologies d’assistance — ne porte aucune information, vous en êtes bien sûr ?" !important;
}[placeholder]:not([title]):not([aria-label]):not([aria-labelledby])::before,
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) ~ ::after {
  content: "♥  Saviez-vous qu’un placeholder ne peut pas remplacer un <label> ?" !important;
}video::before,
video ~ ::after,
audio::before,
audio ~ ::after {
  content: "♥  Les médias temporels doivent disposer d’une alternative, d’un transcript ou d’un sous-titrage (<track>), et indiquer leur durée." !important;
}img[alt][title]::before,
img[alt][title] ~ ::after,
area[alt][title]::before,
area[alt][title] ~ ::after,
svg[aria-label][title]::before,
svg[aria-label][title] ~ ::after {
  content: "♥  L’attribut [title], s’il est présent, doit être identique à l’alternative renseignée.\aÀ vous de jouer ;-) ." !important;
}time::before,
[datetime]::before {
  content: "♥  Le format de date est-il compréhensible ?" !important;
}th[scope]::before {
  content: "♥  Cette cellule d’en-tête s’applique à la totalité de la " attr(scope) ", vrai ou pas ?¬’est ce que dit son [scope], en tout cas." !important;
}table[role="presentation"]::before {
  content: "♥  Un tableau de mise en forme ne doit pas avoir de résumé.\aIl doit également rester compréhensible une fois linéarisé." !important;
}
