.sass-cache
*.map
node_modules
.idea
prepros.cfg
/docs/Hologram/tests
/docs/SassDoc/*
_site/
src/_data/sass
src/static/docs.css
src/static/docs.js
*.log
.vscode
.DS_Store
webextension/manifest.json
webextension/css/a11y-en_advices-only.css
webextension/css/a11y-en_errors-only.css
webextension/css/a11y-en_obsolete-only.css
webextension/css/a11y-en_warnings-only.css

# While working on 11ty refactor
_site/
src/
