@charset "UTF-8";
/**
* == a11y.css *
*
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-11-27
*
* @subsection Références :
  * @see : https://github.com/redroot/holmes/blob/master/holmes.css
  *
  * @see : https://github.com/karlgroves/diagnostic.css
  *
  * @see : http://www.w3.org/TR/html5/obsolete.html#obsolete
  *
  * @see : https://github.com/nternetinspired/debug-css
  *
  * @see : Mémento "Sites web - Les bonnes pratiques" aux éditions Eyrolles
  * @author : Elie Sloïm, Temesis, Opquast, Openweb - @ElieSl
  *
  * @see "Intégration Web, les bonnes pratiques", pages 335/336.
  * @author : Corinne Schillinger, Inseo - @schillinger
 *
 * @note : on utilise outline plutôt que border afin de ne pas modifier les dimensions des éléments.
 * @note : le rouge dénonce une erreur, un code invalide ou un attribut manquant.
 * @note : le jaune est une alerte, relevant un balisage erroné ou une mauvaise pratique potentielle.
 * @note : le gris signale les éléments obsolètes ou utilisant un attribut obsolète.
*/


// ----------------------------- //
// Sommaire */
// ----------------------------- //

//
// == Import des sélecteurs
// == Variables & Mixins
//   -- Variables
//   -- Mixins
// == Détection des erreurs
// == Détection des alertes
// == Détection des éléments & attributs obsolètes
// == Détection des conseils
// == Contenu des messages
//


// == @section Import des sélecteurs ====================
@import "selectors/error";
@import "selectors/warning";
@import "selectors/obsolete";
@import "selectors/advice";


// == @section Variables & Mixins ====================

// -- @subsection Variables --------------------
$error: crimson;
$warning: gold;
$obsolete: gray;
$advice: forestgreen;

// -- @subsection Mixins --------------------
%message {

  &::after {
    background: rgba( 255, 255, 255, .98 );
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    color: dimgray;
    display: block;
    font: normal normal 1rem/4 "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    height: 4em;
    left: 0;
    /* On s’assure que le message ne capte pas le survol. */
    pointer-events: none;
    position: fixed;
    /* On fait en sorte de ne pas hériter des mises en formes spéciales: les messages doivent être homogènes. */
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    /* On prépare l’apparition du message. */
    top: 0;
    -webkit-transform: translateY( -4em );
    -ms-transform:     translateY( -4em );
    transition: all .3s ease-in;
    width: 100%;
    /* Ceci est la valeur maximum d’un z-index pour la plupart des navigateurs.
     * Si la valeur renseignée est supérieure, les navigateurs la réduise jusqu’à celle-ci.
     * @see : http://www.puidokas.com/max-z-index/
     * Ça nous permet de garantir que notre message sera toujours visible.
     */
    z-index: 2147483647;
  }

  &:hover::after {
    -webkit-transform: translateY( 0 );
    -ms-transform:     translateY( 0 );
    transition: all .3s ease-out;
  }
}

@mixin outline( $level ) {
  outline: 4px solid transparentize( $level, .25 ) !important;
}


// == @section Détection des erreurs ====================
%error {
  @include outline( $error );
  @extend %message;
}


// == @section Détection des alertes ====================
%warning {
  @include outline( $warning );
  @extend %message;
}


// == @section Détection des éléments & attributs obsolètes ====================
%obsolete {
  @include outline( $obsolete );
  @extend %message;

  &::after {
    content: "Élément ou attribut(s) obsolète(s). Merci de bien vouloir vous renseigner avant de faire ce genre de choses.";
  }
}

// == @section Détection des conseils ====================
%advice {
  @include outline( $advice );
  @extend %message;
}


// == @section Contenu des messages ====================
@import "messages/error";
@import "messages/warning";
@import "messages/advice";
