@charset "UTF-8";

@import "normalize";


/* ====================
 * = a11y.css' Hologram
 * ====================
 */
html {
  box-sizing: border-box;
  color: #3e4b55;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/**
 * @note Mise en page fluide avec flexbox
 * @author Raphaël Goetter
 * @see http://jackintheflexbox.tumblr.com/post/105291132189/un-gabarit-simple-fluide-et-responsive-avec-un
 * 1. crée un contexte flex pour ses enfants
 * 2. affichage vertical
 * 3. toute la hauteur du viewport (compatible IE9+)
 */
body {
  background-color: #f7f7f7;
  background-image:
    radial-gradient(circle at 100% 150%, #f7f7f7 24%, #f3f3f3 25%, #f3f3f3 28%, #f7f7f7 29%, #f7f7f7 36%, #f3f3f3 36%, #f3f3f3 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #f7f7f7 24%, #f3f3f3 25%, #f3f3f3 28%, #f7f7f7 29%, #f7f7f7 36%, #f3f3f3 36%, #f3f3f3 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #f3f3f3 10%, #f7f7f7 11%, #f7f7f7 23%, #f3f3f3 24%, #f3f3f3 30%, #f7f7f7 31%, #f7f7f7 43%, #f3f3f3 44%, #f3f3f3 50%, #f7f7f7 51%, #f7f7f7 63%, #f3f3f3 64%, #f3f3f3 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #f3f3f3 5%, #f7f7f7 6%, #f7f7f7 15%, #f3f3f3 16%, #f3f3f3 20%, #f7f7f7 21%, #f7f7f7 30%, #f3f3f3 31%, #f3f3f3 35%, #f7f7f7 36%, #f7f7f7 45%, #f3f3f3 46%, #f3f3f3 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, #f3f3f3 5%, #f7f7f7 6%, #f7f7f7 15%, #f3f3f3 16%, #f3f3f3 20%, #f7f7f7 21%, #f7f7f7 30%, #f3f3f3 31%, #f3f3f3 35%, #f7f7f7 36%, #f7f7f7 45%, #f3f3f3 46%, #f3f3f3 49%, transparent 50%, transparent);
  background-size: 6rem 3rem;
  counter-reset: titles;
  display: flex;          /* 1 */
  flex-direction: column; /* 2 */
  margin: 0;
  min-height: 100vh;      /* 3 */
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
}

/**
 * 1. IE fix
 * 2. crée un contexte flex pour ses enfants
 * 3. occupe la hauteur restante
 * 4. affichage horizontal
 */
main,
.main {
  display: block;      /* 1 */
  display: flex;       /* 2 */
  flex: 1 1 auto;      /* 3 */
  flex-direction: row; /* 4 */
  justify-content: center;
}

main > *,
.main > * {
  min-width: 15rem;
  width: 33vw;
  padding: 2rem;
}

/**
 * @note The Lobomotized Owl selector
 * @author Heydon Pickering, a.k.a @heydon
 * @see http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 **
 * 1. IE fix
 * 2. occupe la largeur restante
 * @bugfix On n'utilise pas flex:1;
 * @affected IE 10 et IE 11
 * @see https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
 */
main > * + *,
.main > * + * {
  display: block; /* 1 */
  flex: 1 0 auto; /* 2 */
}

.main > * + * {
  min-width: 40rem;
  width: 67vw;
}

main > * + * {
  background: #fcf9e9;
  border: 1px solid #e5dec8;
  border-radius: .25rem 0 0 .25rem;
  border-right: 0;
  overflow-x: hidden;
}

main > * + * > * {
  max-width: 40rem;
}

header > a:link,
header > a:visited {
  color: #483d23;
  line-height: 1;
  margin: 0;
  text-align: right;
}

header > a:hover,
header > a:focus {
  color: #911;
}

header nav {
  align-self: center;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav a {
  display: inline-block;
  padding: .75em 1em;
  position: relative;
  text-decoration: none;
}

/**
 * @note Un petit effet « kikoo lol », avec quelques variantes.
 * @author Manoela Ilic a.k.a. Mary Lou @codrops
 * @see http://tympanus.net/codrops/2013/08/06/creative-link-effects/
 * @see http://tympanus.net/Development/CreativeLinkEffects/#cl-effect-12
 */
header nav a::after,
header nav a::before {
  border: 2px solid;
  border-radius: .25rem;
  content: "";
  height: 3rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: transform 300ms, opacity 300ms;
  transform: translate3d( -50%, -50%, 0 ) scale( .2 );
  width: calc( 100% - .5em );
}

header nav a::after {
  background: currentColor;
  border: 0;
  height: 2.5rem;
  transform: translate3d( -50%, -50%, 0 ) scale( .8 );
  width: calc( 100% - 1em );
}

.warnings::before,
.obsolete::before {
  width: 3rem;
}

.warnings::after,
.obsolete::after {
  width: 2.5rem;
}

.errors::before {
  height: 4rem;
  width: 4rem;
}

.errors::after {
  height: 3.25rem;
  width: 3.25rem;
}

.errors::after,
.errors::before {
  border-radius: 50%;
}

.warnings::after {
  transform: translate3d( -50%, -50%, 0 ) scale( .8 ) rotate( 45deg );
}

.warnings::before {
  transform: translate3d( -50%, -50%, 0 ) scale( .2 ) rotate( 45deg );
}

header nav a:hover::after,
header nav a:hover::before,
header nav a:focus::after,
header nav a:focus::before,
[class="Index "] .index::after,
[class="Index "] .index::before,
.Errors .errors::after,
.Errors .errors::before,
.Obsolete .obsolete::after,
.Obsolete .obsolete::before,
.Advices .advices::after,
.Advices .advices::before {
  opacity: .1;
  transform: translate3d( -50%, -50%, 0 ) scale( 1 );
}

.warnings:hover::after,
.warnings:hover::before,
.warnings:focus::after,
.warnings:focus::before,
.Warnings .warnings::after,
.Warnings .warnings::before {
  color: #ffce00;
  opacity: .3;
  transform: translate3d( -50%, -50%, 0 ) scale( 1 ) rotate( 45deg );
}

[class="Index "] .index {
  color: #039be5;
}

.errors:hover,
.errors:focus,
.Errors .errors {
  color: #911;
}

.warnings:hover,
.warnings:focus,
.Warnings .warnings {
  color: black;
}

.obsolete:hover,
.obsolete:focus,
.Obsolete .obsolete {
  color: RoyalBlue;
}

.advices:hover,
.advices:focus,
.Advices .advices {
  color: OliveDrab;
}

aside {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

aside > * {
  width: 15rem;
}

/**
 * Echelle typographique
 */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
textarea {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.5em 0;
}

h1, h2, h3,
h4, h5, h6,
strong, b, legend,
.h2-like {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin: 1em 0 .5em;
}

h1[id] {
  background-color: inherit;
  color: inherit;
  counter-increment: titles;
  display: inline-block;
  max-width: 60rem;
  padding: 0 0 0 1.25ch;
  position: relative;
  width: auto;
  z-index: 1;
}

h1[id]:nth-of-type(10) ~ h1[id] {
  padding: 0 0 0 2ch;
}

h1[id]::after,
h1[id]::before {
  background: #f3f0e0;
  bottom: 0;
  content: "";
  left: -2rem;
  position: absolute;
  top: 0;
  z-index: -2;
}

h1[id]::before {
  background-color: #ece7d4;
  background-image:
    radial-gradient( rgba( 0, 0, 0, .05 ) 15%, transparent 16%),
    radial-gradient( rgba( 0, 0, 0, .05 ) 15%, transparent 16%);
  background-position: 0 0, .25rem .25rem;
  background-size: .5rem .5rem;
  min-width: 15rem;
  width: 67vw;
}

h1[id]::after {
  background-color: inherit;
  color: #e5dec8;
  content: counter(titles) ".";
  font-style: italic;
  font-weight: 700;
  left: -1rem;
  right: -1rem;
  text-indent: .5rem;
  z-index: -1;
}

h2,
.h2-like {
  font-size: 2em;
  line-height: 1.5;
  margin: 1.5em 0 .75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin: 2em 0 1em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2;
  margin: 2.4em 0 1.2em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333;
  margin: 2.6666em 0 1.3333em;
}

h6 {
  font-size: 1.0625em;
  line-height: 1.4118;
  margin: 2.8236em 0 1.4118em;
}

aside legend {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

aside button {
  background-color: #7b30b1;
  background-image:
    linear-gradient(
        rgba( 255, 255, 255, .1 ),
        rgba( 0, 0, 0, .1 )
    );
  border: 1px solid transparent;
  box-shadow:
    inset 0 1px rgba( 255, 255, 255, .2 ),
    0 .25em 0 -.1em rgba( 0, 0, 0, .2 );
  color: white;
  display: inline-block;
  margin: .5em auto;
  outline: 1px solid rgba( 0, 0, 0, .15 );
  outline-offset: -1px;
  padding: .5em 1em .55em;
  position: relative;
  text-align: center;
  text-shadow: .05em .05em rgba( 0, 0, 0, .2 );
  top: 0;
  transition: all 300ms;
}

aside button:hover,
aside button:focus,
aside button:active {
  background-color: rebeccaPurple;
  box-shadow:
    inset 0 1px rgba( 255, 255, 255, .2 ),
    0 .25em 0 -.1em rgba( 0, 0, 0, .25 );
}

aside button:active {
  top: .125em;
}

aside button span {
  background-image:
    linear-gradient(
        to right,
        rgba( 255, 255, 255, .3 ) 0%,
        rgba( 255, 255, 255, .3 ) 20%,
        transparent 20%,
        transparent 80%,
        rgba( 255, 255, 255, .3 ) 80%,
        rgba( 255, 255, 255, .3 ) 100%
    );
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  font-size: small;
  font-weight: lighter;
  padding: 0 1em;
}

li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}

textarea,
table,
td,
th,
samp,
div,
p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

code {
  line-height: 1;
}

table {
  margin-bottom: 1.5em;
}

pre {
  border: 0;
  color: #032C36;
  direction: ltr;
  font-family: "Consolas", "Monaco", "Andale Mono", monospace;
  font-size: small;
  -moz-hyphens: none;
  -moz-tab-size: 2;
  overflow-x: auto;
  text-align: left;
  text-shadow: 0 1px #fff;
  white-space: pre;
  word-spacing: normal;
}

p code,
ul code {
  border: 1px solid;
  border-radius: .2em;
  display: inline-block;
  font-family: inherit;
  padding: .1em;
  white-space: nowrap;
}

/* Liens */
a:link {
  color: #3462af;
}

a:visited {
  color: #7b30b1;
}

a:hover,
a:focus {
  color: #093785;
  outline: none;
  text-decoration: none;
}

a:active {
  color: rebeccapurple;
  outline: none;
}

a[href="#top"]::after {
  content: "\A0⇪";
  text-decoration: none;
}

footer[class] {
  justify-content: flex-end;
  position: relative;
}

footer[class] > div {
  display: flex;
  flex-flow: row wrap;
  margin: 1.5em 0;
  justify-content: space-between;
  width: 67vw;
}

footer p + p {
  text-align: right;
}

aside > div {
  background: white;
  border: 1px solid lightGray;
  border-radius: .25rem 0 0 .25rem;
  border-right: 0;
  box-shadow: inset 0 0 0 .25rem rgba( 0, 0, 0, .05 );
  margin: 0 -2rem 0 -1rem;
  padding: 1rem;
  width: 18rem;
}

aside fieldset {
  border: 0;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}

aside fieldset p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

[id="toc"] {
  list-style-position: outside;
  padding: 0;
}

[id="toc"] li {
  margin: .25em 0 .5em;
}

[class="active-test"] {
  position: relative;
}

[class="active-test"]::before {
  content: "➜";
  left: -2.5em;
  position: absolute;
}

.codeExample,
.codeBlock.cssExample {
  border: 1px solid #e5dec8;
  border-radius: 4px;
  margin: 1em 0;
}

.cssExample::before,
.codeExample::before {
  background: #fff;
  border: 1px solid;
  border-radius: 4px 0 4px 0;
  color: #e5dec8;
  content: "Example";
  display: inline-block;
  font-style: italic;
  padding: .25em .5em;
  transform: translate3d(-1px, -1px, 0);
}

.cssExample::before {
  content: "CSS";
  margin-bottom: -1em;
  transform: translate3d( calc( -1em - 1px ),  calc( -1em - 1px ), 0);
}

.codeBlock,
.exampleOutput {
  padding: 1em;
}

.codeBlock {
  background: #fffef9;
  border-top: 1px solid #e5dec8;
  border-radius: 0 0 4px 4px;
}

.codeExample {
  background: #fff;
}

form label {
  min-width: 1em;
}

a[target$="blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAGFBMVEX///////////////////////////////8pK8DIAAAAAXRSTlMAQObYZgAAADZJREFUCJljKC8vYCsvZwBSDCCKgYHBHUKVu4Mo5gJ2IMUOFmBgLwZTTKlgCgjYUShxoAkgAADDIA8SMJqkyAAAAABJRU5ErkJggg==);
  padding-left: .5em;
}

#bookmarklet--link {
  background-color: #911;
  background-image:
    linear-gradient(
        rgba( 255, 255, 255, .1 ),
        rgba( 0, 0, 0, .1 )
    );
  border: 1px solid transparent;
  box-shadow:
    inset 0 1px rgba( 255, 255, 255, .2 ),
    0 .25em 0 -.1em rgba( 0, 0, 0, .2 );
  color: white;
  display: block;
  font-size: larger;
  font-weight: 700;
  margin: .5em auto;
  outline: 1px solid rgba( 0, 0, 0, .15 ) !important;
  outline-offset: -1px !important;
  padding: .5em 1em .55em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-indent: 1.25rem;
  text-shadow: .05em .05em rgba( 0, 0, 0, .2 );
  top: 0;
  transition: all 300ms;
}

#bookmarklet--link span {
  background-image:
    linear-gradient(
        to right,
        rgba( 255, 255, 255, .3 ) 0%,
        rgba( 255, 255, 255, .3 ) 20%,
        transparent 20%,
        transparent 80%,
        rgba( 255, 255, 255, .3 ) 80%,
        rgba( 255, 255, 255, .3 ) 100%
    );
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  display: block;
  font-size: small;
  font-weight: 400;
  opacity: .8;
  text-indent: 0;
}

#bookmarklet--link:hover,
#bookmarklet--link:focus,
#bookmarklet--link:active {
  background-color: darkRed;
  box-shadow:
    inset 0 1px rgba( 255, 255, 255, .2 ),
    0 .25em 0 -.1em rgba( 0, 0, 0, .25 );
}

#bookmarklet--link.done {
  background-color: oliveDrab;
  cursor: -webkit-grab;
  cursor: grab;
}

#bookmarklet--link.done:hover,
#bookmarklet--link.done:focus,
#bookmarklet--link.done:active {
  background-color: DarkOliveGreen;
}

#bookmarklet--link.done:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#bookmarklet--link::after {
  display: inline-block;
  font-size: small;
  font-weight: 400;
  opacity: .8;
  text-indent: 0;
  vertical-align: super;
  width: 3ch;
}

#bookmarklet--link[href*="-en"]::after {
  content: "en";
}

#bookmarklet--link[href*="-fr"]::after {
  content: "fr";
}

.s, .nd { color: #07a }
.na, .cssExample .nt { color: #690 }
.nt, .cssExample .err + .nt { color: #905 }
.o, .err { color: #999 }

#empty-link_code,
#empty-link_code-moz,
#empty-title_code,
#empty-node_code,
#-moz-only-#f3f3f3space {
  display: inline-block;
  min-height: 1em;
  min-width: 1em;
}

.skip {
  opacity: 0;
  position: absolute;
  top: 0;
}

.skip:focus {
  opacity: 1;
}

.builtWith {
  background: white;
  border: 1px solid lightGray;
  border-radius: 0 0 .25rem .25rem;
  border-top: 0;
  box-shadow: inset 0 0 0 .25rem rgba( 0, 0, 0, .05 );
  margin: 0;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  top: 0;
}

.builtWith a,
.builtWith a * {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 67.5em) {
  header nav ul {
    justify-content: space-between;
    max-width: 90vw;
  }

  [id="top"] > * {
    display: inline-block;
    min-width: 5.625rem;
    width: auto;
  }

  [id="top"] > * + * {
    flex: 1 0 auto;
    width: auto;
  }
}

@media only screen and (max-width: 57.5em) {
  body {
    min-height: 0;
  }

  main,
  .main {
    flex-direction: column;
  }

  aside {
    width: auto;
    order: 0;
  }

  aside .h2-like {
    margin-top: 1rem;
  }

  header nav,
  aside + *,
  footer[class] > div {
    width: auto;
  }

  header a:link {
    text-align: center;
  }

  main > *,
  .main > * {
    padding: 1rem;
  }

  main > * + * > *,
  .codeExample,
  .codeBlock.cssExample {
    margin-left: auto;
    margin-right: auto;
  }

  h1[id]::before {
    width: 100vw;
  }

  aside {
    align-items: flex-start;
  }

  aside > div {
    display: none;
  }
}

@media only screen and (min-width: 25em) and (max-width: 57.5em) {
  [id="toc"] {
    columns: 2;
    column-gap: 3rem;
  }
}

@media only screen and (min-width: 50em) and (max-width: 57.5em) {
  aside {
    flex-direction: row;
  }

  [id="toc"] {
    flex: 1 0 auto;
  }

  h1[id] {
    display: block;
    left: -2.25rem;
    max-width: 42.25rem;
  }

  h1[id]::before {
    left: calc( 50% - 50vw + 2.25rem );
  }
}

@media only screen and (max-width: 50em) {
  h1[id],
  main > * + * > * {
    max-width: 90vw;
  }

  h1[id] {
    left: 1rem;
  }

  [id="toc"] {
    margin: 1.5em auto;
    padding-left: 1.5em;
    width: 90vw;
  }
}