---
pagination:
  data: themes
  size: 1
  alias: themePage
permalink: "{{ themePage.title | slug }}.html"
---
{% extends "layouts/base.njk" %}
{% import "./_includes/components/utils.njk" as utils %}

{% set theme = sass[themePage.theme] %}

{% block css %}
	{%- set title = themePage.title | lower -%}
	{%- if 'docs' !== title and 'webextension' !== title -%}
		<link rel="stylesheet" href="./static/css/a11y-en_{{ themePage.title | lower }}-only.css">
	{%- endif -%}
	<link rel="stylesheet" href="./static/css/a11y-light.min.css">
{% endblock %}

{% block title %}{{ themePage.title }}{% endblock %}

{% block sidebar %}
	{{- utils.toc(theme, themePage.subthemes) -}}
{% endblock %}

{% block content %}
	<h1>{{ themePage.title }}</h1>
	{{ utils.writeSassDoc(theme, themePage.subthemes) }}
{% endblock %}



