/* MAIN COLOURS AND LAYOUT */
body {
	background-color: #f7f7f7;
	background-image: radial-gradient(#0000001a 15%, transparent 16%), radial-gradient(#0000001a 15%, transparent 16%);
	background-position: 0 0, .25rem .25rem;
	background-size: .5rem .5rem;
	box-sizing: border-box;
	color: #3e4b55;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 75%;
	margin: 0;
	min-width: 25em;
	padding: 0;
	width: 32em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#home {
	background: #fcf9e9;
	border: 1px solid #e5dec8;
	border-radius: .25rem;
	margin: .625rem;
}

h1 {
	margin-top: 0;
	padding: .5em;
}

h2,
.h2 {
	display: flex;
	margin-left: -1rem;
	margin-right: -1rem;
}

h2::after,
h2::before,
.h2::after,
.h2::before {
	background-color: #e5dec8;
	background-image: radial-gradient(#0000001a 15%, transparent 16%),radial-gradient(#0000001a 15%, transparent 16%);
	background-position: 0 0, .25rem .25rem;
	background-size: .5rem .5rem;
	content: "";
	flex: 1;
	margin: 0 0 0 .5rem;
}

h2::before,
.h2::before {
	flex: 0 1 1rem;
	margin: 0 .5rem 0 0;
}

.util {
	margin: 1rem;
}

.button-group {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

hr {
	visibility: hidden;
}

.hidden {
    display: none;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	width: 100%;
}

/* BUTTONS and clickable things */
button {
	background-color: rebeccapurple;
	background-image: linear-gradient(#ffffff1a, #0000001a);
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: inset 0 1px #fff3, 0 .25em 0 -.1em #0003;
	color: #fff;
	margin: .5rem 0;
	outline: 1px solid #0003;
	outline-offset: -1px;
	padding: .5em 1em .55em;
	text-shadow: .05em .05em #0003;
	transition: all 300ms;
}

button:hover,
button:focus {
	background-color: #528;
	box-shadow: inset 0 1px #fff3, 0 .25em 0 -.1em #0000004d;
}

button:active {
	box-shadow: inset 0 1px #0003;
	transform: translate3d(.1em, .1em, 0);
}

[type="submit"] {
	background-color: #008000;
}

[type="submit"]:hover,
[type="submit"]:focus {
	background-color: #007000;
}

[type="reset"] {
	background: #fff;
	box-shadow: none;
	color: inherit;
	outline: none;
	text-shadow: none;
}

[type="reset"]:hover,
[type="reset"]:focus {
	background: none;
	box-shadow: none;
	color: black;
}

#btnA11ycssBack::before {
	content: "← ";
}

#btnAllycss::after {
	content: " →";
}

label {
	cursor: pointer;
	display: flex;
	padding: .25rem .25rem .25rem 1.25rem;
}

input + label {
	transform: translateX(-.625rem);
}

input + label::before {
	background: #3e4b55;
	border-radius: 50%;
	content: "";
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	height: 1em;
	margin-right: .5em;
	text-align: center;
	width: 1em;
}

input:checked + label {
	color: rebeccapurple;
}

input:checked + label::before {
	background: rebeccapurple;
	content: "•";
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
