@charset "UTF-8";

a[href="#"],
a[href^="javascript"],
a:not([href]),
a[href=""],

// Les liens vides sont proscris
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=90
a:empty,

// Repère les images sans alternative textuelle.
// @see BP1 OpQuast
img:not([alt]),
area:not([alt]),
input[type="image"]:not([alt]),

// Une alternative contenant un espace est presque pire que pas d’alternative du tout ><
// @see BP1 OpQuast
img[alt=" "],
area[alt=" "],
input[type="image"][alt=" "],

img:not([src]),
img[src=""],
img[src="#"],
input[type="image"]:not([src]),
input[type="image"][src=""],
input[type="image"][src="#"],


// Détecte les attributs manquants ou vides.
label:not([for]),
label[for=""],

input:not([id]),
input[id=""],
input:not([type]),
input[type=""],
input[type="submit"]:not([value]),

select:not([id]),
select[id=""],

textarea:not([id]),
textarea[id=""],

// Si des options sont regroupées, ce groupe doit avoir un label (pertinent, de préférence).
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=179
optgroup:not([label]),

iframe:not([title]),
iframe[title=""],

form:not([action]),

[class=""],
[id=""],

// La langue du document doit être précisée.
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=109
html:not([lang]),

// Les valeurs d’attributs contre-indiquées
meta[http-equiv="refresh"],

// Les événements javascript sous forme d’attributs HTML sont déconseillés
[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll],
[onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {

  @extend %a11y-error;

}
