@charset "UTF-8";

// Éléments obsolètes
// @see http://www.w3.org/TR/html5/obsolete.html#obsolete
applet,
acronym,
bgsound,
dir,
frame,
frameset,
hgroup,
isindex,
listing,
nextid,
noembed,
plaintext,
rb,
strike,
xmp,
basefont,
big,
blink,
center,
font,
marquee,
multicol,
nobr,
spacer,
tt,

// Attributs obsolètes
// @see http://www.w3.org/TR/html5/obsolete.html#obsolete
a[charset], link[charset],
a[coords],
a[shape],
a[methods], link[methods],
a[name], embed[name], img[name], option[name],
a[rev], link[rev],
form[accept],
area[nohref],
head[profile],
html[version],
input[ismap],
input[usemap],
iframe[longdesc], img[longdesc],
img[lowsrc],
link[target],
meta[scheme],
object[archive],
object[classid],
object[code],
object[codebase],
object[codetype],
object[declare],
object[standby],
param[type],
param[valuetype],
script[language],
script[event],
script[for],
table[datapagesize],
table[summary],
td[axis], th[axis],
td[scope],
a[datasrc], applet[datasrc], button[datasrc], div[datasrc], frame[datasrc], iframe[datasrc], img[datasrc], input[datasrc], label[datasrc], legend[datasrc], marquee[datasrc], object[datasrc], option[datasrc], select[datasrc], span[datasrc], table[datasrc], textarea[datasrc],
a[datafld], applet[datafld], button[datafld], div[datafld], fieldset[datafld], frame[datafld], iframe[datafld], img[datafld], input[datafld], label[datafld], legend[datafld], marquee[datafld], object[datafld], param[datafld], select[datafld], span[datafld], textarea[datafld],
button[dataformatas], div[dataformatas], input[dataformatas], label[dataformatas], legend[dataformatas], marquee[dataformatas], object[dataformatas], option[dataformatas], select[dataformatas], span[dataformatas], table[dataformatas],
body[alink],
body[bgcolor], table[bgcolor], td[bgcolor], th[bgcolor], tr[bgcolor],
body[link],
body[marginbottom],
body[marginheight], iframe[marginheight],
body[marginleft],
body[marginright],
body[margintop],
body[marginwidth], iframe[marginwidth],
body[text],
body[vlink],
br[clear],
col[char], tbody[char], thead[char], tfoot[char], td[char], th[char], tr[char],
col[charoff], tbody[charoff], thead[charoff], tfoot[charoff], td[charoff], th[charoff], tr[charoff],
col[valign], tbody[valign], thead[valign], tfoot[valign], td[valign], th[valign], tr[valign],
col[width], hr[width], pre[width], table[width], td[width], th[width],
dl[compact], ol[compact], ul[compact],
embed[hspace], iframe[hspace], input[hspace], img[hspace], object[hspace],
embed[vspace], iframe[vspace], input[vspace], img[vspace], object[vspace],
hr[color],
hr[noshade],
hr[size],
h1[align], h2[align], h3[align], h4[align], h5[align], h6[align], iframe[align], caption[align], col[align], div[align], embed[align], hr[align], input[align], img[align], legend[align], object[align], p[align], table[align], tbody[align], thead[align], tfoot[align], td[align], th[align], tr[align],
iframe[allowtransparency],
iframe[frameborder],
iframe[scrolling],
img[border], object[border],
li[type], ul[type],
table[cellpadding],
table[cellspacing],
table[frame],
table[rules],
td[height], th[height],
td[nowrap], th[nowrap],
body[background], table[background], thead[background], tbody[background], tfoot[background], tr[background], td[background], th[background] {

  @extend %a11y-obsolete;

}
