/* Repère les imbrications inadéquates d'éléments. */
ul > *:not(li),
ol > *:not(li),
table > tr,
table table,
/* tfoot doit être *avant* tbody */
tbody + tfoot,
/* Le premier descendant d’un fieldset *doit* être sa légende */
fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child),

/* Les liens sans titre ou avec un titre vide doivent être vérifiés. */
a[title=""],
a:not([title]),

/* La première occurrence d’une abréviation donne accès à sa signification
 * @see : BP160 OpQuast
*/
abbr:not([title]),
abbr[title=""],

/* Les images avec une alternative vide doivent être vérifiées.
 * @see : BP1 OpQuast
*/
img[alt=""],

/* Détecte les éléments supportant des styles en ligne.
 * @see : BP156 OpQuast
*/
[style],

/* Détecte les éléments vides */
div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty,
title:empty {

  @extend %warning;

}
