@charset "UTF-8";

// Repère les imbrications inadéquates d'éléments.
ul > *:not(li),
ol > *:not(li),
table > tr,
table table,
// tfoot doit être *avant* tbody
tbody + tfoot,
// Le premier descendant d’un fieldset *doit* être sa légende
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=140
fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child),

// La première occurrence d’une abréviation donne accès à sa signification
// @see BP160 OpQuast
abbr:not([title]),
abbr[title=""],

// Les images avec une alternative vide doivent être vérifiées.
// @see BP1 OpQuast
img[alt=""],
area[alt=""],
input[type="image"][alt=""],

// Détecte les éléments supportant des styles en ligne.
// @see BP156 OpQuast
[style],

// Un champ et son label doivent être accolés
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=142
label + :not(input):not(select):not(textarea),

// Détecte les éléments vides
div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty,
title:empty,

// Un tableau de mise en forme ne doit pas contenir les éléments et attributs suivants :
// <caption>, <thead>, <tfoot>, <th>, scope, headers, colgroup, axis
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=80
table[role="presentation"],

// Une en-tête de tableau avec l’attribut scope doit s’appliquer à toute la ligne / colonne.
// Une en-tête ne s’appliquant pas à toute la ligne / colonne ne doit pas porter l’attribut scope.
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=81
th[scope],
th:not([scope]),
th:not([id]) {

  @extend %a11y-warning;

}
