// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=116
nav,
main:not(:first-of-type),

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=176
[href^="mailto"],
[target$="blank"],

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=172
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=171
[href$=".pdf"],
[href$=".doc"],
[href$=".docx"],
[href$=".xls"],
[href$=".txt"],

.search:not([role="search"]),
#search:not([role="search"]),

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=137
[required],
[aria-required],

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=120
// @note Tests 10.13.2 et 10.13.3
[hidden]:not(:empty),
[aria-hidden]:not(:empty),

[placeholder],

video,
audio,

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=75
track:not([kind="caption"]),

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=39
svg,
embed,
canvas,
object[type^="image"],

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=46
img[title],
area[title],
svg[title],

time,
[datetime],
[pubdate],

meta[charset] {
  @include a11y-outline('advice');
  @extend %a11y-message;

  counter-increment: advice;
}
