ul > *:not(li),
ol > *:not(li),
table > tr,
table table,
tbody + tfoot,
// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=140
fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child),

// @see BP160 OpQuast
abbr:not([title]),
abbr[title=""],

// @see BP1 OpQuast
img[alt=""],
area[alt=""],
input[type="image"][alt=""],

// @see BP156 OpQuast
[style],

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=142
label + :not(input):not(select):not(textarea),

div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty,
title:empty,

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=80
table[role="presentation"],

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=81
th[scope],
th:not([scope]),
th:not([id]) {
  @include a11y-outline('warning');
  @extend %a11y-message;

  counter-increment: warning;
}
