$messages: (
  "ui:error": "أخطاء",
  "ui:advice": "نصائح",
  "ui:warning": "تنبيهات",
  "ui:obsolete": "قديم",
  "advice:empty-class": " غير متوفر[class]",
  "advice:empty-id": "رقم التعريف غير متوفر",
  "advice:main": "استخدام ثاني لإظافة محتوى<main>",
  "advice:figcaption": "شرح او توضيح للشكل الثاني <figcaption>",
  "advice:figcaption-order": "طلب خاطئ ل <figcaption>",
  "advice:target-blank": "رابط لفتح شريط بحث جديد",
  "advice:mailto": "هل هذا الاميل صحيح؟",
  "advice:tel": "هل رقم الهاتف صحيح؟",
  "advice:role-button": "[role=button] زر قابل للنقر على الرابط",
  "advice:file-format": "هل حجم وتنسيق الملف معروض؟",
  "advice:duplicate-roles": "ثاني للعنصر attr(role) دور",
  "advice:missing-role": "[role=search] هل وظيفة البحث عرفت؟",
  "advice:required": "[required] field: هذا الحقل واضح؟انه مطلوب",
  "advice:hidden": "عنصر مخفي",
  "advice:placeholder": "لا تضع نص من الملومات بدل العلامه<label>",
  "advice:video-audio": "نسخه بديله مفقوده",
  "advice:title": "[title] العنوان يجب أن يكون بديل مطابق للعنصر",
  "advice:time": "هل التاريخ صحيح؟",
  "advice:th-scope": " طبق على العنصر؟ <th>هل",
  "advice:table-presentation": "مصصم كجدول",
  "advice:no-href": "رابط من غير هدف",
  "advice:no-https": "لا يوجد HTTPS",
  "error:tab-order": "توزيع شريط البحث",
  "error:empty-href": "المصدر غير موجود[href]",
  "error:empty-link": " الرابط غير موجود...",
  "error:no-alt": "البديل غير موجود[alt]",
  "error:no-src": "المصدر غير موجود",
  "error:bad-src": " المصدر غير صحيج[src]",
  "error:bad-srcset": "خيارات غسر صحيحه للعنصر [srcset]",
  "error:empty-for": " غير موجود [for]",
  "error:no-id": "حقل من غير علامة أو تعريف",
  "error:optgroup": "<optgroup> من غير علامة [label]",
  "error:no-value": "عنوان من غير مدخل",
  "error:empty-button": "زر فاضي فاضي ومن غير عنوان",
  "error:empty-button-title": "عنوان غير موجود[title]",
  "error:empty-button-aria-label": "غير موجود [aria-label]",
  "error:empty-button-aria-labelledby": "زر فاضي يخالف أوامر area  [aria-labelledby]",
  "error:not-form-button": "نوع الزر غير موجود[type]",
  "error:not-submit-button": "[type=attr(type)] لا يجب أن يحتوي على زر عناصر تقديم",
  "error:disabled-button": " استخدم خاصية الإلغاء أو القراءه فقط[disabled] or [readonly]",
  "error:no-type": "النوع غير موجود [type]",
  "error:no-title": " العنوان غير موجود[title] لل <iframe>",
  "error:no-action": "الغرض من العنصر غير موجود [action]",
  "error:no-page-title": "العنوان غير موجود<title>",
  "error:table-for-layout": "دلاله لفظيه في تصميم الجدول",
  "error:dimensions": "[width] & [height] العرض والارتفاع ممنوع",
  "error:no-lang": "اللغه غير موجوده [lang]",
  "error:js-events": "JavaScript عنصر للجافاسكريبت ",
  "error:id-namespace": "رقم تعريف غير صحيح[id]",
  "error:class-namespace": "غير صحيح [class]",
  "error:unaccessible-viewport": "العنصر لا يسمح بالدخول [meta name=viewport]",
  "error:incorrect-charset": "[charset] هذا الشفره غير صحيحه utf-8",
  "error:late-charset": "<head> يجب أن يبدأ بتحديد الشفره  [charset]",
  "error:invalid-dir": "المكان المححد للعنصر غير صحيح [dir]",
  "error:accesskey": "[accesskey]خطأ في مفتاح الاختصار",
  "error:inputs-group": "الإسم غير موجود[name]",
  "error:radio-group": "[radio] عنصر الراديو خارج قائمة الحقل <fieldset>",
  "error:no-aria-label": "عنصر مفقود لأوامر [aria-label] and [aria-labelledby]",
  "error:role-slider": "عناصر مفقوده في[role=slider]",
  "error:role-spinbutton": "عناصر مفقوده في [role=spinbutton]",
  "error:role-checkbox": "عنصر الإختيار غير موجود[aria-checked]",
  "error:role-combobox": "عنصر التمديد غير موجود [aria-expanded]",
  "error:role-scrollbar": "عناصر مفقوده في [role=scrollbar]",
  "error:nested-interactive": "عناصر التفاعل متداخله",
  "warning:style-attr": "تنسيقات التصميم",
  "warning:invalid-nesting": "تداخل غير صحيح",
  "warning:invalid-list-nesting": "قائمه متداخله غير صحيحه <li>",
  "warning:invalid-def": "<dd> ترتيب غير صحيح",
  "warning:invalid-def-nesting": "غير صحيح <dl> طفل",
  "warning:invalid-figcaption-nesting": "<figcaption> شرح توضيحي خارج الشكل <figure>",
  "warning:figure-role": "<figure> شكل من غير دور [role=group]",
  "warning:misplaced-div": "<div> عنصر في وضع خاطئ",
  "warning:sectioning-tags": "استخدام شعار تقسيمي غير صحيح",
  "warning:fieldset": "<fieldset> legend يجب أن تبدأ ب  <legend>",
  "warning:details": "<details> يجب أن تبدأ بملخص",
  "warning:abbr": "عنوان غير موجود [title]",
  "warning:empty-alt": " بديل غير موجود[alt]",
  "warning:no-aria-role": " هل تصميم الرسم البياني قابل للتطوير",
  "warning:no-for": "عنصر مفقود [for]",
  "warning:decoration": "عنصر دلالي موجود على صوره للزينه",
  "warning:presentation": "[role=presentation] عرض على صوره",
  "warning:autoplay": "قابل للتشغيل اوتوماتكلي",
  "warning:controls": "التحكم غير موجود[controls]",
  "warning:empty-nodes": "عنصر فاضي",
  "warning:empty-title": "عنوان فاضي[title]",
  "warning:table-layout": "صف وحيد",
  "warning:table-caption": "بينات الجدول لازم تبدأ بوصف <caption>",
  "warning:table-structure": "طلب غير صحيح <thead>, <tfoot> or <tbody>",
  "warning:missing-thead": "عمليه مفقوده <thead>",
  "warning:th-no-scope": "نطاق أو رقم تعريفي غير متوفر[scope] or [id]",
  "warning:spacer-gif": " صورة متغيرة للتحكم في التصميم المرئي ",
  "warning:undefined-id": " قيمة تعريفيه محسوبه خطأ[id]",
  "warning:undefined-class": "قيمة كلاس محسوبه خطأ [class]",
  "warning:empty-href": "[href=attr(href)]مصدر بديل غير موجود",
  "warning:href-js": "[href] بداية للجافا سكريبت:",
  "warning:nested-table": "جداول متداخله <table>s",
  "warning:unsecured-target": "الهدف غيرأمن [target]",
  "warning:filename-alt": "إسم ملف بديل [alt]",
  "warning:no-aria-level": "لا [aria-level]",
  "warning:mismatched-dir": "[lang] و [dir] غير متسقة",
  "obsolete:tags": "عنصر قديم",
  "obsolete:attributes": "عنصر قديم"
);