$messages: (
  "ui:error": "Erreurs",
  "ui:advice": "Conseils",
  "ui:warning": "Avertissements",
  "ui:obsolete": "Obsolètes",
  "advice:empty-class": "[class] vide",
  "advice:empty-id": "[id] vide",
  "advice:main": "Second <main>",
  "advice:figcaption": "Second <figcaption>",
  "advice:figcaption-order": "Mauvaise position de <figcaption>",
  "advice:target-blank": "Lien ouvrant un nouvel onglet",
  "advice:mailto": "L’adresse mail est valide ?",
  "advice:tel": "Le numéro de téléphone est valide ?",
  "advice:role-button": "Lien avec [role=button]",
  "advice:file-format": "Le format et le poids du fichier sont indiqués ?",
  "advice:duplicate-roles": "Second rôle attr(role)",
  "advice:missing-role": "Le [role=search] est défini ?",
  "advice:required": "Champ obligatoire : est-ce explicite ?",
  "advice:hidden": "Élément masqué",
  "advice:placeholder": "[placeholder] ne peut remplacer <label>",
  "advice:video-audio": "Version alternative manquante",
  "advice:title": "[title] doit être identique à l’alternative",
  "advice:time": "La date est compréhensible ?",
  "advice:th-scope": "<th> s'applique à attr(scope) ?",
  "advice:table-presentation": "Tableau de mise en forme",
  "advice:no-href": "Lien sans cible",
  "advice:no-https": "Pas de HTTPS",
  "error:tab-order": "Ordre de tabulation perturbé",
  "error:empty-href": "[href] vide",
  "error:empty-link": "Lien vide",
  "error:no-alt": "[alt] absent",
  "error:no-src": "Source absente",
  "error:bad-src": "[src] invalide",
  "error:bad-srcset": "[srcset] invalide",
  "error:empty-for": "[for] vide",
  "error:no-id": "Aucun label",
  "error:optgroup": "<optgroup> sans [label]",
  "error:no-value": "Aucun intitulé",
  "error:empty-button": "Bouton vide et sans intitulé",
  "error:empty-button-title": "[title] vide",
  "error:empty-button-aria-label": "[aria-label] vide",
  "error:empty-button-aria-labelledby": "[aria-labelledby] vide",
  "error:not-form-button": "[type] absent",
  "error:not-submit-button": "[type=attr(type)] avec des attributs de soumission",
  "error:disabled-button": "[disabled] ou [readonly] absent",
  "error:no-type": "[type] absent",
  "error:no-title": "[title] absent",
  "error:no-action": "[action] absent",
  "error:no-page-title": "<title> vide",
  "error:table-for-layout": "Contenu sémantique dans un tableau de mise en page",
  "error:dimensions": "[width] et [height] prohibés",
  "error:no-lang": "[lang] absent",
  "error:js-events": "Attribut d’événement JavaScript",
  "error:id-namespace": "[id] invalide",
  "error:class-namespace": "[class] invalide",
  "error:unaccessible-viewport": "[meta name=viewport] inaccessible",
  "error:incorrect-charset": "Le [charset] n’est pas utf-8",
  "error:late-charset": "<head> doit débuter par [charset]",
  "error:invalid-dir": "[dir] invalide",
  "error:accesskey": "[accesskey]",
  "error:inputs-group": "[name] absent",
  "error:radio-group": "[radio] sans <fieldset>",
  "error:no-aria-label": "[aria-label] et [aria-labelledby] absent",
  "error:role-slider": "Attributs manquants pour [role=slider]",
  "error:role-spinbutton": "Attributs manquants pour [role=spinbutton]",
  "error:role-checkbox": "[aria-checked] absent",
  "error:role-combobox": "[aria-expanded] absent",
  "error:role-scrollbar": "Attributs manquants pour [role=scrollbar]",
  "error:nested-interactive": "Éléments interactifs imbriqués",
  "warning:style-attr": "Styles en ligne",
  "warning:invalid-nesting": "Imbrication invalide",
  "warning:invalid-list-nesting": "Imbrication invalide de <li>",
  "warning:invalid-def": "Ordre invalide de <dd>",
  "warning:invalid-def-nesting": "Enfant invalide pour <dl>",
  "warning:invalid-figcaption-nesting": "<figcaption> hors de <figure>",
  "warning:figure-role": "<figure> sans [role=group]",
  "warning:misplaced-div": "<div> dans un élément en ligne",
  "warning:sectioning-tags": "Éléments sectionnants mal utilisés",
  "warning:fieldset": "<fieldset> doit débuter par <legend>",
  "warning:details": "<details> doit débuter par <summary>",
  "warning:abbr": "[title] absent",
  "warning:empty-alt": "[alt] vide",
  "warning:no-aria-role": "SVG décoratif ou non ?",
  "warning:no-for": "[for] absent",
  "warning:decoration": "Attribut sémantique sur une image décorative",
  "warning:presentation": "[role=presentation] sur une image",
  "warning:autoplay": "Lecture automatique",
  "warning:controls": "[controls] absent",
  "warning:empty-nodes": "Élément vide",
  "warning:empty-title": "[title] absent",
  "warning:table-layout": "Une seule ligne",
  "warning:table-caption": "Un tableau de données doit débuter par <caption>",
  "warning:table-structure": "Ordre incorrect pour <thead>, <tfoot> et <tbody>",
  "warning:missing-thead": "<thead> absent",
  "warning:th-no-scope": "[scope] ou [id] absent",
  "warning:spacer-gif": "spacer.gif",
  "warning:undefined-id": "Mauvaise valeur calculée pour [id]",
  "warning:undefined-class": "Mauvaise valeur calculée pour [class]",
  "warning:empty-href": "[href=attr(href)]",
  "warning:href-js": "[href] débutant par javascript:",
  "warning:nested-table": "<table> imbriqués",
  "warning:unsecured-target": "[target] vulnérable",
  "warning:filename-alt": "Nom de fichier dans [alt]",
  "warning:no-aria-level": "Pas de [aria-level]",
  "warning:mismatched-dir": "[lang] et [dir] incohérents",
  "obsolete:tags": "Élément obsolète",
  "obsolete:attributes": "Attribut obsolète"
);