$messages: (
  "ui:error": "Σφάλματα",
  "ui:advice": "Συμβουλές",
  "ui:warning": "Προειδοποιήσεις",
  "ui:obsolete": "Παρωχημένα",
  "advice:empty-class": "Κενή ιδιότητα [class].",
  "advice:empty-id": "Κενή ιδιότητα [id].",
  "advice:main": "Διπλότυπη ετικέτα <main>.",
  "advice:figcaption": "Διπλότυπη ετικέτα <figcaption>.",
  "advice:figcaption-order": "Λανθασμένη διάταξη <figcaption>.",
  "advice:target-blank": "Ο σύνδεσμος ανοίγει νέα καρτέλα.",
  "advice:mailto": "Είναι το email έγκυρο;",
  "advice:tel": "Είναι ο αριθμός τηλεφώνου έγκυρος;",
  "advice:role-button": "Ιδιότητα [role=button] σε σύνδεσμο.",
  "advice:file-format": "Είναι εμφανές το είδος αρχείου και το μέγεθός του;",
  "advice:duplicate-roles": "Διπλότυπος ρόλος attr(role).",
  "advice:missing-role": "Έχει ορισθεί η ιδιότητα [role=search];",
  "advice:required": "[required] πεδίο: είναι οπτικά κατανοητό;",
  "advice:hidden": "Κρυφό αντικείμενο.",
  "advice:placeholder": "Η ιδιότητα [placeholder] δεν μπορεί να αντικαταστήσει ένα <label>.",
  "advice:video-audio": "Έλλειψη εναλλακτικής έκδοσης.",
  "advice:title": "Η ιδιότητα [title] πρέπει να ισούται με την [alt].",
  "advice:time": "Είναι η τιμή της ημερομηνίας έγκυρη;",
  "advice:th-scope": "Η ετικέτα <th> μπορεί να περιέχει attr(scope).",
  "advice:table-presentation": "Δεδομένα σε πίνακα διάταξης.",
  "advice:no-href": "Σύνδεσμος χωρίς διεύθυνση.",
  "advice:no-https": "Ο σύνδεσμος δεν είναι HTTPS.",
  "error:tab-order": "[tabindex] > 0",
  "error:empty-href": "Κενή ιδιότητα [href].",
  "error:empty-link": "Κενός σύνδεσμος.",
  "error:no-alt": "Η ιδιότητα [alt] δεν βρέθηκε.",
  "error:no-src": "Η ιδιότητα [src] δεν βρέθηκε.",
  "error:bad-src": "Η ιδιότητα [src] περιέχει λανθασμένη τιμή.",
  "error:bad-srcset": "Η ιδιότητα [srcset] περιέχει λανθασμένη τιμή.",
  "error:empty-for": "Κενή ιδιότητα [for].",
  "error:no-id": "Πεδίο χωρίς περιγραφή.",
  "error:optgroup": "Ετικέτα <optgroup> χωρίς ιδιότητα [label].",
  "error:no-value": "Ετικέτα <input> χωρίς τίτλο.",
  "error:empty-button": "Κενή ετικέτα <button> χωρίς τίτλο.",
  "error:empty-button-title": "Κενή ιδιότητα [title].",
  "error:empty-button-aria-label": "Κενή ιδιότητα [aria-label].",
  "error:empty-button-aria-labelledby": "Κενή ιδιότητα [aria-labelledby].",
  "error:not-form-button": "Η ιδιότητα [type] δεν βρέθηκε.",
  "error:not-submit-button": "[type=attr(type)] δεν θα πρέπει να περιέχει χαρακτηριστικά υποβολής φόρμας.",
  "error:disabled-button": "Η χρήση της ιδιότητας [disabled] ή [readonly] είναι αναγκαία.",
  "error:no-type": "Η ιδιότητα [type] δεν βρέθηκε.",
  "error:no-title": "Η ιδιότητα [title] δεν βρέθηκε στην ετικέτα <iframe>.",
  "error:no-action": "Η ιδιότητα [action] δεν βρέθηκε.",
  "error:no-page-title": "Κενή ετικέτα <title>.",
  "error:table-for-layout": "Σημασιολογική ετικέτα σε πίνακα διάταξης.",
  "error:dimensions": "Οι ιδιότητες [width] και [height] είναι απαγορευμένες.",
  "error:no-lang": "Η ιδιότητα [lang] δεν βρεθηκε.",
  "error:js-events": "Ιδιότητα συμβάντος JS.",
  "error:id-namespace": "Λανθασμένη τιμή της ιδιότητας [id].",
  "error:class-namespace": "Λανθασμένη τιμή της ιδιότητας [class].",
  "error:unaccessible-viewport": "Μη προσβάσιμη ιδιότητα [meta name=viewport].",
  "error:incorrect-charset": "Ιδιότητα [charset] δεν είναι utf-8.",
  "error:late-charset": "H ετικέτα <head> πρέπει να περιέχει [charset] στην αρχή.",
  "error:invalid-dir": "Λανθασμένη τιμή [dir].",
  "error:accesskey": "[accesskey].",
  "error:inputs-group": "Η ιδιότητα [name] δεν βρέθηκε.",
  "error:radio-group": "Ετικέτα τύπου [radio] εκτός <fieldset>.",
  "error:no-aria-label": "Οι ιδιότητες [aria-label] και [aria-labelledby] δεν βρέθηκαν.",
  "error:role-slider": "Έλλειψη επιπρόσθετων ιδιοτήτων στην ετικέτα τύπου [role=slider].",
  "error:role-spinbutton": "Έλλειψη επιπρόσθετων ιδιοτήτων στην ετικέτα τύπου [role=spinbutton].",
  "error:role-checkbox": "Η ιδιότητα [aria-checked] δεν βρέθηκε.",
  "error:role-combobox": "Η ιδιότητα [aria-expanded] δεν βρέθηκε.",
  "error:role-scrollbar": "Έλλειψη επιπρόσθετων ιδιοτήτων στην ετικέτα τύπου [role=scrollbar].",
  "error:nested-interactive": "Εμφωλευμένες διαδραστικές ετικέτες.",
  "warning:style-attr": "Εσωτερικά στυλ.",
  "warning:invalid-nesting": "Μη έγκυρη εμφώλευση.",
  "warning:invalid-list-nesting": "Μη έγκυρη εμφώλευση της ετικέτας <li>.",
  "warning:invalid-def": "Μη έγκυρη εμφώλευση της ετικέτας <dd>.",
  "warning:invalid-def-nesting": "Μη έγκυρη διάταξη της ετικέτας <dl>.",
  "warning:invalid-figcaption-nesting": "Ετικέτα <figcaption> εκτός ετικέτας <figure>.",
  "warning:figure-role": "Ετικέτα <figure> χωρίς ιδιότητα [role=group].",
  "warning:misplaced-div": "Ετικέτα <div> σε inline στοιχείο.",
  "warning:sectioning-tags": "Λανθασμένη χρήση ετικέτας στοίχισης.",
  "warning:fieldset": "Η ετικέτα <fieldset> πρέπει να αρχίζει με <legend>.",
  "warning:details": "Η ετικέτα <details> πρέπει να αρχίζει με <summary>.",
  "warning:abbr": "Η ιδιότητα [title] δεν βρέθηκε.",
  "warning:empty-alt": "Κενή ιδιότητα [alt].",
  "warning:no-aria-role": "Είναι το SVG διακοσμητικό;",
  "warning:no-for": "Η ιδιότητα [for] δεν βρέθηκε.",
  "warning:decoration": "Σημασιολογική ιδιότητα σε διακοσμητική εικόνα.",
  "warning:presentation": "Ιδιότητα [role=presentation] σε εικόνα.",
  "warning:autoplay": "Αυτόματη αναπαραγωγή.",
  "warning:controls": "Η ιδιότητα [controls] δεν βρέθηκε.",
  "warning:empty-nodes": "Κενό περιεχόμενο.",
  "warning:empty-title": "Κενή ιδιότητα [title].",
  "warning:table-layout": "Μονή σειρά.",
  "warning:table-caption": "Πίνακες δεδομένων πρέπει να ξεκινάνε με <caption>.",
  "warning:table-structure": "Λανθασμένη σειρά για <thead>, <tfoot> ή <tbody>.",
  "warning:missing-thead": "Η ετικέτα <thead> δεν βρεθηκε.",
  "warning:th-no-scope": "Οι ιδιότητες [scope] ή [id] δεν βρέθηκαν.",
  "warning:spacer-gif": "spacer.gif",
  "warning:undefined-id": "Λανθασμένη υπολογίσιμη τιμή στην ιδιότητα [id].",
  "warning:undefined-class": "Λανθασμένη υπολογίσιμη τιμή στην ιδιότητα [class].",
  "warning:empty-href": "[href=attr(href)]",
  "warning:href-js": "Η τιμή της ιδιότητας [href] αρχίζει με javascript:",
  "warning:nested-table": "Εμφωλευμένες ετικέτες <table>.",
  "warning:unsecured-target": "Επικίνδυνη τιμή ιδιότητας [target].",
  "warning:filename-alt": "Όνομα αρχείου στην ιδιότητα [alt].",
  "warning:no-aria-level": "Η ιδιότητα [aria-level] δεν βρέθηκε.",
  "warning:mismatched-dir": "[lang] και [dir] ασυνεπή",
  "obsolete:tags": "Παρωχημένη ετικέτα.",
  "obsolete:attributes": "Παρωχημένη ιδιότητα."
);