$messages: (
	"ui:error": "Błędy",
	"ui:advice": "Porady",
	"ui:warning": "Ostrzeżenia",
	"ui:obsolete": "Przestarzałe",
	"advice:empty-class": "Pusta [class]",
	"advice:empty-id": "Pusty [id]",
	"advice:main": "Drugi <main>",
	"advice:figcaption": "Drugi <figcaption>",
	"advice:figcaption-order": "Zła kolejność <figcaption>",
	"advice:target-blank": "Łącze otwiera nową kartę",
	"advice:mailto": "Czy e-mail jest poprawny?",
	"advice:tel": "Czy telefon jest poprawny?",
	"advice:role-button": "[role=button] dla łącza",
	"advice:file-format": "Czy podany jest format i rozmiar pliku?",
	"advice:duplicate-roles": "Drugi attr(role) role",
	"advice:missing-role": "Czy określono [role=search]?",
	"advice:required": "Pole [required]: czy to jest jasne?",
	"advice:hidden": "Element ukryty",
	"advice:placeholder": "Placeholder nie może zastępować <label>",
	"advice:video-audio": "Brak wersji alternatywnej",
	"advice:title": "[title] powinien być taki sam jak alt",
	"advice:time": "Czy data jest poprawna?",
	"advice:th-scope": "Czy <th> odnosi się do attr(scope)?",
	"advice:table-presentation": "Tabela układu",
	"advice:no-href": "Łącze bez celu (href)",
	"advice:no-https": "Nie HTTPS",
	"advice:select-option-not-empty": "<select required> musi się zaczynać od <option value=\"\">",
	"error:tab-order": "Zakłócony porządek tabulacji",
	"error:empty-href": "Pusty [href]",
	"error:empty-link": "Puste łącze…",
	"error:no-alt": "Brak [alt]",
	"error:no-src": "Brak źródła - src",
	"error:bad-src": "Złe [src]",
	"error:bad-srcset": "Złe [srcset]",
	"error:empty-for": "Puste [for]",
	"error:no-id": "Pole bez etykiety",
	"error:optgroup": "<optgroup> bez [label]",
	"error:no-value": "Pole bez tytułu",
	"error:empty-button": "Pusty przycisk bez tytułu",
	"error:empty-button-title": "Pusty [title]",
	"error:empty-button-aria-label": "Pusta [aria-label]",
	"error:empty-button-aria-labelledby": "Pusta [aria-labelledby]",
	"error:not-form-button": "Brak [type]",
	"error:not-submit-button": "[type=attr(type)] nie powinno mieć atrybutów wysyłania",
	"error:disabled-button": "Użyj [disabled] lub [readonly]",
	"error:no-type": "Brak [type]",
	"error:no-title": "Brak [title] w <iframe>",
	"error:no-action": "Brak [action]",
	"error:no-page-title": "Pusty <title>",
	"error:table-for-layout": "Semantyczne rzeczy w tabeli układu",
	"error:dimensions": "[width] i [height] są zabronione",
	"error:no-lang": "Brak [lang]",
	"error:js-events": "Atrybut zdarzenia JavaScript",
	"error:id-namespace": "Niepoprawne [id]",
	"error:class-namespace": "Niepoprawna [class]",
	"error:unaccessible-viewport": "Niedostępne [meta name=viewport]",
	"error:incorrect-charset": "[charset] nie jest utf-8",
	"error:late-charset": "<head> musi się zaczynać od [charset]",
	"error:invalid-dir": "Błędny [dir]",
	"error:accesskey": "[accesskey]",
	"error:inputs-group": "Brak [name]",
	"error:radio-group": "[radio] poza <fieldset>",
	"error:no-aria-label": "Brak [aria-label] i [aria-labelledby]",
	"error:role-slider": "Brak atrybutów w [role=slider]",
	"error:role-spinbutton": "Brak atrybutów w [role=spinbutton]",
	"error:role-checkbox": "Brak [aria-checked]",
	"error:role-combobox": "Brak [aria-expanded]",
	"error:role-scrollbar": "Brak atrybutów w [role=scrollbar]",
	"error:nested-interactive": "Zagnieżdżone elementy interaktywne",
	"error:show-lang": "attr(lang)",
	"error:attribute-whitespace": "Atrybut nie może mieć tylko spacji",
	"warning:style-attr": "Styl śródliniowy",
	"warning:invalid-nesting": "Źle zagnieżdżone",
	"warning:invalid-list-nesting": "Źle zagnieżdżone <li>",
	"warning:invalid-def": "Zła kolejność <dd>",
	"warning:invalid-def-nesting": "Niepoprawne dziecko <dl>",
	"warning:invalid-figcaption-nesting": "<figcaption> na zewnątrz <figure>",
	"warning:figure-role": "<figure> bez [role=figure]",
	"warning:misplaced-div": "<div> w elemencie liniowym",
	"warning:sectioning-tags": "Nieprawidłowo użyty znacznik sekcji",
	"warning:fieldset": "<fieldset> musi się zaczynać od <legend>",
	"warning:details": "<details> musi się zaczynać od <summary>",
	"warning:abbr": "Brak [title]",
	"warning:empty-alt": "Pusty [alt]",
	"warning:no-aria-role": "Czy ten SVG jest dekoracyjny?",
	"warning:no-for": "Brak [for]",
	"warning:decoration": "Atrybut semantyczny w obrazie dekoracyjnym",
	"warning:presentation": "[role=presentation] dla obrazu",
	"warning:autoplay": "Automatyczne odtwarzanie",
	"warning:controls": "Brak [controls]",
	"warning:empty-nodes": "Pusty element",
	"warning:empty-title": "Pusty [title]",
	"warning:table-layout": "Pojedynczy wiersz",
	"warning:table-caption": "Tabela danych musi się zaczynać od <caption>",
	"warning:table-structure": "Zła kolejność <thead>, <tfoot> lub <tbody>",
	"warning:missing-thead": "Brak <thead>",
	"warning:th-no-scope": "Brak [scope] lub [id]",
	"warning:spacer-gif": "spacer.gif",
	"warning:undefined-id": "Zła wartość obliczona dla [id]",
	"warning:undefined-class": "Zła wartość obliczona dla [class]",
	"warning:empty-href": "[href=attr(href)]",
	"warning:href-js": "[href] zaczyna się od javascript:",
	"warning:nested-table": "Zagnieżdżona <table>",
	"warning:filename-alt": "Nazwa pliku [alt]",
	"warning:no-aria-level": "Brak [aria-level]",
	"warning:mismatched-dir": "Niespójny [lang] i [dir]",
	"obsolete:tags": "Przestarzały element",
	"obsolete:attributes": "Przestarzały atrybut"
);
