$messages: (
  "ui:error": "Erros",
  "ui:advice": "Conselhos",
  "ui:warning": "Avisos",
  "ui:obsolete": "Obsoletos",
  "advice:empty-class": "[class] não deve ser vazio",
  "advice:empty-id": "[id] não deve ser vazio",
  "advice:main": "<main> deve ser único dentro do elemento pai",
  "advice:figcaption": "<figcaption> deve ser único dentro do elemento pai",
  "advice:figcaption-order": "Ordem errada para <figcaption>",
  "advice:target-blank": "Link para abrir uma nova aba",
  "advice:mailto": "É um e-mail válido?",
  "advice:tel": "É um telefone válido?",
  "advice:role-button": "[role=button] no link",
  "advice:file-format": "O formato e o tamanho do arquivo são exibidos?",
  "advice:duplicate-roles": "Secundo attr(role) role",
  "advice:missing-role": "É [role=search] definido?",
  "advice:required": "[required] field: É explícito?",
  "advice:hidden": "Elemento escondido",
  "advice:placeholder": "Placeholder não subistitui <label>",
  "advice:video-audio": "Faltando controles",
  "advice:title": "[title] Titulo deveria ser igual ao [alt][aria-label]",
  "advice:time": "Essa data é válido?",
  "advice:th-scope": "Tag <th> tem aplicado attr(scope)?",
  "advice:table-presentation": "Layout table",
  "advice:no-href": "Link sem destino",
  "advice:no-https": "Sem HTTPS",
  "error:tab-order": "Interrupção da ordem da aba",
  "error:empty-href": "Vazio [href]",
  "error:empty-link": "Vazio link…",
  "error:no-alt": "Faltando [alt]",
  "error:no-src": "Faltando source",
  "error:bad-src": "Inválido [src]",
  "error:bad-srcset": "Inválido [srcset]",
  "error:empty-for": "Vazio [for]",
  "error:no-id": "Campo não marcado",
  "error:optgroup": "<optgroup> sem [label]",
  "error:no-value": "Sem valor input",
  "error:empty-button": "Vazio e sem título button",
  "error:empty-button-title": "Vazio [title]",
  "error:empty-button-aria-label": "Vazio [aria-label]",
  "error:empty-button-aria-labelledby": "Vazio [aria-labelledby]",
  "error:not-form-button": "Faltando [type]",
  "error:not-submit-button": "[type=attr(type)] Não deve ter atributos de submissão de formulários",
  "error:disabled-button": "Use [disabled] ou [readonly]",
  "error:no-type": "Faltando [type]",
  "error:no-title": "Faltando [title] para <iframe>",
  "error:no-action": "Faltando [action]",
  "error:no-page-title": "Vazio <title>",
  "error:table-for-layout": "Existe semantiga em algum item dentro da tabela",
  "error:dimensions": "[width] & [height] are forbidden",
  "error:no-lang": "Faltando [lang]",
  "error:js-events": "JavaScript event attribute",
  "error:id-namespace": "Inválido [id]",
  "error:class-namespace": "Inválido [class]",
  "error:unaccessible-viewport": "Inacessível [meta name=viewport]",
  "error:incorrect-charset": "[charset] faltando utf-8",
  "error:late-charset": "<head> deve começar com [charset]",
  "error:invalid-dir": "Inválido [dir]",
  "error:accesskey": "[accesskey]",
  "error:inputs-group": "Faltando [name]",
  "error:radio-group": "[radio] agrupados por <fieldset>",
  "error:no-aria-label": "Faltando [aria-label] e [aria-labelledby]",
  "error:role-slider": "Faltando altributos [role=slider]",
  "error:role-spinbutton": "Faltando altributosFaltado altributos [role=spinbutton]",
  "error:role-checkbox": "Faltando [aria-checked]",
  "error:role-combobox": "Faltando [aria-expanded]",
  "error:role-scrollbar": "Faltando altributos [role=scrollbar]",
  "error:nested-interactive": "Elementos interativos aninhados",
  "warning:style-attr": "Inline styles",
  "warning:invalid-nesting": "Inválido nesting",
  "warning:invalid-list-nesting": "Inválido <li> nesting",
  "warning:invalid-def": "Inválido <dd> ordem",
  "warning:invalid-def-nesting": "Inválido <dl> filho",
  "warning:invalid-figcaption-nesting": "<figcaption> fora <figure>",
  "warning:figure-role": "<figure> sem [role=group]",
  "warning:misplaced-div": "<div> in inline element",
  "warning:sectioning-tags": "Etiqueta de seção abusiva",
  "warning:fieldset": "<fieldset> deve começar com <legend>",
  "warning:details": "<details> deve começar com <summary>",
  "warning:abbr": "Faltando [title]",
  "warning:empty-alt": "Vazio [alt]",
  "warning:no-aria-role": "Este SVG é decorativo?",
  "warning:no-for": "Faltando [for]",
  "warning:decoration": "Atributo semântico em uma imagem decorativa",
  "warning:presentation": "[role=presentation] em uma imagem",
  "warning:autoplay": "Autoplay",
  "warning:controls": "Faltando [controls]",
  "warning:empty-nodes": "Vazio element",
  "warning:empty-title": "Vazio [title]",
  "warning:table-layout": "Uma única linha",
  "warning:table-caption": "Deve começar com <caption>",
  "warning:table-structure": "Ordem errada para <thead>, <tfoot> ou <tbody>",
  "warning:missing-thead": "Faltando <thead>",
  "warning:th-no-scope": "Faltando [scope] or [id]",
  "warning:spacer-gif": "spacer.gif",
  "warning:undefined-id": "Valor ruim para [id]",
  "warning:undefined-class": "Valor ruim para [class]",
  "warning:empty-href": "[href=attr(href)]",
  "warning:href-js": "[href] começando com javascript:",
  "warning:nested-table": "Nested <table>s",
  "warning:unsecured-target": "Inseguro [target]",
  "warning:filename-alt": "Nome do arquivo [alt]",
  "warning:no-aria-level": "Sem [aria-level]",
  "warning:mismatched-dir": "[lang] e [dir] inconsistente",
  "obsolete:tags": "Obsoleto element",
  "obsolete:attributes": "Obsoleto attribute"
);