$messages: (
  "ui:error": "错误",
  "ui:advice": "建议",
  "ui:warning": "警告",
  "ui:obsolete": "已废弃",
  "advice:empty-class": "[class] 为空",
  "advice:empty-id": "[id] 为空",
  "advice:main": "包含多个 <main>",
  "advice:figcaption": "包含多个 <figcaption>",
  "advice:figcaption-order": "<figcaption> 位置错误",
  "advice:target-blank": "此链接将打开新标签页",
  "advice:mailto": "Email 地址是否正确？",
  "advice:tel": "手机号是否正确？",
  "advice:role-button": "链接中出现了 [role=button]",
  "advice:file-format": "有没有文件格式和大小的信息？",
  "advice:duplicate-roles": "重复的 [role] 属性",
  "advice:missing-role": "是否包含 [role=search]？",
  "advice:required": "包含 [required] 的必填选项，含义是否明确？",
  "advice:hidden": "隐藏的元素",
  "advice:placeholder": "[placeholder] 不能替代 <label>",
  "advice:video-audio": "<video> 和 <audio> 应该有备用方案",
  "advice:title": "[title] 应该和 [alt] 相同",
  "advice:time": "日期是否正确？",
  "advice:th-scope": "<th> 包含 [scope] 吗？",
  "advice:table-presentation": "确认这个 [table] 元素是用于布局而非展示数据",
  "advice:no-href": "缺少 [href]",
  "advice:no-https": "缺少 HTTPS",
  "error:tab-order": "标签页位置不正确",
  "error:empty-href": "[href] 为空",
  "error:empty-link": "空链接",
  "error:no-alt": "缺少 [alt]",
  "error:no-src": "缺少 [src]",
  "error:bad-src": "错误的 [src]",
  "error:bad-srcset": "错误的 [srcset]",
  "error:empty-for": "[for] 为空",
  "error:no-id": "缺少 [label]",
  "error:optgroup": "<optgroup> 缺少 [label]",
  "error:no-value": "无 title 的输入框",
  "error:empty-button": "<button> 的属性为空",
  "error:empty-button-title": "[title] 为空",
  "error:empty-button-aria-label": "[aria-label] 为空",
  "error:empty-button-aria-labelledby": "[aria-labelledby] 为空",
  "error:not-form-button": "缺少 [type]",
  "error:disabled-button": "使用 [disabled] 或 [readonly]",
  "error:no-type": "缺少 [type]",
  "error:no-title": "<iframe> 缺少 [title]",
  "error:no-action": "缺少 [action]",
  "error:no-page-title": "<title> 为空",
  "error:table-for-layout": "<table> 作为布局使用，不应有语义化标签",
  "error:dimensions": "[width] 和 [height] 属性不应使用",
  "error:no-lang": "缺少 [lang]",
  "error:js-events": "JavaScript 事件属性",
  "error:id-namespace": "错误的 [id]",
  "error:class-namespace": "错误的 [class]",
  "error:invalid-dir": "错误的 [dir]",
  "error:accesskey": "[accesskey]",
  "error:inputs-group": "缺少 [name]",
  "error:no-aria-label": "缺少 [aria-label] 和 [aria-labelledby]",
  "error:role-checkbox": "缺少 [aria-checked]",
  "error:role-combobox": "缺少 [aria-expanded]",
  "error:not-submit-button": "[type=attr(type)] 不应有表单提交属性",
  "error:role-slider": "[role=slider] 缺少属性",
  "error:role-spinbutton": "[role=spinbutton] 缺少属性",
  "error:role-scrollbar": "[role=scrollbar] 缺少属性",
  "error:radio-group": "[radio] 缺少 <fieldset> 包裹",
  "error:unaccessible-viewport": "[meta name=viewport] 对可用性有影响",
  "error:incorrect-charset": "[charset] 非 utf-8",
  "error:late-charset": "<head> 必须以 [charset] 开头",
  "error:nested-interactive": "嵌套的交互元素",
  "warning:style-attr": "内联样式",
  "warning:invalid-nesting": "元素嵌套错误",
  "warning:invalid-list-nesting": "<li> 嵌套错误",
  "warning:invalid-def": "错误的 <dd> 顺序",
  "warning:invalid-def-nesting": "错误的 <dl> 子元素",
  "warning:invalid-figcaption-nesting": "<figcaption> 处于 <figure> 之外",
  "warning:figure-role": "<figure> 缺少 [role=group]",
  "warning:misplaced-div": "<div> 不应在内联元素之内",
  "warning:sectioning-tags": "<section> 使用有误",
  "warning:fieldset": "<fieldset> 必须以 <legend> 开头",
  "warning:details": "<details> 必须以 <summary> 开头",
  "warning:abbr": "缺少 [title]",
  "warning:empty-alt": "[alt] 为空",
  "warning:no-aria-role": "这是SVG装饰吗？",
  "warning:no-for": "缺少 [for]",
  "warning:decoration": "装饰图像上的语义属性",
  "warning:presentation": "[role=presentation] 在图像上",
  "warning:autoplay": "自动播放",
  "warning:controls": "缺少 [controls]",
  "warning:empty-nodes": "节点内容为空",
  "warning:empty-title": "[title] 为空",
  "warning:table-layout": "单行的 table",
  "warning:table-caption": "展示数据的 <table>必须以 <caption> 开头",
  "warning:table-structure": "<thead>, <tfoot>，<tbody> 的顺序有误",
  "warning:missing-thead": "缺少 <thead>",
  "warning:th-no-scope": "缺少 [scope] 或 [id]",
  "warning:spacer-gif": "使用了 spacer.gif",
  "warning:undefined-id": "[id] 错误",
  "warning:undefined-class": "[class] 错误",
  "warning:empty-href": "[href] 为空",
  "warning:href-js": "[href] 为 javascript: 开头",
  "warning:nested-table": "嵌套的 <table>",
  "warning:unsecured-target": "不安全的 [target]",
  "warning:filename-alt": "文件名 [alt]",
  "warning:no-aria-level": "缺少 [aria-level]",
  "warning:mismatched-dir": "[lang] 和 [dir] 不一致",
  "obsolete:tags": "已废弃的元素",
  "obsolete:attributes": "已废弃的属性"
);