<footer class="main">
  <div>
    <p class="builtWith box">
      Built with
      <a href="https://www.11ty.dev/">
        Eleventy
        <span class="sr-only">&nbsp;(external link)</span>
        {% include "icons/external-link.svg" %}<!--
      --></a>
      and supported by
      <a href="https://www.jetbrains.com/?from=a11y.css">
        JetBrains
        <span class="sr-only">&nbsp;(external link)</span>
        {% include "icons/external-link.svg" %}
      </a>
    </p>
    <p>® 2014 —&nbsp;{% year %} <strong>Gaël Poupard</strong></p>
    <p>This project is distributed under license <a href="https://opensource.org/licenses/MIT" title="The MIT licence">MIT</a> and <a href="https://creativecommons.org/licenses/by/3.0/fr/" hreflang="fr" title="Explications de la licence">CC BY 3.0 FR</a>. <a class="end" href="#top">Back to top</a></p>
  </div>
</footer>
