<footer role="contentinfo">
  <p class="builtWith box">
      Built with
      <a href="https://www.11ty.dev/">
        Eleventy
        <span class="sr-only">&nbsp;(external link)</span>
        {% include "icons/external-link.svg" %}-
      </a>
      and supported by
      <a href="https://www.jetbrains.com/?from=a11y.css">
        JetBrains
        <span class="sr-only">&nbsp;(external link)</span>
        {% include "icons/external-link.svg" %}
      </a>
    </p>
    <div>
      <p>® 2014 —&nbsp;{% year %} <strong>Gaël Poupard</strong></p>
      <p>This project is distributed under license <a href="https://opensource.org/licenses/MIT">MIT</a> and <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. <a href="#skip-links">Back to top</a></p>
    </div>
</footer>
