pre {
  border: 0;
  color: #032C36;
  direction: ltr;
  font-family: "Consolas","Monaco","Andale Mono",monospace;
  font-size: small;
  -moz-hyphens: none;
  -moz-tab-size: 2;
  overflow-x: auto;
  text-align: left;
  text-shadow: 0px 1px #fff;
  white-space: pre;
  word-spacing: normal;
}

p code {
  white-space: nowrap;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav a,
nav a:hover,
nav a:focus,
nav a:visited {
  color: #fff;
}

ol.mb3 {
  padding-left: 3em;
}

.active-test {
  position: relative;
}

.active-test::before {
  content: "➜";
  left: -2.5em;
  position: absolute;
}

nav .action--secondary {
  position: relative;
}

nav li + li .action--extra,
nav li + li .action--primary,
nav li + li .action--secondary {
  border-left: 0;
}

.Errors .errors::before,
.Warnings .warnings::before,
.Obsolete .obsolete::before,
.Advices .advices::before,
nav:not(.Errors):not(.Warnings):not(.Obsolete):not(.Advices) .index::before {
  content: "";
  border-bottom: .5em solid transparent;
  border-left: .5em solid rgba( 255, 255, 255, .25 );
  border-top: .5em solid transparent;
  left: 0;
  position: absolute;
  top: calc(50% - .5em);
}

.codeExample,
.codeBlock.cssExample {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1em 0;
  position: relative;
  z-index: 1;
}

.cssExample::before,
.codeExample::before {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px 0 4px 0;
  content: "Example";
  display: block;
  padding: .33em;
  transform: translate(-1px, -1px);
  width: 5em;
}

.cssExample::before {
  content: "CSS";
  margin-bottom: -1em;
  transform: translate( calc( -1em - 1px ),  calc( -1em - 1px ));
  width: 3em;
}

.codeBlock,
.exampleOutput {
  padding: 1em;
}

.codeBlock {
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}

header h1::before {
  content: "\2665\00A0";
  color: #c42419;
  float: left;
  text-align: right;
  width: 32%;
}

main {
  counter-reset: titles;
}

/* .h3-like from sseeeedd.css */
main h1 {
  counter-increment: titles;
  font-size: 2.625em;
  line-height: 1.14286;
  margin: 1.14286em 0 .57143em -1.15em;
}

main h1::before {
  content: counter(titles);
  background: #f9f9f9;
  border: 1px dotted #ccc;
  border-radius: 50%;
  display: inline-block;
  font-size: .75em;
  height: 1.5em;
  line-height: 1.4;
  margin-right: .25em;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
}

/* .h5-like from sseeeedd.css */
main h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

form label {
  min-width: 1em;
}

aside small {
  line-height: 1.25;
}

main > div {
  border-left: 1px dotted #ccc;
  padding-left: 1.5rem;
}

a[target$="blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAGFBMVEX///////////////////////////////8pK8DIAAAAAXRSTlMAQObYZgAAADZJREFUCJljKC8vYCsvZwBSDCCKgYHBHUKVu4Mo5gJ2IMUOFmBgLwZTTKlgCgjYUShxoAkgAADDIA8SMJqkyAAAAABJRU5ErkJggg==);
  padding-left: .5em;
}

.bookmarklet::after {
  font-size: .5em;
  padding-left: 1em;
  vertical-align: super;
}

.bookmarklet[href*="-en"]::after {
  content: "en";
}

.bookmarklet[href*="-fr"]::after {
  content: "fr";
}

.bookmarklet.done {
  background-color: #164d16;
  background-image: linear-gradient( to bottom, #3ec83e 0%, #164d16 100% );
}

.s, .nd { color: #07a }
.na, .cssExample .nt { color: #690 }
.nt, .cssExample .err + .nt { color: #905 }
.o, .err { color: #999 }

#empty-link_code,
#empty-link_code-moz,
#empty-title_code,
#empty-node_code,
#-moz-only-whitespace {
  min-height: 1em;
}
