@charset "UTF-8";

$counters: ();

@each $key, $value in $themes {
    $counters: append($counters, unquote($key), space);
}

html {
  counter-reset: $counters;

  &::before {
    content:
        "Errors:   " counter(error)    "\A "
        "Warnings: " counter(warning)  "\A "
        "Obsolete: " counter(obsolete) "\A "
        "Advices:  " counter(advice)   "\A ";

    background: rgba( 0, 0, 0, .8 );
    border: 1px solid black;
    border-radius: 3px;
    bottom: 1em;
    box-shadow: inset 1px 1px 0 rgba( 255, 255, 255, .3 );
    color: white;
    font-family: monospace;
    left: 1em;
    padding: .75em 1em;
    position: fixed;
    text-shadow: 1px 1px black;
    white-space: pre;
  }
}
