@charset "UTF-8";

html {
  counter-reset: error warning obsolete advice;

  &::before {
    content:
      map-get(theme-conf("error",    "name"), $language) ": " #{counter(error)}    "\A "
      map-get(theme-conf("warning",  "name"), $language) ": " #{counter(warning)}  "\A "
      map-get(theme-conf("obsolete", "name"), $language) ": " #{counter(obsolete)} "\A "
      map-get(theme-conf("advice",   "name"), $language) ": " #{counter(obsolete)} "\A ";

    background: rgba(0, 0, 0, .8);
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba( 255, 255, 255, .3 );

    position: fixed;
    bottom: 1em;
    left: 1em;
    padding: .75em 1em;

    color: white;
    font-family: monospace;
    text-shadow: 1px 1px black;
    white-space: pre;
  }
}
