@charset 'UTF-8';

html {
  counter-reset: error warning obsolete advice;

  &::after {
    @include base-content($minimum-level);

    background: rgba( 0, 0, 0, .8 );
    background-position: .5em 0;
    background-repeat: no-repeat;
    background-size: .5em 100%;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba( 255, 255, 255, .3 );

    position: fixed;
    bottom: 1em;
    left: 1em;
    right: auto;
    top: auto;
    padding: .75em 1em .75em 1.5em;

    color: #fff;
    font: 700 1.2rem/1.5 "Arial", "Nimbus Sans L", sans-serif;
    text-shadow: 1px 1px #000;
    transform: translateZ(0 );
    white-space: pre;
    z-index: 2147483647;
  }
}

// In order to display messages in <head>
// @thanks to Xavier Zalawa a.k.a. @7studio
// Based on an idea from Mathias Bynens
// @see https://mathiasbynens.be/notes/css-hidden-elements
head {
  display: block;
}

head * {
  display: none;
}
