@charset "UTF-8";

// Corrélation entre la sémantique HTML5 et ARIA : aucunes prétentions, simples suggestions. À vous d’avoir le recul nécessaire !
nav:not([role="navigation"])::after,
main:not([role="main"])::after,
body > header:not([role="banner"])::after,
body > footer:not([role="contentinfo"])::after {
  content: "#{$advice-ico} Ces éléments ont probablement mérité le premier rôle :-) .\A Navigation, main, banner, contentinfo, complementary : ils sont tous là ?" !important;
}

nav::after {
  content: "#{$advice-ico} La balise <nav> est réservée à la structuration des zones de navigations principales et secondaires. Vous le saviez ?" !important;
}

main:not(:first-of-type)::after {
  content: "#{$advice-ico} <main> est réservée à la zone de contenu principal, et doit donc être unique.\A Repentez-vous et tout ira bien :) ." !important;
}

// Si vous utilisez ces éléments, il y a de fortes chances pour que ces attributs améliorent l’accessibilité
section:not([aria-labelledby])::after {
  content: "#{$advice-ico} L’élément <section> a une valeur sémantique, vous le saviez ?\A Il doit donc être décrit par un texte." !important;
}

figure:not([role="group"])::after {
  content: "#{$advice-ico} L’élément <figure> regroupe une <img> et un <figcaption> :\A le rôle «group» semble indiqué, pas vrai ?" !important;
}

figure img:not([aria-describedby])::after {
  content: "#{$advice-ico} Une image dans l’élément <figure> doit être liée à / décrite par un <figcaption>." !important;
}

// Les liens sont sensibles, vous savez ?
[target="_blank"]::after {
  content: "#{$advice-ico} L’utilisateur doit être averti si un lien ouvre une nouvelle fenêtre.\A Mais vous y avez pensé, non :) ?" !important;
}

[href$=".pdf"],
[href$=".doc"],
[href$=".docx"],
[href$=".xls"],
[href$=".txt"] {
  &::after {
    content: "#{$advice-ico} Le format et le poids d’un fichier téléchargeable devraient être indiqués — et il devrait être accessible." !important;
  }
}

// Si on a un ID ou une classe «search», il est fort probable que le role search doive suivre
.search:not([role="search"])::after,
#search:not([role="search"])::after {
  content: "#{$advice-ico} Vu ! Cet élément semble être la recherche.\A Mais alors, le rôle ARIA est là, non ?" !important;
}

[required]::after,
[aria-required]::after {
  content: "#{$advice-ico} Le caractère obligatoire d’un champ doit être indiqué intelligiblement (en texte) et pas seulement par la couleur." !important;
}

[hidden]::after,
[aria-hidden]::after {
  content: "#{$advice-ico} Cet élément — masqué aux technologies d’assistance — ne porte aucune information, vous en êtes bien sûr ?" !important;
}

[placeholder]::after {
  content: "#{$advice-ico} Ce placeholder ne remplace pas un <label>, j’espère ?\A Y’en a qui ont essayé…" !important;
}

video::after,
audio::after {
  content: "#{$advice-ico} Les éléments interactifs doivent disposer d’une alternative, d’un transcript ou d’un sous-titrage (<track>), et indiquer leur durée." !important;
}

track:not([kind="caption"])::after {
  content: "#{$advice-ico} Vous utilisez <track>, c’est bon signe !\A Mais l’attribut kind='caption' vous intéressera sûrement aussi :) ." !important;
}

svg::after,
embed::after,
canvas::after,
object[type^="image"]::after {
  content: "#{$advice-ico} Les <svg>, <embed>, <canvas> et autres <object> porteurs d’information devraient être regroupés dans un parent <figure> et associés à un <figcaption> (ou <desc> pour <svg>)." !important;
}

img[title]::after,
area[title]::after,
svg[title]::after {
  content: "#{$advice-ico} L’attribut title, s’il est présent, doit être identique à l’alternative renseignée.\A À vous de jouer ;-) ." !important;
}

time::after,
[datetime]::after,
[pubdate]::after {
  content: "#{$advice-ico} Le format de date est-il compréhensible ?" !important;
}

meta[charset]::after {
  content: "#{$advice-ico} Sommes-nous bien en utf-8 ?" !important;
}
