a:not([href])::after,
a[href=""]::after {
  content: "Attribut [href] manquant. Un lien doit avoir une cible, non ?" !important;
}

a[href="#"]::after{
  content: "Attribut [href='#']. Pourqoi ? Un <button> semble plus indiqué." !important;
}

a[href^="javascript"]::after{
  content: "Attribut [href] débutant par javascript. Ça n’augure rien de bon…" !important;
}

a:empty::after {
  content: "Ce lien est vide. Vide…" !important;
}

img:not([alt])::after,
area:not([alt])::after,
input[type="image"]:not([alt])::after {
  content: "Attribut [alt] manquant. Quelle hérésie." !important;
}

img[alt=" "]::after,
area[alt=" "]::after,
input[type="image"][alt=" "]::after {
  content: "Un attribut [alt] *presque* vide. C’est une blague, non ?" !important;
}

img:not([src]),
img[src=""],
img[src="#"],
input[type="image"]:not([src]),
input[type="image"][src=""],
input[type="image"][src="#"] {
  &::after {
    content: "Attribut [src] manquant ou vide. Bon." !important;
  }
}

label:not([for])::after,
label[for=""]::after{
  content: "Attribut [for] manquant. Pourtant il doit bien servir à quelque chose, ce label, non ?" !important;
}

input:not([id]),
input[id=""],
select:not([id]),
select[id=""],
textarea:not([id]),
textarea[id=""] {
  &::after {
    content: "Attribut [id] manquant ou vide. Tout le monde a droit à un nom, même les champs de formulaire." !important;
  }
}

optgroup:not([label])::after {
  content: "Vous avez regroupé des options, mais aucun attribut label ne présente ce groupe d’options. Dommage…" !important;
}

input:not([type])::after,
input[type=""]::after {
  content: "Attribut [type] manquant ou vide. On met quoi, dans ce champ ?" !important;
}

input[type="submit"]:not([value])::after {
  content: "Attribut [value] manquant. Ça fait quoi alors, si je clique dessus ?" !important;
}

iframe:not([title])::after,
iframe[title=""]::after {
  content: "Attribut [title] manquant ou vide. Dieu seul sait ce que contient cette <iframe>." !important;
}

form:not([action])::after {
  content: "Attribut [action] manquant. Et après, il se passe quoi ?";
}

[required]:not([aria-describedby])::after,
[aria-required]:not([aria-describedby])::after {
  content: "Si le champ est obligatoire, une indication doit exister : liez-la au champ à l’aide de aria-describedby et de son ID. Merci !" !important;
}

[class=""]::after {
  content: "Attribut [class] vide. Pourquoi tant de haine ?" !important;
}

[id=""]::after {
  content: "Attribut [id] vide. Sérieusement ?" !important;
}

meta[http-equiv="refresh"]::after {
  content: "<meta http-equiv='refresh'> devrait être supprimé. Définitivement." !important;
}

html:not([lang])::after {
  content:"Pas d’attribut lang / xml:lang sur la balise <html>. Vous parlez quelle langue, vous ?" !important;
}

/* Les événements javscript sous forme d’attributs HTML */
[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll], [onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {
  &::after {
    content: "Attribut d’événements javscript. Vous êtes sûr de ce que vous faites ?" !important;
  }
}
