@charset "UTF-8";

ul > *:not(li),
ol > *:not(li),
table > tr,
table table,
tbody + tfoot {
  &::after {
    content: "#{$warning-ico} Imbrication inadéquate d’éléments.\A Ça peut heurter la sensibilité des plus jeunes, vous savez ?" !important;
  }
}

fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child) {
  &::after {
    content: "#{$warning-ico} Imbrication inadéquate d’éléments.\A Un fieldset doit enfanter d’une légende d’abord, sinon rien." !important;
  }
}

abbr:not([title])::after,
abbr[title=""]::after {
  content: "#{$warning-ico} Attribut [title] vide ou manquant.\A Jetez un œil à la BP 160 d’OpQuast ;-) " !important;
}

img[alt=""]::after,
area[alt=""]::after,
input[type="image"][alt=""]::after {
  content: "#{$warning-ico} Attribut [alt] vide.\A C’est toléré pour les images de décoration uniquement. Est-ce le cas ?" !important;
}

[style]::after {
  content: "#{$warning-ico} Éléments supportant des styles en ligne.\A Les pauvres… Vous devriez avoir honte !" !important;
}

label + :not(input):not(select):not(textarea)::after {
  content: "#{$warning-ico} Un champ et son label devrait être accolés.\A Mais ce qui suit ce label ne ressemble pas à un champ…" !important;
}

div,
span,
li,
p,
td,
th {
  &:empty::after {
    content: "#{$warning-ico} Élément vide. Diantre." !important;
  }
}

title:empty::after {
  content: "#{$warning-ico} La balise <title> est vide. Vous brûlerez en enfer d’ici peu." !important;
}

table[role="presentation"]::after {
  content: "#{$warning-ico} Un tableau de mise en forme ne doit pas contenir d’éléments propres aux tableaux de données.\A Vous pouvez vérifier ?" !important;
}

th[scope]::after {
  content: "#{$warning-ico} Cette cellule d’en-tête s’applique à la totalité de la ligne / colonne, vrai ou pas ?\A Elle le devrait, en tout cas." !important;
}

th:not([scope])::after {
  content: "#{$warning-ico} Cette cellule d’en-tête ne s’applique pas à la totalité de la ligne / colonne, si ?\A Si oui, pensez à scope." !important;
}

th:not([id])::after {
  content: "#{$warning-ico} Je suis sûr qu’un identifiant ferait plaisir à cette cellule d’en-tête." !important;
}
