<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>a11y.css test-cases <%= title %></title>
  <link rel="shortcut icon" href="static/brick.png" />
  <!-- Styleguide CSS -->
  <link rel="stylesheet" href="static/doc.css">
  <link rel="stylesheet" href="static/github.css">
  <link rel="stylesheet" href="static/screen.css">
  <!-- CSS to be documented -->
  <link rel="stylesheet" href="css/a11y-en.css">
  <!-- Main libraries -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <!-- component js and init scripts -->
  <script src="static/components.js"></script>
</head>
<body>
  <header class="header pbn" role="banner">
    <div class="backgroundHighlight typeReversed1">
      <div class="container">
        <h1 class="h2 mvs">a11y.css test-cases</h1>
      </div>
    </div>
    <div class="backgroundLowlight typeReversed1">
      <div class="container">
        <span>
          <ul class="docNav listInline">
            <!-- Add you pages here -->
            <li><a href="errors.html">Errors</a></li>
            <li><a href="warnings.html">Warnings</a></li>
            <li><a href="obsoletes.html">Obsoletes</a></li>
            <li><a href="advices.html">Advices</a></li>
          </ul>
        </span>
      </div>
    </div>
    <!-- //header/container -->
  </header>
  <div class="content">
    <section>
      <div class="line">
        <div class="col cols4">
          <div class="componentMenu box boxBasic backgroundBasic">
            <div class="boxBody pan">
              <ul class="componentList listBorderedHover">
                <% @blocks.each do |block| %>
                <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="main col cols20 lastCol">

