@charset 'UTF-8';


/*doc
---
title: "Empty [class] attribute"
name: empty-class
category: Advices
---

##Description
`[class]` shouldn't be present if empty. Something to improve, right?

##Selector
```css_example
[class=""],
[class=" "]
```

##Test
```html_example
<b class="">Why is there a class here?</b>
```
*/
[class=""],
[class=" "] {
  @include advice('empty-class');

  @include void-tags {
    @include advice('empty-class', $self-closing: true);
  }
}


/*doc
---
title: "Empty [id] attribute"
name: empty-id
category: Advices
---

##Description
`[id]` shouldn't be present if empty. You'll thank me later.

##Selector
```css_example
[id=""],
[id=" "]
```

##Test
```html_example
<i id="">Wait. Why is my ID empty?</i>
```
*/
[id=""],
[id=" "] {
  @include advice('empty-id');

  @include void-tags {
    @include advice('empty-id', $self-closing: true);
  }
}


/*doc
---
title: "A second visible main tag"
name: main
category: Advices
---

##Description
A single `<main>` should be visible at a time. Isn't that obvious?

##Reference
* <https://www.w3.org/TR/html52/changes.html#new-concepts>
* <https://www.w3.org/TR/html52/grouping-content.html#elementdef-main>

##Selector
```css_example
main ~ main:not([hidden])
```

##Test
```html_example
<main>I'm the main content!</main>
<main>No, It's me!</main>
```
*/
main ~ main:not([hidden]) {
  @include advice('main');
}


/*doc
---
title: "A second figcaption tag"
name: figcaption
category: Advices
---

##Description
`<figcaption>` should be single inside its parent. Check the spec!

##References
* <https://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figure-element>

##Selector
```css_example
figcaption:not(:first-of-type)
```

##Test
```html_example
<figure role="group">
  <figcaption>I'm the caption.</figcaption>
  <img src="static/ffoodd.png" alt="Needed" width="144" height="144" />
  <figcaption>I'm the caption too.</figcaption>
</figure>
```
*/
figcaption:not(:first-of-type) {
  @include advice('figcaption');
}


/*doc
---
title: "figcaption order"
name: figcaption-order
category: Advices
---

##Description
`<figcaption>` should be first or last child. Nothing else.

##References
* <https://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figure-element>

##Selector
```css_example
figcaption:not(:first-child):not(:last-child)
```

##Test
```html_example
<figure role="group">
  <img src="static/ffoodd.png" alt="Needed" width="144" height="144" />
  <figcaption>I'm the caption.</figcaption>
  <p>I'm something else. Oh, wait.</p>
</figure>
```
*/
figcaption:not(:first-child):not(:last-child) {
  @include advice('figcaption-order');
}


/*doc
---
title: "An email link should be valid"
name: mailto
category: Advices
---

##Description
A `<href="mailto:">` should contain a valid email.
Otherwise you may annoy your users.

##Selector
```css_example
[href^="mailto"]
```

##Test
```html_example
<a href="mailto:myself">Surpri-ise!</a>
```
*/
[href^="mailto"] {
  @include advice('mailto');
}


/*doc
---
title: "A phone link should call a real number"
name: tel
category: Advices
---

##Description
A `<href="tel:">` should contain a valid phone number.
Otherwise you may make your users to call anubody.

##Selector
```css_example
[href^="tel"]
```

##Test
```html_example
<a href="tel:012345678">Who will I call?</a>
```
*/
[href^="tel"] {
  @include advice('tel');
}


/*doc
---
title: "button [role] on a link"
name: role-button
category: Advices
---

##Description
Obviously, a button role on a link is probably not so hard to move to an authentic button tag, isn't it?

##References
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L174>

##Selector
```css_example
a[role="button"]
```

##Test
```html_example
<a href="/" role="button">Submit</a>
```
*/
a[role="button"] {
  @include advice('role-button');
}


/*doc
---
title: "Link opening new tab"
name: target-blank
category: Advices
---

##Description
A link opening new tab or window should warn user about its behaviour.
You could use a `[title]`, for example.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-2>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs>
* <https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context>
* <https://www.w3.org/TR/WCAG-TECHS/H33.html>
* <https://www.w3.org/TR/WCAG-TECHS/H83.html>
* <https://www.w3.org/TR/WCAG-TECHS/F22.html>

##Selector
```css_example
[target$="blank"]
```

##Test
```html_example
<a href="/" target="_blank" rel="noopener noreferrer">New tab</a>
```
*/
[target$="blank"] {
  @include advice('target-blank');
}


/*doc
---
title: "Linking to a file"
name: file-format
category: Advices
---

##Description
A link to a file should indicate the file format, the file size and if different from the main document, the file language.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-6>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-7>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs>
* <https://www.w3.org/TR/WCAG-TECHS/H33.html>

##Selector
```css_example
[download],
[href$=".pdf"]:not(link),
[href$=".doc"]:not(link),
[href$=".png"]:not(link),
[href$=".jpg"]:not(link),
[href$=".gif"]:not(link),
[href$=".mp3"]:not(link),
[href$=".mp4"]:not(link),
[href$=".mov"]:not(link),
[href$=".ogg"]:not(link),
[href$=".xls"]:not(link),
[href$=".txt"]:not(link),
[href$=".zip"]:not(link),
[href$=".rar"]:not(link),
[href$=".docx"]:not(link),
[href$=".webp"]:not(link),
[href$=".apng"]:not(link),
[href$=".svg"]:not(link),
[href$=".svgz"]:not(link)
```

##Test
```html_example
<a href="/file.png">Wanna file?</a>
```
*/
$href: ('[download]');

@each $format in $formats {
  $href: append($href, unquote('[href$=".#{$format}"]:not(link)'), 'comma');
}

#{$href} {
  @include advice('file-format');
}


/*doc
---
title: "Duplicated roles"
name: duplicate-roles
category: Advices
---

##Description
Some ARIA roles should be unique: at least `[main]`, `[search]`, `[banner]`, `[contentinfo]`.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-12-10>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip>

##Selector
```css_example
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"]
```

##Test
```html_example
<main role="main"><br /></main>
<div role="main"><br /></div>
```
*/
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"] {
  @include advice('duplicate-roles');
}


/*doc
---
title: "May have a search [role]?"
name: missing-role
category: Advices
---

##Description
A `[class]` or `[id]` containing search may carry the search ARIA `[role]`.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-12-10>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip>

##Selector
```css_example
[id*="search"]:not([role="search"]),
[class*="search"]:not([role="search"])
```

##Test
```html_example
<form class="search" action="">
  <label for="field">Search</label>
  <input type="search" id="field" /><span>†</span>
</form>
```
*/
[id*="search"]:not([role="search"]),
[class*="search"]:not([role="search"]) {
  @include advice('missing-role');
}

input[id*="search"]:not([role="search"]),
input[class*="search"]:not([role="search"]) {
  @include advice('missing-role', $self-closing: true);
}

[role="search"] [id*="search"]:not([role="search"]),
[role="search"] [class*="search"]:not([role="search"]) {
  @include a11y-reset;
}


/*doc
---
title: "Does this look like [required]?"
name: required
category: Advices
---

##Description
A `[required]` or `[aria-required]` should be visually understandable.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-11-10>
* <https://www.w3.org/TR/WCAG20/#minimize-error-cues>

##Selector
```css_example
[required],
[aria-required]
```

##Test
```html_example
<form action="">
  <label for="field">Fied</label>
  <textarea id="field" required></textarea><span>†</span>
</form>
```
*/
[required],
[aria-required] {
  @include advice('required', $self-closing: true);
}

input[required],
input[aria-required],
select[required],
select[aria-required],
textarea[required],
textarea[aria-required] {
  @include advice('required', $self-closing: true);
}


/*doc
---
title: "Not :empty [hidden] things"
name: hidden
category: Advices
---

##Description
A `[hidden]` or `[aria-hidden]` may not be a good idea if hiding content.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-10-13>
* <https://www.w3.org/TR/WCAG20/#ensure-compat-rsv>

##Selector
```css_example
[hidden]:not(:empty),
[aria-hidden="true"]:not(:empty)
```

##Test
```html_example
<a href="/" aria-hidden="true">Important thing!</a>
```
*/
[hidden]:not(:empty),
[aria-hidden="true"]:not(:empty) {
  @include advice('hidden');

  @include void-tags {
    @include advice('hidden', $self-closing: true);
  }
}



/*doc
---
title: "Placeholder can't replace a label"
name: placeholder
category: Advices
---

##Description
A `[placeholder]` is not a label, is it?

##Selector
```css_example
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby])
```

##Test
```html_example
<input type="text" placeholder="Look Ma, no label!" id="test"><span>†</span>
```
*/
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) {
  @include advice('placeholder', $self-closing: true);
}

label [placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) {
  @include a11y-reset;
}


/*doc
---
title: "video or audio things"
name: video-audio
category: Advices
---

##Description
A `<video>` or `<audio>` needs a few things to be accessible, like a transcript, subtitles, controls. This kind of things.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-4-1>
* <https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt>
* <https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-4-13>
* <https://www.w3.org/TR/WCAG20/#media-equiv-text-doc>

##Selector
```css_example
video,
audio
```

##Test
```html_example
<video src="/" controls></video><span>†</span>
```
*/
video,
audio {
  @include advice('video-audio', $self-closing: true);
}


/*doc
---
title: "[title] should be equal to alternative"
name: title
category: Advices
---

##Description
A `[title]` on any graphic content should be equal to `[aria-label]` or `[alt]`.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-1-3>
* <https://www.w3.org/TR/WCAG20/#text-equiv-all>
* <https://www.w3.org/WAI/tutorials/images/decision-tree/>
* <https://www.w3.org/TR/html51/semantics.html#alt>

##Selector
```css_example
img[alt][title],
area[alt][title],
svg[aria-label][title]
```

##Test
```html_example
<img src="static/ffoodd.png" alt="I'm an alternative text!" title="I'm a title!" height="144" width="144"><span>†</span>
```
*/
img[alt][title],
area[alt][title],
svg[aria-label][title] {
  @include advice('title', $self-closing: true);
}


/*doc
---
title: "Date and time should be understandable"
name: time
category: Advices
---

##Description
A `<time>` or `[datetime]` content should be an understandable and well formated date.

##Selector
```css_example
time,
[datetime]
```

##Test
```html_example
<time>Yesterday</time>
```
*/
time,
[datetime] {
  @include advice('time');
}


/*doc
---
title: "[scope] should be either col or row"
name: th-scope
category: Advices
---

##Description
A `[scope]` can be col or row (and nothing else) and it has to be relevant.

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-5-7>
* <https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic>
* <https://www.w3.org/TR/WCAG-TECHS/H63.html>

##Selector
```css_example
th[scope]
```

##Test
```html_example
<table>
  <caption>I'm a caption</caption>
  <thead>
    <tr>
      <th scope="col">First column</th>
      <td>Second column</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First cell</td>
      <td>Second cell</td>
    </tr>
    <tr>
      <td>First cell</td>
      <td>Second cell</td>
    </tr>
  </tbody>
</table>
```
*/
th[scope] {
  @include advice('th-scope');
}


/*doc
---
title: "Layout table in use"
name: table-presentation
category: Advices
---

##Description
A `[role="presentation"]` is a good idea for any `<table>` used for layout, but a bad thing for a data table. Double check this!

##References
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-5-3>
* <https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence>

##Selector
```css_example
table[role="presentation"]
```

##Test
```html_example
<table role="presentation">
  <tr>
    <td>First cell</td>
    <td>Second cell</td>
  </tr>
  <tr>
    <td>First cell</td>
    <td>Second cell</td>
  </tr>
</table>
```
*/
table[role="presentation"] {
  @include advice('table-presentation');
}


/*doc
---
title: "No [href]"
name: no-href
category: Advices
---

##Description
Yet it's valid to skip the `[href]` attribute on a link, it's probably better to double check, isn't it?

##References
* <https://www.w3.org/TR/html/links.html#links-created-by-a-and-area-elements>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L161>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L165>

##Selector
```css_example
a:not([href])
```

##Test
```html_example
<a>Who am I? Where do I link?</a>
```
*/
a:not([href]) {
  @include advice('no-href');
}


/*doc
---
title: "Non HTTPS URL"
name: no-https
category: Advices
---

##Description
When possible, try to use HTTPS.

##References
* <https://twitter.com/fvsch/status/921748801542639616>
* <https://transparencyreport.google.com/https/overview?hl=en>
* <https://letsencrypt.org/>
* <https://checklists.opquast.com/oqs-v3/criteria/les-echanges-de-donnees-sensibles-sont-securises-et-signales-comme-tels>

##Selector
```css_example
[src^="http:"],
[href^="http:"]
```

##Test
```html_example
<a href="http://www.ffoodd.fr/">My target's protocol isn't secured</a>
```
*/
[src^="http:"],
[href^="http:"] {
  @include advice('no-https');
}
