@charset "UTF-8";


/*doc
---
title: 'Empty class attribute'
name: empty-class
category: Advices
---

`[class]` shouldn't be present if empty. Something to improve, right?

```html_example
<b class="">Why is there a class here?</b>
```
*/
[class=""] {
  @include advice("empty-class");
}



/*doc
---
title: 'Empty ID attribute'
name: empty-id
category: Advices
---

`[id]` shouldn't be present if empty. You'll thank me later.

```html_example
<i id="">Wait. Why is this ID empty?</i>
```
*/
[id=""] {
  @include advice("empty-id");
}

nav {
  @include advice("nav");
}

main:not(:first-of-type) {
  @include advice("main");
}

// @see http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figure-element
figcaption:not(:only-of-type) {
  @include advice("figcaption");
}

figcaption:not(:first-child):not(:last-child) {
  @include advice("figcaption-order");
}

[href^="mailto"] {
  @include advice("mailto");
}

// @see https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L169
.btn:not(a):not(button):not(input):not([tabindex]),
.bouton:not(a):not(button):not(input):not([tabindex]),
.button:not(a):not(button):not(input):not([tabindex]) {
  @include advice("fake-button");
}

// @see https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L174
a[role="button"] {
  @include advice("role-button");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-13-2
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs
// @see http://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context
[target$="blank"] {
  @include advice("target-blank");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-13-6
// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-13-7
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs
[download],
[href$=".pdf"],
[href$=".doc"],
[href$=".png"],
[href$=".jpg"],
[href$=".gif"],
[href$=".mp3"],
[href$=".mp4"],
[href$=".mov"],
[href$=".ogg"],
[href$=".xls"],
[href$=".txt"],
[href$=".zip"],
[href$=".rar"],
[href$=".docx"] {
  @include advice("file-format");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-12-10
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"] {
  @include advice("duplicate-roles");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-12-10
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip
.search:not([role="search"]),
#search:not([role="search"]) {
  @include advice("search");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-10
// @see http://www.w3.org/TR/WCAG20/#minimize-error-cues
[required],
[aria-required] {
  @include advice("required");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-10
// @see http://www.w3.org/TR/WCAG20/#minimize-error-cues
input[required],
input[aria-required] {
  @include advice("required", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-10-13
// @see http://www.w3.org/TR/WCAG20/#ensure-compat-rsv
[hidden]:not(:empty),
[aria-hidden]:not(:empty) {
  @include advice("hidden");
}

[placeholder] {
  @include advice("placeholder");
}

input[placeholder] {
  @include advice("placeholder", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-4-1
// @see http://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt
// @see http://www.w3.org/TR/WCAG20/#media-equiv-audio-desc
// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-4-13
// @see http://www.w3.org/TR/WCAG20/#media-equiv-text-doc
video,
audio {
  @include advice("video-audio");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-4-3
// @see http://www.w3.org/TR/WCAG20/#media-equiv-captions
track:not([kind]) {
  @include advice("track", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-1
// @see http://www.w3.org/TR/2008/REC-WCAG20-20081211/#text-equiv-all
:not(figure) svg,
:not(figure) canvas {
  @include advice("embed");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-1
// @see http://www.w3.org/TR/2008/REC-WCAG20-20081211/#text-equiv-all
:not(figure) embed,
:not(figure) object {
  @include advice("embed", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-3
// @see http://www.w3.org/TR/WCAG20/#text-equiv-all
svg[aria-label][title] {
  @include advice("title");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-3
// @see http://www.w3.org/TR/WCAG20/#text-equiv-all
img[alt][title],
area[alt][title] {
  @include advice("title", $self-closing: true);
}

time,
[datetime] {
  @include advice("time");
}

meta[charset] {
  @include advice("meta-charset", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-7
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
th[scope] {
  @include advice("th-scope");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-3
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-sequence
table[role="presentation"] {
  @include advice("table-presentation");
}
