@charset "UTF-8";

a:not([href]),
a[href=""] {
  @include error("no-href");
}

a[href^="javascript"] {
  @include error("href-js");
}

a[href="#"] {
  @include error("empty-href");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-6-5
// @see http://www.w3.org/TR/WCAG20/#text-equiv-all
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-link
a:empty {
  @include error("empty-link");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-6-5
// @see http://www.w3.org/TR/WCAG20/#text-equiv-all
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-link
a img:only-child:not([alt]) {
  @include error("empty-image-link");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-1
// @see http://www.w3.org/TR/2008/REC-WCAG20-20081211/#text-equiv-all
img:not([alt]),
area:not([alt]),
input[type="image"]:not([alt]) {
  @include error("no-alt", $self-closing: true);
}

img:not([src]),
img[src=""],
img[src="#"],
input[type="image"]:not([src]),
input[type="image"][src=""],
input[type="image"][src="#"] {
  @include error("no-src", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-1
// @see http://www.w3.org/TR/WCAG20/#minimize-error-cues
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
label:not([for]),
label[for=""] {
  @include error("no-for");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-1
// @see http://www.w3.org/TR/WCAG20/#minimize-error-cues
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
input:not([type="button"]):not([type="submit"]):not([type="hidden"]):not([type="reset"]):not([type="image"]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]),
select:not([id]),
select[id=""],
textarea:not([id]),
textarea[id=""] {
  @include error("no-id", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-9
// @see http://www.w3.org/TR/WCAG20/#ensure-compat-rsv
input[type="reset"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="submit"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="button"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]) {
  @include error("no-value", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-9
// @see http://www.w3.org/TR/WCAG20/#ensure-compat-rsv
button:empty:not([aria-labelledby]) {
  @include error("empty-button");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-11
// @see http://www.w3.org/TR/WCAG20/#minimize-error-suggestions
input:not([type]),
input[type=""] {
  @include error("no-type", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-8
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
optgroup:not([label]) {
  @include error("optgroup");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-2-1
// @see http://www.w3.org/TR/WCAG20/#ensure-compat-rsv
iframe:not([title]),
iframe[title=""] {
  @include error("no-title");
}

form:not([action]) {
  @include error("no-action");
}

[class=""] {
  @include error("empty-class");
}

[id=""] {
  @include error("empty-id");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-3
// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-4
// @see http://www.w3.org/TR/WCAG20/#meaning-doc-lang-id
html:not([lang]),
html[lang=""] {
  @include error("no-lang");
}

meta[http-equiv="refresh"] {
  @include error("meta-refresh", $self-closing: true);
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-5
// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-6
// @see http://www.w3.org/TR/WCAG20/#navigation-mechanisms-title
title:empty {
  @include error("no-page-title");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-8
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
table[role="presentation"] th,
table[role="presentation"] thead,
table[role="presentation"] tfoot,
table[role="presentation"] caption,
table[role="presentation"] [axis],
table[role="presentation"] [scope],
table[role="presentation"] [headers],
table[role="presentation"] [colgroup] {
  @include error("table-for-layout");
}

// @see BP156 OpQuast
// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-10-1
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-sequence
[style] {
  @include error("style-attr");
}

// @see http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-10-1
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic
// @see http://www.w3.org/TR/WCAG20/#content-structure-separation-sequence
:not(img)[width],
:not(img)[height] {
  @include error("dimensions");
}

[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll],
[onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {
  @include error("js-events");
}
