@charset "UTF-8";

a:not([href]),
a[href=""] {
  @include error('no-href');
}

a[href^="javascript"] {
  @include error('href-js');
}

a[href="#"] {
  @include error('empty-href');
}

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=90
a:empty {
  @include error('empty-link');
}

// @see BP1 OpQuast
img:not([alt]),
area:not([alt]),
input[type="image"]:not([alt]) {
  @include error('no-alt', $self-closing: true);
}

// @see BP1 OpQuast
img[alt=" "],
area[alt=" "],
input[type="image"][alt=" "] {
  @include error('empty-alt', $self-closing: true);
}

img:not([src]),
img[src=""],
img[src="#"],
input[type="image"]:not([src]),
input[type="image"][src=""],
input[type="image"][src="#"] {
  @include error('no-src', $self-closing: true);
}

label:not([for]),
label[for=""] {
  @include error('no-for');
}

input:not([id]),
input[id=""],
select:not([id]),
select[id=""],
textarea:not([id]),
textarea[id=""] {
  @include error('no-id', $self-closing: true);
}

input:not([type]),
input[type=""] {
  @include error('no-type', $self-closing: true);
}

input[type="submit"]:not([value]),
input[type="button"]:not([value]) {
  @include error('no-value', $self-closing: true);
}

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=179
optgroup:not([label]) {
  @include error('optgroup');
}

iframe:not([title]),
iframe[title=""] {
  @include error('no-title');
}

form:not([action]) {
  @include error('no-action');
}

[class=""] {
  @include error('empty-class');
}

[id=""] {
  @include error('empty-id');
}

// @see http://www.accessiweb.org/forumhtml5/viewtopic.php?id=109
html:not([lang]) {
  @include error('no-lang');
}

meta[http-equiv="refresh"] {
  @include error('meta-refresh', $self-closing: true);
}

[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll],
[onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {
  @include error('js-events');
}
