@charset 'UTF-8';

/*doc
---
title: "Old school tags"
name: tags
category: Obsolete
---

##Description
Many, many tags are obsolete in HTML5. You should care!

##Reference
* <https://www.w3.org/TR/html5/obsolete.html#obsolete>
* <https://www.w3.org/TR/html52/changes.html#features-removed>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-8-2>

##Selector
```css_example
applet,
acronym,
bgsound,
dir,
frame,
frameset,
noframes,
hgroup,
isindex,
listing,
nextid,
noembed,
plaintext,
rb,
rtc,
strike,
xmp,
basefont,
big,
blink,
center,
font,
marquee,
multicol,
nobr,
spacer,
tt,
keygen,
menu,
menuitem
```

##Test
```html_example
<acronym title="World Wide Web Consortium">W3C</acronym>
```
*/
applet,
acronym,
bgsound,
dir,
frame,
frameset,
noframes,
hgroup,
isindex,
listing,
nextid,
noembed,
plaintext,
rb,
rtc,
strike,
xmp,
basefont,
big,
blink,
center,
font,
marquee,
multicol,
nobr,
spacer,
tt,
keygen,
menu,
menuitem {
  @include obsolete('tags');
}


/*doc
---
title: "Old school attributes"
name: attributes
category: Obsolete
---

##Description
Many, many attributes are obsolete in HTML5. You should care!

##Reference
* <https://www.w3.org/TR/html5/obsolete.html#obsolete>
* <https://w3c.github.io/html/obsolete.html#non-conforming-features>
* <https://www.w3.org/TR/html52/changes.html#features-removed>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-8-2>
* <https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta>

##Selector
```css_example
[dropzone],
a[charset], link[charset],
a[coords],
a[shape],
a[methods], link[methods],
a[name], embed[name], img[name], option[name],
a[rev], link[rev],
a[urn], link[urn],
form[accept],
area[nohref],
area[type],
area[hreflang],
head[profile],
html[version],
input[ismap],
input[usemap],
input[inputmode],
iframe[longdesc], img[longdesc],
img[lowsrc],
link[target],
meta[scheme],
meta[http-equiv="content-language"],
meta[http-equiv="content-type"],
meta[http-equiv="set-cookie"],
object[archive],
object[classid],
object[code],
object[codebase],
object[codetype],
object[declare],
object[standby],
param[type],
param[valuetype],
script[language],
script[event],
script[for],
table[datapagesize],
table[summary],
td[axis], th[axis],
td[scope],
td[abbr],
a[datasrc], applet[datasrc], button[datasrc], div[datasrc], frame[datasrc], iframe[datasrc], img[datasrc], input[datasrc], label[datasrc], legend[datasrc], marquee[datasrc], object[datasrc], option[datasrc], select[datasrc], span[datasrc], table[datasrc], textarea[datasrc],
a[datafld], applet[datafld], button[datafld], div[datafld], fieldset[datafld], frame[datafld], iframe[datafld], img[datafld], input[datafld], label[datafld], legend[datafld], marquee[datafld], object[datafld], param[datafld], select[datafld], span[datafld], textarea[datafld],
button[dataformatas], div[dataformatas], input[dataformatas], label[dataformatas], legend[dataformatas], marquee[dataformatas], object[dataformatas], option[dataformatas], select[dataformatas], span[dataformatas], table[dataformatas],
body[alink],
body[bgcolor], table[bgcolor], td[bgcolor], th[bgcolor], tr[bgcolor],
body[link],
body[marginbottom],
body[marginheight], iframe[marginheight],
body[marginleft],
body[marginright],
body[margintop],
body[marginwidth], iframe[marginwidth],
body[text],
body[vlink],
br[clear],
col[char], tbody[char], thead[char], tfoot[char], td[char], th[char], tr[char],
col[charoff], tbody[charoff], thead[charoff], tfoot[charoff], td[charoff], th[charoff], tr[charoff],
col[valign], tbody[valign], thead[valign], tfoot[valign], td[valign], th[valign], tr[valign],
col[width], hr[width], pre[width], table[width], td[width], th[width],
dl[compact], ol[compact], ul[compact],
embed[hspace], iframe[hspace], input[hspace], img[hspace], object[hspace],
embed[vspace], iframe[vspace], input[vspace], img[vspace], object[vspace],
hr[color],
hr[noshade],
hr[size],
h1[align], h2[align], h3[align], h4[align], h5[align], h6[align], iframe[align], caption[align], col[align], div[align], embed[align], hr[align], input[align], img[align], legend[align], object[align], p[align], table[align], tbody[align], thead[align], tfoot[align], td[align], th[align], tr[align],
iframe[allowtransparency],
iframe[frameborder],
iframe[framespacing],
iframe[scrolling],
img[border], object[border],
li[type], ul[type],
table[cellpadding],
table[cellspacing],
table[frame],
table[rules],
td[height], th[height],
td[nowrap], th[nowrap],
body[background], table[background], thead[background], tbody[background], tfoot[background], tr[background], td[background], th[background]
```

##Test
```html_example
<h3 align="right">I'm using [align]!</h3>
```
*/
[dropzone],
a[charset], link[charset],
a[coords],
a[shape],
a[methods], link[methods],
a[name], option[name], embed[name], img[name],
a[rev], link[rev],
a[urn], link[urn],
form[accept],
head[profile],
html[version],
link[target],
param[type],
param[valuetype],
script[language],
script[event],
script[for],
table[datapagesize],
table[summary],
td[axis], th[axis],
td[scope],
td[abbr],
a[datasrc], applet[datasrc], button[datasrc], div[datasrc], frame[datasrc], label[datasrc], legend[datasrc], marquee[datasrc], option[datasrc], span[datasrc], table[datasrc],
a[datafld], applet[datafld], button[datafld], div[datafld], fieldset[datafld], frame[datafld], label[datafld], legend[datafld], marquee[datafld], param[datafld], span[datafld],
button[dataformatas], div[dataformatas], label[dataformatas], legend[dataformatas], marquee[dataformatas], option[dataformatas], span[dataformatas], table[dataformatas],
body[alink],
body[bgcolor], table[bgcolor], td[bgcolor], th[bgcolor], tr[bgcolor],
body[link],
body[marginbottom],
body[marginheight],
body[marginleft],
body[marginright],
body[margintop],
body[marginwidth],
body[text],
body[vlink],
col[char], tbody[char], thead[char], tfoot[char], td[char], th[char], tr[char],
col[charoff], tbody[charoff], thead[charoff], tfoot[charoff], td[charoff], th[charoff], tr[charoff],
col[valign], tbody[valign], thead[valign], tfoot[valign], td[valign], th[valign], tr[valign],
col[width], pre[width], table[width], td[width], th[width],
dl[compact], ol[compact], ul[compact],
h1[align], h2[align], h3[align], h4[align], h5[align], h6[align], caption[align], col[align], div[align], legend[align], p[align], table[align], tbody[align], thead[align], tfoot[align], td[align], th[align], tr[align],
li[type], ul[type],
table[cellpadding],
table[cellspacing],
table[frame],
table[rules],
td[height], th[height],
td[nowrap], th[nowrap],
body[background], table[background], thead[background], tbody[background], tfoot[background], tr[background], td[background], th[background] {
  @include obsolete('attributes');
}

embed[name], img[name],
area[nohref],
area[type],
area[hreflang],
input[ismap],
input[usemap],
iframe[longdesc], img[longdesc],
img[lowsrc],
object[archive],
object[classid],
object[code],
object[codebase],
object[codetype],
object[declare],
object[standby],
iframe[datasrc], img[datasrc], input[datasrc],object[datasrc], select[datasrc], textarea[datasrc],
iframe[datafld], img[datafld], input[datafld], object[datafld], select[datafld], textarea[datafld],
input[dataformatas], object[dataformatas], select[dataformatas],
iframe[marginheight],
iframe[marginwidth],
br[clear],
hr[width],
embed[hspace], iframe[hspace], input[hspace], img[hspace], object[hspace],
embed[vspace], iframe[vspace], input[vspace], img[vspace], object[vspace],
hr[color],
hr[noshade],
hr[size],
iframe[align], embed[align], hr[align], input[align], img[align], object[align],
iframe[allowtransparency],
iframe[frameborder],
iframe[framespacing],
iframe[scrolling],
img[border], object[border],
input[inputmode] {
  @include obsolete('attributes', $self-closing: true);
}

link[charset], link[methods],
link[rev], link[urn],
link[target],
meta[scheme],
meta[http-equiv="content-language"],
meta[http-equiv="content-type"],
meta[http-equiv="set-cookie"],
script[language],
script[event],
script[for] {
  @include obsolete('attributes', $self-closing: true, $head: true);
  @include a11y-head($self-closing: true);
}
