@charset "UTF-8";


/*doc
---
title: "Invalid nesting in a list"
name: invalid-list-nesting
category: Warnings
---

The only child allowed in `<ul>` and `<ol>` is `<li>` - and the converse is also true.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-2>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-parses>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-rsv>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L313>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L433>
* <http://www.w3.org/TR/html5/grouping-content.html#the-li-element>

```html_example
<ul>
  <p>I feel like I'm lost.</p>
</ul>

<li>Mom? Where are you, Mom?</li>
```
*/
ul > :not(li),
ol > :not(li),
:not(ul):not(ol) > li {
  @include warning("invalid-list-nesting");
}


/*doc
---
title: "Invalid sibling in a definition list"
name: invalid-def
category: Warnings
---

`<dt>` and `<dd>` should be direct adjacent siblings, and nothing else. Although multiple `<dd>` may follow a single `<dt>`.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-2>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-parses>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-rsv>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L312>
* <http://www.w3.org/TR/html5/grouping-content.html#the-dl-element>

```html_example
<dl>
  <li>I'm a list item.</li>
  <dd>What do I define?</dd>
</dl>

<dl>
  <dt>I need a definition, don't you think?</dt>
  <li>I'm a list item.</li>
</dl>
```
*/
dt + :not(dd),
:not(dt):not(dd) + dd {
  @include warning("invalid-def");
}


/*doc
---
title: "Invalid nesting in a definition list"
name: invalid-def-nesting
category: Warnings
---

`<dt>` and `<dd>` should be direct children of `<dl>`.
Any other imbrication may be a crime somewhere.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-2>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-parses>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-rsv>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L318>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L439>
* <http://www.w3.org/TR/html5/grouping-content.html#the-dl-element>

```html_example
<dl>
  <li>I'm a list item.</li>
  <li>I'm another list item.</li>
</dl>

<dd>Look, Ma! No context for my definition!</dd>

<dl>
  <li>I'm a list item.</li>
</dl>

<dt>I'm a lost term.</dt>
```
*/
:not(dl) > dt,
:not(dl) > dd,
dl > :not(dt):not(dd) {
  @include warning("invalid-def-nesting");
}


/*doc
---
title: "figcaption outside a figure"
name: invalid-figcaption-nesting
category: Warnings
---

`<figcaption>` doesn't make sense outside a `<figure>`.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-8-2>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-parses>
* <http://www.w3.org/TR/WCAG20/#ensure-compat-rsv>
* <http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figcaption-element>

```html_example
<figcaption>I'm captionning something, isn't it?</figcaption>
```
*/
:not(figure) > figcaption {
  @include warning("invalid-figcaption-nesting");
}


/*doc
---
title: "figure without the group ARIA role"
name: figure-role
category: Warnings
---

`<figure>` needs `[role="group"]` for accessibility reason.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#test-1-10-1>
* <http://www.w3.org/TR/html-alt-techniques/#m6>

```html_example
<figure>
  <img src="static/ffoodd.png" width="144" height="144" alt="Figcaption test"/>
  <figcaption>I'm a figcaption</figcaption>
</figure>
```
*/
figure:not([role="group"]) {
  @include warning("figure-role");
}

/*doc
---
title: "Invalid nesting"
name: invalid-nesting
category: Warnings
---

Some nestings are forbidden, and do not have their own test case for now:
* `<option>` and `<optgroup>` outside a `<select>`;
* `<fieldset>` outside a `<form>`;
* `<legend>` outside a `<fieldset>`;
* `<td>` or `<th>` outside a `<tr>`;
* direct children of a `<table>`.

Maybe other invalid nestings to test. Stay tuned.


* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L277>

```html_example
<option>I'm an option. Am I?</option>
<legend>I'm an legend. Am I?</legend>
```
*/
select > :not(option):not(optgroup),
:not(select):not(optgroup) > option,
optgroup > :not(option),
:not(select) > optgroup,
:not(form) > fieldset,
:not(fieldset) > legend,
tr > :not(td):not(th),
table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption) {
  @include warning("invalid-nesting");
}


/*doc
---
title: "Misplaced div"
name: misplaced-div
category: Warnings
---

Did you know that you shouldn't add a `<div>` inside any inline element?
You could use a `<span>` instead.

* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L326>

```html_example
<b><div>Hey ya!</div></b>
```
*/
b div,
i div,
q div,
em div,
abbr div,
cite div,
code div,
span div,
small div,
label div,
strong div {
  @include warning("misplaced-div");
}


/*doc
---
title: "Misused sectioning tags"
name: sectioning-tags
category: Warnings
---

`<section>`, `<aside>`, `<article>` are sectioning tags.
They must not be used as wrappers!

* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L252>
* <http://www.w3.org/TR/html5/dom.html#sectioning-content>

```html_example
<aside>
  <section>I'm wrapping, you know.</section>
</aside>
```
*/
aside > aside:first-child,
article > aside:first-child,
aside > article:first-child,
aside > section:first-child,
section > section:first-child,
article > section:first-child,
article > article:first-child {
  @include warning("sectioning-tags");
}


/*doc
---
title: "legend must be a fieldset's:first-child"
name: fieldset
category: Warnings
---

`<legend>` must be a `<fieldset>`'s`:first-child`.
Always.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-11-6>
* <http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic>
* <http://www.w3.org/TR/WCAG20/#minimize-error-cues>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L218>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L449>

```html_example
<fieldset>
  <label>I'm not a legend.</label>
  <legend>I am legend.</legend>
</fieldset>
```
*/
fieldset > *:not(legend):first-child,
fieldset > legend:not(:first-child) {
  @include warning("fieldset");
}


/*doc
---
title: "abbr should have a [title]"
name: empty-title
category: Warnings
---

Any abbreviation should give an explanation about its meaning, at least on its first occurrence.

* BP160 OpQuast
* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-9-4>
* <http://www.w3.org/TR/WCAG20/#meaning-located>
* <http://www.w3.org/TR/WCAG-TECHS/G70.html>
* <http://www.w3.org/TR/WCAG-TECHS/G97.html>
* <http://www.w3.org/TR/WCAG-TECHS/G102.html>
* <http://www.w3.org/TR/WCAG-TECHS/H28.html>

```html_example
<p>Do you know about <abbr>W3C</abbr>?</p>
```
*/
abbr:not([title]),
abbr[title=""] {
  @include warning("empty-title");
}


/*doc
---
title: "[alt] can be empty but has to be checked"
name: empty-alt
category: Warnings
---

An alternative has to be empty when image is decorative only. In any other case, `[alt]` must be defined.
That should be double-checked.

* BP160 OpQuast
* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-1-2>
* <http://www.w3.org/TR/2008/REC-WCAG20-20081211/#text-equiv-all>
* <http://www.w3.org/TR/WCAG-TECHS/H67.html>
* <http://www.w3.org/TR/WCAG-TECHS/F39.html>
* <http://www.w3.org/TR/WCAG-TECHS/F38.html>

```html_example
<img alt="" src="static/ffoodd.png" width="144" height="144" /><i> </i>
```
*/
img:not([role="presentation"])[alt=""],
area:not([role="presentation"])[alt=""],
input[type="image"]:not([role="presentation"])[alt=""] {
  @include warning("empty-alt", $self-closing: true);
}

embed[type="image"]:not([role="presentation"])[alt=""],
object[type="image"]:not([role="presentation"])[alt=""] {
  @include warning("empty-alt");
}


/*doc
---
title: "A label is needed for svg"
name: no-aria-label
category: Warnings
---

Any informative `<svg>` should either have a `[aria-label]`, `[aria-labelledby]` or a `<desc>` AND have a `[role="img"]`.

Otherwise it should have a `[role="presentation"]`, and should not have any of those:
* `[title]`;
* `[aria-label]`;
* `[aria-labelledby]`;
* `[aria-describedby]`;
* a `<title>` child;
* or a `<desc>`.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#test-1-1-4>
* <http://references.modernisation.gouv.fr/sites/default/files/RGAA3/note_technique.htm#nT1-1>
* <http://references.modernisation.gouv.fr/sites/default/files/RGAA3/note_technique.htm#nT1-6>
* <http://www.w3.org/TR/2008/REC-WCAG20-20081211/#text-equiv-all>
* <http://www.w3.org/TR/WCAG-TECHS/F65.html>

```html_example
<svg width="12cm" height="4cm" viewBox="0 0 1200 400"
     xmlns="http://www.w3.org/2000/svg" version="1.1">
  <rect x="400" y="100" width="400" height="200"
        fill="forestgreen" stroke="darkgreen" stroke-width="10"  />
</svg><i> </i>
```
*/
svg:not([role="presentation"]):not([role="img"]):not([aria-label]):not([aria-labelledby]) {
  @include warning("no-aria-label", $self-closing: true);
}


/*doc
---
title: "[autoplay] should probably not be used"
name: autoplay
category: Warnings
---

A time-based media like `<audio>` or `<video>` should not `[autoplay]`, because it can be quite surprising for the user.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-4-18>
* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-13-17>
* <http://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio>
* <http://www.punkchip.com/autoplay-is-bad-for-all-users/>

```html_example
<video autoplay controls src=""></video><i> </i>
```
*/
video[autoplay],
audio[autoplay] {
  @include warning("autoplay", $self-closing: true);
}


/*doc
---
title: "[controls] would be helpful"
name: controls
category: Warnings
---

A time-based media like `<audio>` or `<video>` would be easier to use if `[controls]` are activated for the user.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-4-20>
* <http://www.w3.org/TR/WCAG20/#media-equiv-audio-desc>
* <http://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable>
* <http://www.w3.org/TR/WCAG20/#keyboard-operation-trapping>
* <http://www.w3.org/TR/WCAG-TECHS/G4.html>

```html_example
<video src=""></video><i> </i>
```
*/
video:not([controls]),
audio:not([controls]) {
  @include warning("controls", $self-closing: true);
}


/*doc
---
title: "Most of DOM nodes shouldn't be :empty"
name: empty-nodes
category: Warnings
---

Obviously void elements are empty, as well as `<iframe>` and `<textarea>` could be `:empty`.
Any other empty tag is probably useless, and should be deleted.

* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L243>
* <http://www.w3.org/TR/html-markup/syntax.html#void-element>

```html_example
<p id="empty-node_code"></p>
```
*/
*:empty:not([hidden]):not([aria-hidden]):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr) {
  @include warning("empty-nodes");
}


/*doc
---
title: "A single line table may be used for layout"
name: table-layout
category: Warnings
---

A lonely `<tr>` can be a symptom of a table used for layout.
Should be double checked!

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-3>
* <http://www.w3.org/TR/WCAG20/#content-structure-separation-sequence>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L331>

```html_example
<table>
  <caption>I'm a caption :3</caption>
  <tr>
    <td>I'm a poor lonesone table-roooow!</td>
  </tr>
</table>
```
*/
table:not([role="presentation"]) > tr:only-child,
table:not([role="presentation"]) > tbody > tr:only-child {
  @include warning("table-layout");
}


/*doc
---
title: "Every data table must have a caption"
name: table-caption
category: Warnings
---

`<caption>` is needed for data `<table>`.
And it must be the `:first-child`, by the way.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-4>
* <http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic>
* <http://www.w3.org/TR/html5/tabular-data.html#the-caption-element>
* <http://www.w3.org/TR/WCAG-TECHS/H39.html>

```html_example
<table>
  <thead>
    <tr>
      <th id="th-one">I'm a table without a caption!</th>
      <th id="th-two">I'm a table without a caption!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" headers="th-one th-two">I'm a table without a caption!</td>
    </tr>
    <tr>
      <td colspan="2" headers="th-one th-two">I'm a table without a caption!</td>
    </tr>
  </tbody>
</table>
```
*/
table:not([role="presentation"]) > caption:not(:first-child),
table:not([role="presentation"]) > *:first-child:not(caption) {
  @include warning("table-caption");
}


/*doc
---
title: "Invalid table structure"
name: table-structure
category: Warnings
---

`<thead>`, `<tfoot>` and `<tbody>` must be in this order.

* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L316>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L321>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L326>

```html_example
<table>
  <caption>I'm a caption</caption>
  <tbody>
    <tr>
      <td>I'm a table with tfoot done wrong.</td>
      <td>I'm a table with tfoot done wrong.</td>
    </tr>
    <tr>
      <td>I'm a table with tfoot done wrong.</td>
      <td>I'm a table with tfoot done wrong.</td>
    </tr>
  </tbody>
  <tfoot>
    <th id="th-1">I'm a table with tfoot done wrong.</th>
    <th id="th-2">I'm a table with tfoot done wrong.</th>
  </tfoot>
</table>
```
*/
table > tfoot ~ thead,
table > tbody ~ tfoot,
table > tbody ~ thead {
  @include warning("table-structure");
}


/*doc
---
title: "Missing head for data table"
name: missing-thead
category: Warnings
---

`<thead>` is strongly needed if `<tbody>` is present.

* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L311>

```html_example
<table>
  <caption>issing thead</caption>
  <tbody>
    <tr>
      <td>I'm a table without thead.</td>
      <td>I'm a table without thead.</td>
    </tr>
    <tr>
      <td>I'm a table without thead.</td>
      <td>I'm a table without thead.</td>
    </tr>
  </tbody>
</table>
```
*/
table:not([role="presentation"]) > tbody:first-child {
  @include warning("missing-thead");
}


/*doc
---
title: "th without [scope] or [id]"
name: th-no-scope
category: Warnings
---

`<th>` strongly needs an `[id]` or a `[scope]`.

* <http://www.accessiweb.org/index.php/accessiweb-html5aria-liste-deployee.html#crit-5-7>
* <http://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic>
* <http://www.w3.org/TR/WCAG20-TECHS/H43.html>
* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L282>

```html_example
<table>
  <caption>Need for a [scope] or [id]</caption>
  <tr>
    <th>I'm a th without [scope] or [id].</th>
    <th>I'm a th without [scope] or [id].</th>
  </tr>
  <tr>
    <td>I'm a td missing something.</td>
    <td>I'm a td missing something.</td>
  </tr>
</table>
```
*/
th:not([scope]):not([id]) {
  @include warning("th-no-scope");
}


/*doc
---
title: "Unothaurized colgroup child"
name: not-col
category: Warnings
---

Anything but `<col>` is forbidden inside a `<colgroup>`.

* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L342>
* <http://www.w3.org/TR/html5/tabular-data.html#the-colgroup-element>

```html_example
<table>
  <caption>Invalid colgroup child</caption>
  <colgroup>
    <td>Invalid colgroup child.</td>
    <td>Invalid colgroup child.</td>
  </colgroup>
  <tr>
    <th>Invalid colgroup child.</th>
    <th>Invalid colgroup child.</th>
  </tr>
  <tr>
    <td>Invalid colgroup child.</td>
    <td>Invalid colgroup child.</td>
  </tr>
</table>
```
*/
colgroup:not([span]) *:not(col) {
  @include warning("not-col");
}


/*doc
---
title: "toggle [class] without [aria-*]"
name: aria-pressed
category: Warnings
---

Anything with a `[class]` containing "toggle" probably needs some ARIA flavour, isn't it?

* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L185>

```html_example
<a class="toggle-machin" href="/">Do I toggle anything?</a>
```
*/
[class*="toggle"]:not([aria-expanded]):not([aria-haspopup]) {
  @include warning("aria-pressed");
}


/*doc
---
title: "spacer.gif used"
name: spacer-gif
category: Warnings
---

Believe me, this still have to be tested.

* <https://github.com/yahoo/debugCSS/blob/master/debugCSS.css#L381>

```html_example
<img src="spacer.gif" alt="Spacer.gif" width="100" height="100"/><i> </i>
```
*/
img[src*="spacer.gif"]:not([role="presentation"]) {
  @include warning("spacer-gif", $self-closing: true);
}


/*doc
---
title: "Bad computed value"
name: null-undefined
category: Warnings
---

Don't laugh, shit happens.

```html_example
<p class="undefined">Oups, something went wrong.</p>
```
*/
[id*="NaN"],
[id*="null"],
[class*="NaN"],
[class*="null"],
[id*="undefined"],
[class*="undefined"] {
  @include warning("undefined");
}
