@charset "UTF-8";

/*doc
---
title: ""
name: check-alt-0
category: WebExtension
---

The [WebExtension — which has its own repository —](https://github.com/ffoodd/a11y.css-webextension) provides some more tools requiring a bit of JavaScript:

* Force focus;
* Show `lang` attributes;
* Check `alt` and `title` for `<img>`;
* Increase text spacings.

### Description

This page provides fake content with:

* language attributes,
* images: some have a correct `alt` attribute, some don't, some have an empty `alt`.

This enables us to test two  webextension's modules.

### References for `alt` and `title` on `<img>`
* <https://accessibilite.numerique.gouv.fr/methode/criteres-et-tests/#1.1>
* <https://accessibilite.numerique.gouv.fr/methode/criteres-et-tests/#1.2>
* <https://www.accede-web.com/notices/html-et-css/images-et-icones/gerer-lattribut-alt-des-balises-img-et-input-typeimage/>
* <https://www.w3.org/WAI/tutorials/images/decision-tree/>
* <https://html.spec.whatwg.org/multipage/images.html#alt>
* <https://www.w3.org/TR/WCAG22/#non-text-content>
* <https://www.w3.org/WAI/WCAG22/Techniques/html/H36>
* <https://www.w3.org/WAI/WCAG22/Techniques/html/H37>
* <https://www.w3.org/WAI/WCAG22/Techniques/html/H24>
* <https://www.w3.org/WAI/WCAG22/Techniques/html/H67>
* <https://www.w3.org/WAI/WCAG22/Techniques/failures/F39>
* <https://www.w3.org/WAI/WCAG22/Techniques/failures/F38>
* <https://www.w3.org/WAI/WCAG22/Techniques/failures/F65>

### References for text spacing
* <https://www.w3.org/TR/WCAG22/#text-spacing>
* <https://www.tpgi.com/short-note-on-getting-spaced-out-with-sc-1-4-12-text-spacing/>.

*/

/*doc
---
title: "No alt, no title"
name: check-alt-1
category: WebExtension
---

``` html
<img src="/static/checkalts/1.jpg" /><span>†</span>
```
*/

/*doc
---
title: "One alt, one title"
name: check-alt-2
category: WebExtension
---

``` html
<img alt="A typewriter" title="Last day of August" src="/static/checkalts/2.jpg" /><span>†</span>
```
*/

/*doc
---
title: "Empty alt, no title"
name: check-alt-3
category: WebExtension
---

``` html
<img alt="" src="/static/checkalts/3.jpg" /><span>†</span>
```
*/

/*doc
---
title: "One alt, no title"
name: check-alt-4
category: WebExtension
---

``` html
<img src="/static/checkalts/4.jpg" alt="Sunset" /><span>†</span>
```
*/

/*doc
---
title: "[lang]"
name: check-alt-6
category: WebExtension
---

### Selector
```css
[lang]
```

### Test
``` html
<p>Just testing languages. <span lang="fr">Voilà</span>.</p>
```
*/

/*doc
---
title: "[hreflang]"
name: check-alt-5
category: WebExtension
---

### Selector
```css
[hreflang]
```

### Test
``` html
<p>Here comes a simple to <a href="https://www.ffoodd.fr" hreflang="fr">my very own website</a>.</p>
```
*/
