@charset 'UTF-8';

/// Defines the minimum level used by `a11y.css`.
/// Either:
/// * `error` for errors only;
/// * `warning` for errors and warnings;
/// * `obsolete` for everything but advices;
/// * `advice` for everything.
/// @access public
/// @param {String} $level
/// @output Nothing
/// @example scss - Defines the minimum level to `error` to display only errors.
///  @include set-minimum-level("error");
@mixin set-minimum-level($level) {
  $level: to-lower-case($level);
  $levels: map-keys($themes);

  @if not index($levels, $level) {
    $default-level: nth($levels, -1);
    $level: $default-level;

    @warn 'Level `#{$level}` does not exist. '
      + 'Please choose one of `#{inspect($levels)}`. '
      + 'Falling back on `#{$default-level}`';
  }

  $minimum-level: $level !global;
}


/// Get a message from the translation map based on the defined language.
/// The message contains the icon associated to the message type.
/// @access private
/// @group messages
/// @param {String} $theme - Theme name
/// @param {String} $key - Key name
/// @require {function} message
/// @require $themes
/// @output `content`, with `!important`
/// @example scss - Get message for `nav` from `advice` category when language is set to `en`
/// .selector {
///   @include message("advice", "nav");
/// }
/// @example css - Resulting CSS
/// .selector {
///   content: "\2665\00A0 Did you know the <nav> tag is exclusively restricted to primary and secondary navigation area?";
/// }
@mixin message($theme, $key) {
  content: replace-attr(quote("#{unquote(theme-conf($theme, 'icon'))} #{message($theme, $key)}")) !important;
}


/// Extends selector with self-closing tags & replaced elements
/// Notice the `&` before the selector, and `$self-closing: true` argument.
/// @access private
/// @require {variable} void-tags
/// @output `selectors` extended with void tags
/// @example scss - Apply a test to void tags
///  .selector {
///    @include advice("nav")
///      
///    @include void-tags {
///      @include advice("nav", $self-closing: true);
///    }
///  }
/// @example css - `.selector` extended
///  area .selector, base .selector, br .selector, col .selector, command .selector, embed .selector, hr .selector, img .selector, input .selector, keygen .selector, link .selector, meta .selector, param .selector, source .selector, track .selector, wbr .selector, textarea .selector, select .selector, svg .selector, audio .selector, video .selector, iframe .selector {
///    content: "\2665\00A0 Did you know the <nav> tag is exclusively restricted to primary and secondary navigation area?";
///  }
@mixin void-tags {
  & {
    &#{$void-tags} {
      @content;
    }
  }
}


/// Theme mixin extending everything needed for the `$theme`,
/// and including a message in a pseudo-element.
/// @access private
/// @param {String} $theme - Theme
/// @param {String} $key - Key used to fetch message in `$messages` map
/// @param {Bool} $self-closing [false] - Whether or not to use message on self or next node
/// @requires {mixin} message
/// @requires {function} theme-conf
@mixin item($theme, $key, $self-closing: false) {
  $is-disabled: index(map-get($disabled-tests, $theme), $key);

  @if is-level-enough($theme) and not $is-disabled {
    @include a11y($theme, $key, $self-closing);
  }
}


/// Defines an error
/// @group messages
/// @access public
/// @param {String} $key - Key used to fetch message in `$messages` map
/// @param {Bool} $self-closing [false] - Whether or not to use message on self or next node
/// @require {mixin} item
/// @example scss - Define an error
/// .selector {
///   @include error("no-src");
/// }
@mixin error($key, $self-closing: false) {
  @include item('error', $key, $self-closing);
}


/// Defines a warning
/// @group messages
/// @access public
/// @param {String} $key - Key used to fetch message in `$messages` map
/// @param {Bool} $self-closing [false] - Whether or not to use message on self or next node
/// @require {mixin} item
/// @example scss - Define an warning
/// .selector {
///   @include warning("abbr");
/// }
@mixin warning($key, $self-closing: false) {
  @include item('warning', $key, $self-closing);
}


/// Defines an obsolete thing
/// @group messages
/// @access public
/// @param {String} $key - Key used to fetch message in `$messages` map
/// @param {Bool} $self-closing [false] - Whether or not to use message on self or next node
/// @require {mixin} item
/// @example scss - Define an obsolete
/// .selector {
///   @include obsolete("any");
/// }
@mixin obsolete($key, $self-closing: false) {
  @include item('obsolete', $key, $self-closing);
}

/// Defines an advice
/// @group messages
/// @access public
/// @param {String} $key - Key used to fetch message in `$messages` map
/// @param {Bool} $self-closing [false] - Whether or not to use message on self or next node
/// @require {mixin} item
/// @example scss - Define an advice
/// .selector {
///   @include advice("nav");
/// }
@mixin advice($key, $self-closing: false) {
  @include item('advice', $key, $self-closing);
}


/// Disable specific tests
/// @group messages
/// @access public
/// @param {Arglist} $keys - Keys of tests to disable
/// @require $disabled-tests
/// @example scss - Disable a specific test
///  @include disable("error:tab-order")
@mixin disable-tests($keys...) {
  @each $key in $keys {
    $disabled-tests: append($disabled-tests, $key) !global;
  }
}


/// Display messages on <head>'s tags
/// @group messages
/// @access public
/// @param {Arglist} $tag - Text to display, recommended: tag name
/// @param {Arglist} $theme - Message's level
/// @require {function} theme-conf
/// @example scss - Display messages on <head>'s tags
///  @include a11y-head("title", error)
@mixin a11y-head($tag, $theme) {
  // Because it's in the <head>
  display: block !important;

  &::after {
    content: $tag;

    background:   change_color(theme-conf($theme, 'color'), $saturation: 75%, $lightness: 95%) !important;
    border-color: change_color(theme-conf($theme, 'color'), $saturation: 50%, $lightness: 50%) !important;
    color:        change_color(theme-conf($theme, 'color'), $saturation: 50%, $lightness: 25%) !important;

    border-style: solid                                                   !important;
    border-width: 0 0 0 1px                                               !important;
    border-radius: 0                                                      !important;
    cursor: pointer;
    display: inline-block                                                 !important;
    padding: .5em 1em;

    position: fixed                                                       !important;
    bottom: auto                                                          !important;
    left: 1em                                                             !important;
    right: auto                                                           !important;
    top: 5em                                                              !important;

    font: 400
          normal
          1rem/1.5
          "Source Code Pro",
          "SourceCodePro-Medium",
          "Fira Mono",
          "Droid Sans Mono",
          "Ubuntu Mono",
          "Consolas",
          "Monaco",
          "Andale Mono",
          monospace                                                       !important;
    text-align: left                                                      !important;
    text-decoration: none                                                 !important;
    text-shadow: 0 1px 0 rgba( 255, 255, 255, .2 )                        !important;
    text-transform: none                                                  !important;
    white-space: pre;
  }
}


/// Defines `head::after`'s `content` and `background-image` depending on `$minimum-level`.
/// @param {String} $minimum-level - Inheriting minimum level
/// @output `content` and `background-image`
/// @access public
/// @require {function} theme-conf
/// @require {function} is-level-enough
/// @example scss - Display counters on <head>'s ::after
///  @include base-content($minimum-level);
@mixin base-content($minimum-level) {
  $background: ();
  $content: ();

  // @note Line breaks can be triggered by «\A» within the message content.
  // @see issue #7, solution from @7studio
  @each $theme in map-keys($themes) {
    @if is-level-enough($theme) {
      $background-offset: theme-conf($theme, 'background-offset');
      $background-theme:
        transparent $background-offset,
        theme-conf($theme, 'color') $background-offset,
        theme-conf($theme, 'color') ($background-offset + 0.2em),
        transparent ($background-offset + 0.2em);
      $background: append($background, $background-theme, 'comma');
      $content-theme: message('ui', $theme) ': ' #{counter(error)} '\A ';
      $content: append($content, $content-theme);
    }
  }

  background-image: linear-gradient(to bottom, transparent, $background, transparent 100%);
  content: $content;
}

/// TBA.
@mixin a11y-before {
  border-style: solid                                                   !important;
  border-width: 0 0 1px                                                 !important;
  border-radius: 0                                                      !important;
  display: block                                                        !important;
  height: auto                                                          !important;
  width: 100%                                                           !important;
  padding: 1em 0;

  position: fixed                                                       !important;
  bottom: auto                                                          !important;
  left: 0                                                               !important;
  right: 0                                                              !important;
  top: 0                                                                !important;

  pointer-events: none                                                  !important;
  opacity: 0;

  font: 400
        normal
        1rem/1.5
        "Source Code Pro",
        "SourceCodePro-Medium",
        "Fira Mono",
        "Droid Sans Mono",
        "Ubuntu Mono",
        "Consolas",
        "Monaco",
        "Andale Mono",
        monospace                                                       !important;
  text-align: center                                                    !important;
  text-decoration: none                                                 !important;
  text-shadow: 0 1px 0 rgba( 255, 255, 255, .2 )                        !important;
  text-transform: none                                                  !important;
  transform:          translateY( -100% ) translateZ( 0 )               !important;
  transition:         transform .3s ease-in                             !important;
  white-space: pre;
}

/// TBA.
@mixin a11y-hover {
  opacity: 1;
  transform:          translateY( 0 ) translateZ( 0 )                   !important;
  transition:         transform .3s ease-in                             !important;
}

/// TBA.
@mixin a11y($theme, $key, $self-closing: false) {
  $base-selector: '&::before';
  $event-selector: '&:hover::before, &:focus::before';

  counter-increment: unquote($theme);
  outline: 4px solid theme-conf($theme, 'color') !important;
  outline-offset: -4px;

  @if $self-closing {
    $base-selector: '& ~ ::after';
    $event-selector: '&:hover ~ ::after, &:focus ~ ::after';
    background-color: transparentize(theme-conf($theme, 'color'), .75) !important;
  }

  #{$base-selector} {
    @include a11y-before;
    @include message($theme, $key);
    background:   change-color(theme-conf($theme, 'color'), $saturation: 75%, $lightness: 95%) !important;
    border-color: change-color(theme-conf($theme, 'color'), $saturation: 50%, $lightness: 50%) !important;
    color:        change-color(theme-conf($theme, 'color'), $saturation: 50%, $lightness: 25%) !important;
    z-index: theme-conf($theme, 'index') !important;
  }

  #{$event-selector} {
    @include a11y-hover;
  }
}

/// Provides a way to cancel a message
@mixin a11y-reset {
  &,
  &:hover,
  &:focus {
    counter-increment: none !important;
    outline: none           !important;
    outline-offset: 0       !important;

    &::before,
    & ~ ::after {
      content: ""           !important;
    }
  }
}
