@charset 'UTF-8';


/// This map holds configuration for all themes.
/// Each theme has an icon, a color and a z-index, and a background offset.
/// @type Map
/// @prop {Map} theme
/// @prop {String} theme.icon  - Theme icon
/// @prop {Color} theme.color  - Theme color
/// @prop {Number} theme.index - Theme z-index
/// @prop {Length} theme.background-offset - Theme background-offset
$themes: (
  'error': (
    'icon': '\2620\00A0',
    'color': #911,
    'index': 2147483647,
    'background-offset': 1.4em
  ),
  'warning': (
    'icon': '\2622\00A0',
    'color': gold,
    'index': 2147483646,
    'background-offset': 2.9em
  ),
  'obsolete': (
    'icon': '\271D\00A0',
    'color': royalblue,
    'index': 2147483645,
    'background-offset': 4.4em
  ),
  'advice': (
    'icon': '\2665\00A0',
    'color': olivedrab,
    'index': 2147483644,
    'background-offset': 5.9em
  ),
);

/// Map of disabled tests, referred by their key
/// @type List
$disabled-tests: ();

/// List of self-closing tags & replaced elements
/// @access private
/// Every HTMl tag that do not allow generated content through pseudo-elements.
/// @type List
/// @link http://thenewcode.com/461/What-The-Heck-Is-A-Replaced-Element
/// @link https://la-cascade.io/quest-ce-quun-element-remplace/
$void-tags: area, base, br, col, command, embed, hr, img, input, keygen, link, meta, param, source, track, wbr, textarea, select, svg, audio, video, iframe;
