@charset 'UTF-8';

/// Messages map
/// @access private
/// @type Map
/// @prop {Map} theme
/// @prop {Map} theme.key
/// @prop {Map} theme.key.fr - French version of the message
/// @prop {Map} theme.key.en - English version of the message
$messages: (
  'advice': (
    'empty-class': (
      'fr': 'Sacrebleu ! Attribut [class] vide.',
      'en': 'Empty [class] attribute.'
    ),
    'empty-id': (
      'fr': 'Tiens ? Un attribut [id] vide ?',
      'en': 'Empty [id] attribute.'
    ),
    'main': (
      'fr': '<main> est réservée à la zone de contenu principal, et doit donc être unique :) .',
      'en': 'The <main> tag is exclusively restricted to the main content area, thus should be unique :).'
    ),
    'figcaption': (
      'fr': '<figcaption> décrit le contenu d’une <figure> et doit donc être unique dans cette <figure>. \A \A0  Oups :) .',
      'en': 'The <figcaption> tag describes a <figure> content, thus should be unique in these <figure>. \A \A0  Oups!'
    ),
    'figcaption-order': (
      'fr': '<figcaption> est censé être le premier ou le dernier enfant d’une <figure>. \A \A0  On en apprend tous les jours !',
      'en': 'The <figcaption> tag is supposed to be <figure>’s first or last child. \A \A0  You learn something every day!'
    ),
    'target-blank': (
      'fr': 'L’utilisateur doit être averti si un lien ouvre une nouvelle fenêtre. \A \A0  Mais vous y avez pensé, non :) ?',
      'en': 'User should be warned whenever a link is being opened in a new tab. \A \A0  Is that OK?'
    ),
    'mailto': (
      'fr': 'L’adresse mail est valide, pas vrai ?',
      'en': 'This email is valid, isn’t it?'
    ),
    'tel': (
      'fr': 'Vais-je appeler un vrai numéro de téléphone ?',
      'en': 'Will I call a real phone number?'
    ),
    'role-button': (
      'fr': 'Ce lien est déguisé en bouton. Un vrai <button> serait probablement mieux :)',
      'en': 'This link is disguised as a button. A real <button> would be better :)'
    ),
    'file-format': (
      'fr': 'Le format et le poids d’un fichier téléchargeable devraient être indiqués — et il devrait être accessible.',
      'en': 'Format and size from a downloadable file should be displayed, and accessible.'
    ),
    'duplicate-roles': (
      'fr': 'Le rôle ARIA attr(role) devrait être uniques, mais celui-ci est le deuxième dans la page !',
      'en': 'ARIA role attr(role) should be unique, but this one is the second!'
    ),
    'missing-role': (
      'fr': 'Vu ! Cet élément semble être la recherche. \A \A0  Mais alors, le rôle ARIA est là, non ?',
      'en': 'Gotcha! This component seems to be the search. \A \A0  Where is the ARIA role?'
    ),
    'required': (
      'fr': 'Le caractère obligatoire d’un champ doit être indiqué intelligiblement (en texte) et pas seulement par la couleur.',
      'en': 'The fact that a field is required should be explicitly pointed out, and not only with colors.'
    ),
    'hidden': (
      'fr': 'Cet élément — masqué aux technologies d’assistance — ne porte aucune information, vous en êtes bien sûr ?',
      'en': 'Are you plain sure this element should be hidden to accessibility helpers?'
    ),
    'placeholder': (
      'fr': 'Saviez-vous qu’un placeholder ne peut pas remplacer un <label> ?',
      'en': 'Are you aware that a placeholder can’t replace a <label>?'
    ),
    'video-audio': (
      'fr': 'Les médias temporels doivent disposer d’une alternative, d’un transcript ou d’un sous-titrage (<track>), et indiquer leur durée.',
      'en': 'Time-based medias should have an alternate version, like a transcript or subtitles (<track>), and have their duration displayed.'
    ),
    'title': (
      'fr': 'L’attribut [title], s’il est présent, doit être identique à l’alternative renseignée. \A \A0  À vous de jouer ;-) .',
      'en': '[title] attribute, if present, should be identical to the given alternative. \A \A0  Your move!'
    ),
    'time': (
      'fr': 'Le format de date est-il compréhensible ?',
      'en': 'Is this is a valid date format?'
    ),
    'th-scope': (
      'fr': 'Cette cellule d’en-tête s’applique à la totalité de la attr(scope), vrai ou pas ? \A \A0  C’est ce que dit son [scope], en tout cas.',
      'en': 'This head cell applies to a attr(scope), doesn’t it? \A \A0  That’s what its [scope] says.'
    ),
    'table-presentation': (
      'fr': 'Un tableau de mise en forme ne doit pas avoir de résumé. \A \A0  Il doit également rester compréhensible une fois linéarisé.',
      'en': 'A presentional table should not contain a summary nor a caption. \A \A0  And it should be understandable once linearized.'
    )
  ),

  'error': (
    'tab-order': (
      'fr': 'Ne perturbez pas l’ordre de tabulation naturel. C’est comme tuer des chatons.',
      'en': 'Do not disrupt the natural tab order. It’s like killing kittens.'
    ),
    'no-href': (
      'fr': 'Attribut [href], [id] ou [name] absent. Un lien doit avoir/être une cible, non ?',
      'en': 'Missing [href], [id] or [name] attribute. A link must be/have a target, don’t you think?'
    ),
    'empty-link': (
      'fr': 'Ce lien est vide et n’a aucun intitulé. Dommage…',
      'en': 'Empty link without any kind of label. Empty link…'
    ),
    'no-alt': (
      'fr': 'Attribut [alt] manquant. Quelle hérésie.',
      'en': 'Missing [alt] attribute. Sacrilege!'
    ),
    'no-src': (
      'fr': 'Attribut [src] ou [srcset] manquant ou vide. Bon.',
      'en': '[src] or [srcset] attribute missing or empty. Oh, well…'
    ),
    'no-for': (
      'fr': 'Attribut [for] manquant. Pourtant il doit bien servir à quelque chose, ce label, non ?',
      'en': 'Missing [for] attribute. Still, this label must be here for some reason.'
    ),
    'no-id': (
      'fr': 'Ce champ est indescriptible. Vous avez pourtant le choix : \A \A0  [title], [id], [aria-label], [aria-labelledby].',
      'en': 'This field is indescribable. However you got choices: \A \A0  [title], [id], [aria-label], [aria-labelledby].'
    ),
    'optgroup': (
      'fr': 'Vous avez regroupé des options, mais aucun attribut label ne présente ce groupe d’options. \A \A0  Dommage…',
      'en': 'You have gathered options, but no label attribute introduces this options group. \A \A0  Too bad…'
    ),
    'no-value': (
      'fr': 'Ça fait quoi, si je clique dessus ? \A \A0  Avec [value], [title] ou [aria-label], j’aurais su :)',
      'en': 'What should happen when I click? \A \A0  Too bad. [value], [title] or [aria-label] could have told me :)'
    ),
    'empty-button': (
      'fr': 'Ça fait quoi, si je clique dessus ? \A \A0  Il manque du contenu ou un intitulé via [aria-label], [aria-labelledby] ou [title].',
      'en': 'What should happen when I click? \A \A0  It’s missing a content or a title via [aria-label], [aria-labelledby] or [title].'
    ),
    'empty-button-attr': (
      'fr': '[aria-label], [aria-labelledby] ou [title] sur un <button> ne doivent pas être vides. C’est gênant !',
      'en': '[aria-label], [aria-labelledby] or [title] on a <button> must not be empty. That’s awkward!'
    ),
    'not-form-button': (
      'fr': 'Par défaut, un bouton est un [type=submit], mais celui-ci n’est pas dans un formulaire… Qu’est-il censé faire ?',
      'en': 'A button is [type=submit] if it misses a type. But this one isn’t in a form, so what is it supposed to do?'
    ),
    'not-submit-button': (
      'fr': 'Un bouton de type attr(type) ne devrait pas porter des attributs de soumission de formulaire.',
      'en': 'A button with a type of attr(type) shouldn’t have any form submission attributes.'
    ),
    'disabled-button': (
      'fr': 'Si ce bouton est désactivé, ajoutez-lui l’attribut [disabled] ou [readonly], s’il-vous-plaît.',
      'en': 'If it’s disabled, please use a [disabled] or [readonly] attribute on this button.'
    ),
    'no-type': (
      'fr': 'Attribut [type] manquant ou vide. \A \A0  On met quoi, dans ce champ ?',
      'en': 'Missing or empty [type] attribute. \A \A0  What is the field for then?'
    ),
    'no-title': (
      'fr': 'Attribut [title] manquant ou vide. \A \A0  Dieu seul sait ce que contient cette <iframe>.',
      'en': 'Missing or empty [title]. \A \A0  Only God knows what is this <iframe>.'
    ),
    'no-action': (
      'fr': 'Attribut [action] manquant. \A \A0  Et après, il se passe quoi ?',
      'en': 'Missing [action] attribute. \A \A0  What now?'
    ),
    'no-page-title': (
      'fr': 'La balise <title> est vide. C’est l’élément le plus important d’une page web, vous savez ?',
      'en': 'The <title> tag is empty. Don’t you know it’s the most important tag in a web page?'
    ),
    'table-for-layout': (
      'fr': 'Un élément/attribut avec une valeur sémantique n’a rien à faire dans un tableau de mise en page.',
      'en': 'A tag/attribute with a semantic value has nothing to do in a table used for layout.'
    ),
    'style-attr': (
      'fr': 'Éléments supportant des styles en ligne. \A \A0  Préférez utiliser des classes ou IDs.',
      'en': 'Inline styles. \A \A0  You’d better use classes or IDs.'
    ),
    'dimensions': (
      'fr': 'Sapristi ! Les attributs [width] et [height] ne sont autorisés que sur les <img>, <object>, <embed>, <svg> et <canvas> !',
      'en': 'By jove! [width] & [height] attributes are forbidden on any tags but <img>, <object>, <embed>, <svg> and <canvas>!'
    ),
    'no-lang': (
      'fr': 'Pas d’attribut lang/xml:lang sur la balise <html>. \A \A0  JAWS va avoir un accent chelou.',
      'en': 'No lang/xml:lang found on <html> tag. \A \A0  JAWS will have a weird accent!'
    ),
    'js-events': (
      'fr': 'Attribut d’événements javascript. Un fichier JS externe serait préférable :)',
      'en': 'JavaScript event attributes. An external JS file would be better :)'
    ),
    'no-aria-describedby':  (
      'fr': 'Si le champ est obligatoire, une indication doit exister : \A \A0  liez-la au champ à l’aide de aria-describedby et de son ID. Merci !',
      'en': 'If field is mandatory, it should be explicity told so. \A \A0  Map an indication to the field with [aria-describedby] and its [id].'
    ),
    'namespace':  (
      'fr': 'Les classes et identifiants doivent respecter une grammaire définie. Et ce truc-là, ça marche pas.',
      'en': 'Classes and IDs must follow a specific grammar. And this thing here doesn’t.'
    )
  ),

  'warning': (
    'invalid-nesting': (
      'fr': 'Imbrication inadéquate d’éléments. \A \A0  Ça peut heurter la sensibilité des plus jeunes, vous savez ?',
      'en': 'Invalid nesting. \A \A0  Please be aware this may offend the viewer.'
    ),
    'invalid-list-nesting': (
      'fr': '<li> doit être un enfant direct d’une liste <ul> ou <ol>.',
      'en': '<li> must be a direct child of <ul> or <ol>.'
    ),
    'invalid-def': (
      'fr': 'Une définition doit suivre un terme à définir. Plutôt logique, n’est-ce pas ?',
      'en': 'Definition must follow definition title. Pretty easy, isn’t it?'
    ),
    'invalid-def-nesting': (
      'fr': '<dl> contient un ou plusieurs groupe(s) de <dt> et <dd>. \A \A0  Aucun autre usage des ces balises n’est permis.',
      'en': '<dl> contains one or more groups of <dt> and <dd>. \A \A0  Any other use of those tags is forbidden.'
    ),
    'invalid-figcaption-nesting': (
      'fr': '<figcaption> est perdu dans la vie, sans sa <figure> parente.',
      'en': 'Poor <figcaption> is totally lost without its parent <figure>.'
    ),
    'figure-role': (
      'fr': '<figure> a besoin du [role="group"] pour une meilleure accessibilité.',
      'en': '<figure> needs [role="group"] to improve its accessibility.'
    ),
    'misplaced-div': (
      'fr': 'Ne mettez pas une <div> dans un élément en ligne, c’est sale.',
      'en': 'Do not put <div> inside inline element. That’s dirty.'
    ),
    'sectioning-tags': (
      'fr': 'Les éléments sectionnants ne sont pas des conteneurs arbitraires. Utilisez des <div>.',
      'en': 'Sectioning tags are not arbitrary wrappers. Use <div> here.'
    ),
    'fieldset': (
      'fr': 'Imbrication inadéquate d’éléments. \A \A0  Un fieldset doit enfanter d’une légende d’abord, sinon rien.',
      'en': 'Invalid nesting. \A \A0  A fieldset should contain a <legend> before anything else.'
    ),
    'abbr': (
      'fr': 'Attribut [title] vide ou manquant. \A \A0  Jetez un œil à la BP 160 d’OpQuast ;-) ',
      'en': 'Missing or empty [title]. \A \A0  Have a look at at BP 16 from OpQuast!'
    ),
    'empty-alt': (
      'fr': 'Attribut [alt] vide. \A \A0  C’est toléré pour les images de décoration uniquement. Est-ce le cas ?',
      'en': 'Empty [alt] attribute. \A \A0  This is only okay for decorative images. Is it a decorative image?'
    ),
    'no-aria-label': (
      'fr': 'Ce svg n’a pas d’attribut [role], [aria-label] ou [aria-labelledby]. \A \A0  Si ce n’est pas décoratif, un élément <desc> devrait être présent. Il y en a un ?',
      'en': 'No [role]/[aria-label]/[aria-labelledby] attribute for this SVG. \A \A0  If it’s not decorative, it’s only okay if a <desc> tag is included. Is this ok?'
    ),
    'autoplay': (
      'fr': 'Ce média temporel se déclenche automatiquement. Existe-t-il un moyen de l’arrêter ?',
      'en': 'This time-based media plays automatically. Is there a way to stop it?'
    ),
    'controls': (
      'fr': 'Ce média temporel ne dispose pas des contrôles par défaut. \A \A0  Avez-vous implémenté des contrôles satisfaisants ?',
      'en': 'This time-based media doesn’t use native controls. \A \A0  Did you add satisfying controls on your own?'
    ),
    'empty-nodes': (
      'fr': 'Élément vide. Diantre.',
      'en': 'Empty element. Oh my.'
    ),
    'empty-title': (
      'fr': 'L’attribut [title] est vide ou absent. Que signifie cette abréviation ?',
      'en': 'Empty [title] atribute. What does this abbreviation mean?'
    ),
    'table-layout': (
      'fr': 'Une seule ligne ? Est-ce vraiment là une donnée tabulaire ?',
      'en': 'A single row ? Is this really tabular data?'
    ),
    'table-caption': (
      'fr': 'Un tableau de données doit avoir un titre, sous forme de <caption> — et ce doit être le premier enfant direct.',
      'en': 'A data table should have a <caption> - and it must be the first direct child.'
    ),
    'table-structure': (
      'fr': 'Voilà dans quel ordre vous devriez les mettre : <thead>, <tfoot> puis <tbody>.',
      'en': 'Here is the right order for those tags: <thead>, <tfoot> then <tbody>.'
    ),
    'missing-thead': (
      'fr': 'Soit il manque un <thead> — voire même un <tfoot> — dans ce tableau de données, \A \A0  soit vous devriez ajouter un [role="presentation"], s’il s’agit d’un tableau de mise en forme.',
      'en': 'Either you’re missing a <thead> (even <tfoot>, maybe) in this data table, \A \A0  or you should add a [role="presentation"], if this a layout table.'
    ),
    'th-no-scope': (
      'fr': 'À quoi s’applique cette cellule d’en-tête ? La totalité de la ligne / colonne ? \A \A0  Si oui, pensez à [scope]. Sinon, il faut probablement un [id] et des [headers].',
      'en': 'Does this head cell apply to a full line/row, or not? \A \A0  If so, think of [scope]. If not, use an [id] with [headers].'
    ),
    'spacer-gif': (
      'fr': 'Vous utilisez un "spacer.gif". Quel âge a votre site, déjà ?',
      'en': 'You’re using "spacer.gif". How old is your website?'
    ),
    'undefined': (
      'fr': 'Vous n’essayeriez pas de calculer une [class] ou un [id] dynamiquement, vous ? \A \A0  PArce que là, je vois null ou undefined.',
      'en': 'Don’t you try to dynamically compute an [id] or a [class]? \A \A0  Because I see null or undefined, here.'
    ),
    'empty-href': (
      'fr': 'Attribut [href=attr(href)]. Pourquoi ? Un <button> semble plus indiqué.',
      'en': '[href=attr(href)] attribute. Why? A <button> would be semantically better.'
    ),
    'href-js': (
      'fr': 'Attribut [href] débutant par javascript. Ça n’augure rien de bon… \A \A0  Sauf si c’est un bookmarklet. Genre a11y.css :)',
      'en': '[href] attribute starting with `javascript:`. Doesn’t sound good… \A \A0  Except for a bookmarklet. Like a11y.css :)'
    )
  ),

  'obsolete': (
    'tags': (
      'fr': 'Élément obsolète. Ça fait un peu daté :D.',
      'en': 'Obsolete element. This is kinda old school :D'
    ),
    'attributes': (
      'fr': 'Attribut(s) obsolète(s). Ça fait un peu daté :D.',
      'en': 'Obsolete attribute. This is kinda old school :D'
    )
  )
);


/// Max z-index
/// @access private
/// This is the maximum allowed z-index on most browsers.
/// If a z-index value happens to be higher, all browsers truncate it to this value.
/// This is meant to make sure messages will always be on top of everything else.
/// @type Number
/// @link http://www.puidokas.com/max-z-index/
$max-z-index: 2147483647;


/// This map holds configuration for all themes. Each theme has an icon, a color and a z-index.
/// @type Map
/// @prop {Map} theme
/// @prop {String} theme.icon  - Theme icon
/// @prop {Color} theme.color  - Theme color
/// @prop {Number} theme.index - Theme z-index
$themes: (
  'error': (
    'icon': '\2620\00A0',
    'color': #911,
    'index': ($max-z-index),
    'name': (
      'fr': 'Erreurs',
      'en': 'Errors'
    )
  ),
  'warning': (
    'icon': '\2622\00A0',
    'color': gold,
    'index': ($max-z-index - 1),
    'name': (
      'fr': 'Avertissements',
      'en': 'Warnings'
    )
  ),
  'obsolete': (
    'icon': '\271D\00A0',
    'color': royalblue,
    'index': ($max-z-index - 2),
    'name': (
      'fr': 'Obsolètes',
      'en': 'Obsoletes'
    )
  ),
  'advice': (
    'icon': '\2665\00A0',
    'color': olivedrab,
    'index': ($max-z-index - 3),
    'name': (
      'fr': 'Conseils',
      'en': 'Advices'
    )
  ),
);

/// Map of disabled tests per type, referred by their key
/// @type Map
/// @prop {List} error - Lists of disabled 'error' tests
/// @prop {List} warning - Lists of disabled 'warning' tests
/// @prop {List} obsolete - Lists of disabled 'obsolete' tests
/// @prop {List} advice - Lists of disabled 'advice' tests
$disabled-tests: (
  'error': (),
  'warning': (),
  'obsolete': (),
  'advice': (),
);

/// List of self-closing tags & replaced elements
/// @access private
/// Every HTMl tag that do not allow generated content through pseudo-elements.
/// @type List
/// @link http://thenewcode.com/461/What-The-Heck-Is-A-Replaced-Element
/// @link https://la-cascade.io/quest-ce-quun-element-remplace/
$void-tags: area, base, br, col, command, embed, hr, img, input, keygen, link, meta, param, source, track, wbr, textarea, select, svg, audio, video, iframe;
