@charset 'UTF-8';


/// Max z-index
/// @access private
/// This is the maximum allowed z-index on most browsers.
/// If a z-index value happens to be higher, all browsers truncate it to this value.
/// This is meant to make sure messages will always be on top of everything else.
/// @type Number
/// @link http://www.puidokas.com/max-z-index/
$max-z-index: 2147483647;


/// This map holds configuration for all themes. Each theme has an icon, a color and a z-index.
/// @type Map
/// @prop {Map} theme
/// @prop {String} theme.icon  - Theme icon
/// @prop {Color} theme.color  - Theme color
/// @prop {Number} theme.index - Theme z-index
$themes: (
  'error': (
    'icon': '\2620\00A0',
    'color': #911,
    'index': ($max-z-index),
    'background-offset': 1.4em
  ),
  'warning': (
    'icon': '\2622\00A0',
    'color': gold,
    'index': ($max-z-index - 1),
    'background-offset': 2.9em
  ),
  'obsolete': (
    'icon': '\271D\00A0',
    'color': royalblue,
    'index': ($max-z-index - 2),
    'background-offset': 4.4em
  ),
  'advice': (
    'icon': '\2665\00A0',
    'color': olivedrab,
    'index': ($max-z-index - 3),
    'background-offset': 5.9em
  ),
);

/// Map of disabled tests per type, referred by their key
/// @type Map
/// @prop {List} error - Lists of disabled 'error' tests
/// @prop {List} warning - Lists of disabled 'warning' tests
/// @prop {List} obsolete - Lists of disabled 'obsolete' tests
/// @prop {List} advice - Lists of disabled 'advice' tests
$disabled-tests: (
  'error': (),
  'warning': (),
  'obsolete': (),
  'advice': (),
);

/// List of self-closing tags & replaced elements
/// @access private
/// Every HTMl tag that do not allow generated content through pseudo-elements.
/// @type List
/// @link http://thenewcode.com/461/What-The-Heck-Is-A-Replaced-Element
/// @link https://la-cascade.io/quest-ce-quun-element-remplace/
$void-tags: area, base, br, col, command, embed, hr, img, input, keygen, link, meta, param, source, track, wbr, textarea, select, svg, audio, video, iframe;
