nav::after {
  @include message('advice', 'nav');
}

main:not(:first-of-type)::after {
  @include message('advice', 'main');
}

section:not([aria-labelledby])::after {
  @include message('advice', 'section');
}

figure:not([role="group"])::after {
  @include message('advice', 'figure');
}

figure img:not([aria-describedby])::after,
figure img:not([aria-describedby]):hover ~ *::after {
  @include message('advice', 'figure-img');
}

[target="_blank"]::after {
  @include message('advice', 'target-blank');
}

[href$=".pdf"],
[href$=".doc"],
[href$=".docx"],
[href$=".xls"],
[href$=".txt"] {
  &::after {
    @include message('advice', 'file-format');
  }
}

.search:not([role="search"])::after,
#search:not([role="search"])::after {
  @include message('advice', 'search');
}

[required]::after,
[aria-required]::after,
input[required]:hover ~ *::after,
input[aria-required]:hover ~ *::after {
  @include message('advice', 'required');
}

[hidden]:not(:empty)::after,
[aria-hidden]:not(:empty)::after {
  @include message('advice', 'hidden');
}

[placeholder]::after,
input[placeholder]:hover ~ *::after {
  @include message('advice', 'placeholder');
}

video::after,
audio::after {
  @include message('advice', 'video-audio');
}

track:not([kind="caption"])::after,
track:not([kind="caption"]):hover ~ *::after {
  @include message('advice', 'track');
}

svg::after,
embed::after,
canvas::after,
object[type^="image"]::after,
embed:hover ~ *::after  {
  @include message('advice', 'embed');
}

img[title]::after,
area[title]::after,
svg[title]::after,
img[title]:hover ~ *::after,
area[title]:hover ~ *::after {
  @include message('advice', 'title');
}

time::after,
[datetime]::after,
[pubdate]::after {
  @include message('advice', 'time');
}

meta[charset]::after,
meta[charset]:hover ~ *::after {
  @include message('advice', 'meta-charset');
}
