a:not([href])::after,
a[href=""]::after {
  @include message('error', 'no-href');
}

a[href="#"]::after {
  @include message('error', 'empty-href');
}

a[href^="javascript"]::after {
  @include message('error', 'href-js');
}

a:empty::after {
  @include message('error', 'empty-link');
}

img:not([alt])::after,
area:not([alt])::after,
input[type="image"]:not([alt])::after,
img:not([alt]):hover ~ *::after,
area:not([alt]):hover ~ *::after,
input[type="image"]:not([alt]):hover ~ *::after {
  @include message('error', 'no-alt');
}

img[alt=" "]::after,
area[alt=" "]::after,
input[type="image"][alt=" "]::after,
img[alt=" "]:hover ~ *::after,
area[alt=" "]:hover ~ *::after,
input[type="image"][alt=" "]:hover ~ *::after {
  @include message('error', 'empty-alt');
}

img:not([src]),
img[src=""],
img[src="#"],
input[type="image"]:not([src]),
input[type="image"][src=""],
input[type="image"][src="#"] {
  &::after,
  &:hover ~ *::after {
    @include message('error', 'no-src');
  }
}

label:not([for])::after,
label[for=""]::after{
  @include message('error', 'no-for');
}

input:not([id]),
input[id=""],
select:not([id]),
select[id=""],
textarea:not([id]),
textarea[id=""] {
  &::after,
  &:hover ~ *::after {
    @include message('error', 'no-id');
  }
}

optgroup:not([label])::after {
  @include message('error', 'optgroup');
}

input:not([type])::after,
input[type=""]::after,
input:not([type]):hover ~ *::after,
input[type=""]:hover ~ *::after {
  @include message('error', 'no-type');
}

input[type="submit"]:not([value])::after,
input[type="submit"]:not([value]):hover ~ *::after {
  @include message('error', 'no-value');
}

iframe:not([title])::after,
iframe[title=""]::after {
  @include message('error', 'no-title');
}

form:not([action])::after {
  @include message('error', 'no-action');
}

[class=""]::after {
  @include message('error', 'empty-class');
}

[id=""]::after {
  @include message('error', 'empty-id');
}

meta[http-equiv="refresh"]::after {
  @include message('error', 'meta-refresh');
}

html:not([lang])::after {
  @include message('error', 'no-lang');
}

[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll], [onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {
  &::after {
    @include message('error', 'js-events');
  }
}

input[required]:not([aria-describedby]):hover ~ *::after,
input[aria-required]:not([aria-describedby]):hover ~ *::after {
  @include message('error', 'no-aria-describedby');
}
