name: Docs

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main
      - "!dependabot/**"
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 18
  PR_NUMBER: ${{ github.event.number }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "${{ env.NODE }}"
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Build docs
        run: npm run docs

      - name: Check links
        run: npm run docs:lint
